automations/n8n/library/11093-qualify-calendly-leads-in-airtable-with-openai-gpt-based-cat.workflow.json
{
  "id": "x9bBJ2cJbAOXdfpa",
  "meta": {
    "instanceId": "e3f5b14dd829b60d7a052fff9dcdd349fd20ca18d74a872c51a793bc94cd4aaa",
    "owner": "Keith Uy",
    "source": "n8n.io template library",
    "templateId": 11093
  },
  "name": "Calendly Lead Capture + AI Categorization",
  "tags": [],
  "nodes": [
    {
      "id": "eaa352c3-b18c-43c8-83d2-3c8477b4b024",
      "name": "Get Categories",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2208,
        1408
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "apphw1LbQLDW2FpqU",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU",
          "cachedResultName": "Database"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblQbIcsX535WwnPq",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU/tblQbIcsX535WwnPq",
          "cachedResultName": "Categories"
        },
        "options": {},
        "operation": "search"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "npGKq2VNsmiSD4zV",
          "name": "Digiceptual Airtable Connection"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "0ee60f2f-faaa-4ac7-a745-0659964074f8",
      "name": "Update Category",
      "type": "n8n-nodes-base.airtable",
      "position": [
        3232,
        1408
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "apphw1LbQLDW2FpqU",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU",
          "cachedResultName": "Database"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbldgRrQl4FIcvAOB",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU/tbldgRrQl4FIcvAOB",
          "cachedResultName": "Calendly Information"
        },
        "columns": {
          "value": {
            "id": "={{ $('Create a Calendly Meeting').item.json.id }}",
            "Categories": "={{ [ $json.message.content.categoryID ] }}",
            "Event Name": "={{ $('Calendly Webhook').item.json.body.payload.scheduled_event.name }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Event Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Event Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Date",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Meeting Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source Cleaned",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Source Cleaned",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Why they booked",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Why they booked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Categories",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Categories",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pasted field 1",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Pasted field 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pasted field 2",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Pasted field 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "npGKq2VNsmiSD4zV",
          "name": "Digiceptual Airtable Connection"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "9b3d2dc3-57fb-421e-80ee-08f790923b97",
      "name": "Qualified?",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        1552
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "757725a1-ceab-47d0-8051-e5603b49dbf6",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.payload.questions_and_answers[2].answer }}",
              "rightValue": "Yes"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "3e3fdae9-9882-4f86-8aca-2018c0be613f",
      "name": "Event Created or Cancelled?",
      "type": "n8n-nodes-base.if",
      "position": [
        1728,
        1536
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6d63d90c-7266-4bbf-8514-e4e5012717d9",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "invitee.created"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "8f65c2ef-460c-4fe6-9194-8f96a9e4078a",
      "name": "Delete a record",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2432,
        1792
      ],
      "parameters": {
        "id": "={{ $json.id }}",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "apphw1LbQLDW2FpqU",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU",
          "cachedResultName": "Database"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbldgRrQl4FIcvAOB",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU/tbldgRrQl4FIcvAOB",
          "cachedResultName": "Calendly Information"
        },
        "operation": "deleteRecord"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "npGKq2VNsmiSD4zV",
          "name": "Digiceptual Airtable Connection"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "b4e077fc-03bb-4104-8977-30f621d3e72a",
      "name": "Record Exist?",
      "type": "n8n-nodes-base.if",
      "position": [
        2208,
        1888
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9cae2809-f0f1-4e69-8fae-78fa0d6bb3d1",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "2faa8bac-0998-44d1-a2b2-19d28972f68d",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1728,
        1744
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "50957947-b461-495f-a2c0-69b7dbb38c1e",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2432,
        1984
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1593ff90-48ab-43b8-8778-526fa10cf525",
      "name": "Category Assigner",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2880,
        1408
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "GPT-5"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful, intelligent marketing assistant."
            },
            {
              "content": "=I run an advertising and marketing agency for fashion businesses. Your task is to analyze the reasons people have booked a discovery call and categorize them based on the list of categories. You nust output in valid JSON\n\nYou must classify into one of the provided categories.\nCategories: {{ JSON.stringify($('Set Category structure').item.json.Categories) }}\n\nOutput Schema:\n{\n   \"Category\": \"Category goes here\",\n   \"categoryID\": \"Category record ID goes here\"\n}"
            },
            {
              "content": "=Reason for booking: Finding Bestsellers"
            },
            {
              "role": "assistant",
              "content": "{\n\"Category\": \n\"Uncertainty / Strategy Gap\",\n\"categoryID\": \n\"reccAkx7OyaSGaklR\"\n}"
            },
            {
              "content": "=Reason for booking: {{ $('Create a Calendly Meeting').item.json.fields.Source }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "nNUPQt28U7stZkxv",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "0e32969f-4a5f-4772-b169-10a5d2e088af",
      "name": "Set Category structure",
      "type": "n8n-nodes-base.set",
      "position": [
        2656,
        1408
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "956f35b8-71b2-4afa-bb46-98b0f2d762c1",
              "name": "Categories",
              "type": "array",
              "value": "={{ $json[\"Categories\"].map((c, i) => ({ name: c, id: $json[\"categoryIDs\"][i] })) }}"
            },
            {
              "id": "28c0e2f6-473c-4281-a07f-0520f69941b7",
              "name": "categoriesString",
              "type": "array",
              "value": "={{ JSON.stringify($json[\"Categories\"]) }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "66ef6c6a-23a8-4df5-972a-8f65050b17dd",
      "name": "Create a Calendly Meeting",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1984,
        1408
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "apphw1LbQLDW2FpqU",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU",
          "cachedResultName": "Database"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbldgRrQl4FIcvAOB",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU/tbldgRrQl4FIcvAOB",
          "cachedResultName": "Calendly Information"
        },
        "columns": {
          "value": {
            "Name": "={{ $json.body.payload.name }}",
            "Brand": "={{ $json.body.payload.questions_and_answers[1].answer }}",
            "Email": "={{ $json.body.payload.email }}",
            "Phone": "={{ $json.body.payload.questions_and_answers[0].answer }}",
            "Last Name": "={{ $json.body.payload.last_name }}",
            "Event Name": "={{ $json.body.payload.scheduled_event.name }}",
            "First Name": "={{ $json.body.payload.first_name }}",
            "Meeting Date": "={{ $json.body.payload.scheduled_event.end_time }}",
            "Why they booked": "={{ $json.body.payload.questions_and_answers[3].answer || \"\" }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Event Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Event Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Brand",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Date",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Meeting Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source Cleaned",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "Source Cleaned",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Why they booked",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Why they booked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Categories",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Categories",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pasted field 1",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Pasted field 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pasted field 2",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Pasted field 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        },
        "operation": "create"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "npGKq2VNsmiSD4zV",
          "name": "Digiceptual Airtable Connection"
        }
      },
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "id": "47309312-bad4-4b8e-9ae3-73dbf86b47b7",
      "name": "Calendly Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1328,
        1552
      ],
      "webhookId": "821153e6-4052-431e-bc51-ed3b7d2c33b9",
      "parameters": {
        "path": "calendly-events",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "typeVersion": 2.1
    },
    {
      "id": "fcb91951-49d2-4261-beef-db8439e50e05",
      "name": "Search records",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1984,
        1888
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "apphw1LbQLDW2FpqU",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU",
          "cachedResultName": "Database"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbldgRrQl4FIcvAOB",
          "cachedResultUrl": "https://airtable.com/apphw1LbQLDW2FpqU/tbldgRrQl4FIcvAOB",
          "cachedResultName": "Calendly Information"
        },
        "options": {},
        "operation": "search",
        "filterByFormula": "={{ `({Name} = \"${$json.body.payload.name}\")` }}"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "npGKq2VNsmiSD4zV",
          "name": "Digiceptual Airtable Connection"
        }
      },
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "id": "48bfad28-a6fa-4f34-b2fd-6214c1003798",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        1280
      ],
      "parameters": {
        "color": 4,
        "width": 528,
        "height": 824,
        "content": "# Calendly Lead Capture + AI Categorizer\n\n## What it's for:\nThis is a base template for anyone taking Calendly bookings and wanting those leads saved into Airtable. It also uses OpenAI to read why someone booked and match them to one of the Categories from your Airtable table.\n\n## How it works:\nInput: Calendly webhook event\n\nn8n Processing:\n-> Checks if the lead is qualified from your Calendly question\n-> If the meeting was created, creates an Airtable record\n-> Pulls your Categories table from Airtable\n-> OpenAI chooses the best Category\n-> Updates the Airtable record with that Category\n-> If the meeting was cancelled, searches Airtable and deletes the matching record\n\n## How to use:\n- Connect Airtable, Calendly, and OpenAI credentials\n- Change the Airtable Base/Table IDs in every Airtable node\n- Update the \"Qualified?\" node if your Calendly question order is different\n- Adjust the \"Category Assigner\" prompt to fit your business and lead types\n- Test with one booked meeting and one cancelled meeting before turning it on.\n\nYou're good to go :D"
      },
      "typeVersion": 1
    },
    {
      "id": "b5797c76-e048-4834-9cfe-89f4e298f4b8",
      "name": "Sticky Note - Intake and Routing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        1312
      ],
      "parameters": {
        "color": 7,
        "width": 576,
        "height": 384,
        "content": "## 1. Capture Calendly Event\n\nThese nodes catch the Calendly event and decide what should happen next.\n\n-> Qualified lead + invitee.created goes to the create lead path\n-> invitee.canceled goes to the delete lead path\n-> Not qualified leads stop here"
      },
      "typeVersion": 1
    },
    {
      "id": "a92aadd0-0b96-4087-9320-489888b6065f",
      "name": "Sticky Note - Handle Cancellations",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        1648
      ],
      "parameters": {
        "color": 7,
        "width": 688,
        "height": 496,
        "content": "## 3. Delete Cancelled Lead\n\nThese nodes are only for cancelled Calendly events.\n\n-> Search Airtable for the person who cancelled\n-> If a record exists, delete it\n-> If no record exists, do nothing"
      },
      "typeVersion": 1
    },
    {
      "id": "9fce59a6-fa6a-489d-806b-2aeacacdd67a",
      "name": "Sticky Note - Create and Categorize Lead",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        1200
      ],
      "parameters": {
        "color": 7,
        "width": 1440,
        "height": 416,
        "content": "## 2. Create New Lead + Add Category\n\nThese nodes create the Airtable record first, then grab your Categories table so OpenAI can choose one.\n\n-> Change field mappings if your Calendly form is different\n-> Edit the OpenAI prompt so the Category choices match your business"
      },
      "typeVersion": 1
    },
    {
      "id": "43e1bf6e-b998-4525-8782-92a13d764b54",
      "name": "Aggregate Categories",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2432,
        1408
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "renameField": true,
              "outputFieldName": "Categories",
              "fieldToAggregate": "Name"
            },
            {
              "renameField": true,
              "outputFieldName": "categoryIDs",
              "fieldToAggregate": "id"
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "7a3ac471-d77a-411a-9093-1511eba058fa",
  "nodeGroups": [],
  "connections": {
    "Qualified?": {
      "main": [
        [
          {
            "node": "Event Created or Cancelled?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Exist?": {
      "main": [
        [
          {
            "node": "Delete a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories": {
      "main": [
        [
          {
            "node": "Aggregate Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Record Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Webhook": {
      "main": [
        [
          {
            "node": "Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Assigner": {
      "main": [
        [
          {
            "node": "Update Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Categories": {
      "main": [
        [
          {
            "node": "Set Category structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Category structure": {
      "main": [
        [
          {
            "node": "Category Assigner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Calendly Meeting": {
      "main": [
        [
          {
            "node": "Get Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Created or Cancelled?": {
      "main": [
        [
          {
            "node": "Create a Calendly Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
