automations/n8n/library/16447-send-weekly-reddit-sentiment-digests-to-notion-with-scrapera.workflow.json
{
  "nodes": [
    {
      "id": "4267e775-142a-46dc-8fce-b585ed381929",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "width": 480,
        "height": 672,
        "content": "## Send weekly Reddit sentiment digests to Notion via ScraperAPI\n\n### How it works\n\n1. Triggers every Monday at 9AM to start the workflow.\n2. Sets and splits source items for processing.\n3. Scrapes data from sources using ScraperAPI.\n4. Performs sentiment analysis and normalizes data.\n5. Compiles data into a weekly digest and updates a Notion page.\n\n### Setup steps\n\n- [ ] Connect ScraperAPI with valid credentials\n- [ ] Configure OpenAI API key for Sentiment Analysis Agent\n- [ ] Setup Notion integration and ensure access permissions\n- [ ] Run the manual setup process to configure Notion database columns\n\n### Customization\n\nThe timing of the scheduled trigger can be customized to meet different operational requirements."
      },
      "typeVersion": 1
    },
    {
      "id": "8e386910-b2ed-4712-8412-9cc56ae9f4f9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 768,
        "height": 288,
        "content": "## Weekly schedule and setup\n\nTriggers the workflow every Monday at 9 AM and sets the source configurations."
      },
      "typeVersion": 1
    },
    {
      "id": "72afa534-453c-482d-986d-0d8e0120be7c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 448,
        "height": 304,
        "content": "## Data scraping and preparation\n\nScrapes data from the sources and converts HTML to plain text, preparing it for analysis."
      },
      "typeVersion": 1
    },
    {
      "id": "416e31e8-b95b-45c6-a402-7915cb93355b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 576,
        "height": 448,
        "content": "## Sentiment analysis processing\n\nAnalyzes sentiment of the prepared text using LLM and normalizes the results."
      },
      "typeVersion": 1
    },
    {
      "id": "22e0bdf4-b80b-4c04-9d91-f77df6328005",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 448,
        "height": 304,
        "content": "## Compile and update Notion\n\nCompiles a weekly digest and updates the Notion page with the results."
      },
      "typeVersion": 1
    },
    {
      "id": "52ff3a41-ebb6-4c52-8cb7-e742c55ad4f9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        400
      ],
      "parameters": {
        "color": 7,
        "width": 768,
        "height": 272,
        "content": "## Initial setup and configuration\n\nManual setup of the Notion database columns, run once to configure."
      },
      "typeVersion": 1
    },
    {
      "id": "schedule-trigger",
      "name": "When Monday at 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        608,
        144
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "configure",
      "name": "Set Source and Notion ID",
      "type": "n8n-nodes-base.set",
      "position": [
        896,
        144
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "sources",
              "name": "sources",
              "type": "array",
              "value": "={{ [ { url: 'https://old.reddit.com/r/n8n/top/?t=week', label: 'r/n8n top this week' }, { url: 'https://old.reddit.com/r/webscraping/top/?t=week', label: 'r/webscraping top this week' }, { url: 'https://old.reddit.com/r/automation/top/?t=week', label: 'r/automation top this week' } ] }}"
            },
            {
              "id": "notion-db",
              "name": "notion_database_id",
              "type": "string",
              "value": "REPLACE_WITH_NOTION_DATABASE_ID"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "split-sources",
      "name": "Split Source Items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1184,
        144
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "sources"
      },
      "typeVersion": 1
    },
    {
      "id": "scrape-via-scraperapi",
      "name": "Scrape Data via ScraperAPI",
      "type": "n8n-nodes-scraperapi-official.scraperApi",
      "maxTries": 2,
      "position": [
        1456,
        144
      ],
      "parameters": {
        "apiUrl": "={{ $json.url }}",
        "resource": "api",
        "operation": "apiRequest",
        "apiOptionalParameters": {
          "apiCountryCode": "={{ $json.country || 'us' }}"
        }
      },
      "retryOnFail": true,
      "typeVersion": 1,
      "continueOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "id": "prepare-content",
      "name": "Convert HTML to Plain Text",
      "type": "n8n-nodes-base.code",
      "position": [
        1712,
        144
      ],
      "parameters": {
        "jsCode": "// Strip HTML to plain text, truncate, and carry source metadata forward\n// so the LLM gets a clean prompt.\n\nconst stripHtml = (s) => String(s == null ? '' : s)\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/&amp;/gi, '&')\n  .replace(/&lt;/gi, '<')\n  .replace(/&gt;/gi, '>')\n  .replace(/&quot;/gi, '\"')\n  .replace(/&#39;/gi, \"'\")\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst MAX_CHARS = 30000;\n\nreturn $input.all().map((item, i) => {\n  const meta = ($('Split Source Items').itemMatching(i) || {}).json || {};\n  const response = (item.json && item.json.response) || {};\n  const rawBody = response.body || '';\n  const text = stripHtml(rawBody).slice(0, MAX_CHARS);\n\n  return {\n    json: {\n      source_label: meta.label || '(untitled)',\n      source_url: meta.url || '',\n      status_code: response.statusCode || 0,\n      content: text,\n    },\n    pairedItem: { item: i },\n  };\n});\n",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "classify-sentiment",
      "name": "Sentiment Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1984,
        144
      ],
      "parameters": {
        "text": "=Source: {{ $json.source_label }}\nURL: {{ $json.source_url }}\n\nContent:\n\n{{ $json.content }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a community sentiment analyst. The user will give you scraped content from a Reddit page — a subreddit listing (top/new/hot), a search results page, or a single thread. Pages are plain text stripped from HTML and may include Reddit navigation chrome; ignore the chrome and focus on the actual posts, comments and titles. Extract every distinct post or comment you can identify — a post title alone counts when no body text is available. Classify the sentiment of each (positive | neutral | negative), surface the most common themes (3-5 short labels), and pick up to 5 representative quotes (post titles are valid quotes for listing pages). Return ONLY a JSON object with this exact shape — no preamble, no markdown fence:\n\n{\n  \"overall_sentiment\": \"positive\" | \"neutral\" | \"negative\" | \"mixed\",\n  \"positive_count\": <integer>,\n  \"neutral_count\": <integer>,\n  \"negative_count\": <integer>,\n  \"top_themes\": [\"short label\", \"...\"],\n  \"sample_quotes\": [{\"sentiment\": \"positive\" | \"neutral\" | \"negative\", \"quote\": \"...\"}],\n  \"notes\": \"one short sentence summarizing tone\"\n}\n\nOnly return zero counts when the content genuinely contains no posts/comments (e.g. blocked page, empty listing). Never make up content."
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "openai-chat-model",
      "name": "OpenAI GPT-5 Mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1984,
        320
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "options": {
          "responseFormat": "json_object"
        },
        "responsesApiEnabled": false
      },
      "typeVersion": 1.3
    },
    {
      "id": "parse-classification",
      "name": "Normalize Sentiment Data",
      "type": "n8n-nodes-base.code",
      "position": [
        2368,
        144
      ],
      "parameters": {
        "jsCode": "// Normalize the LLM's classification and re-attach source metadata.\n// With response_format: json_object the Basic LLM Chain surfaces the parsed\n// fields directly on item.json. Older n8n versions wrap them under text /\n// output / response — handle both shapes.\n\nreturn $input.all().map((item, i) => {\n  const j = item.json || {};\n\n  let parsed = j;\n  const looksParsed = parsed.overall_sentiment !== undefined\n    || parsed.positive_count !== undefined\n    || Array.isArray(parsed.sample_quotes);\n\n  if (!looksParsed) {\n    const raw = j.text || j.output || j.response || '';\n    try {\n      parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    } catch (e) {\n      parsed = { error: 'Failed to parse model output', raw: String(raw).slice(0, 500) };\n    }\n  }\n\n  const meta = ($('Convert HTML to Plain Text').itemMatching(i) || {}).json || {};\n\n  return {\n    json: {\n      source_label: meta.source_label || '',\n      source_url: meta.source_url || '',\n      overall_sentiment: parsed.overall_sentiment || 'unknown',\n      positive_count: Number(parsed.positive_count) || 0,\n      neutral_count: Number(parsed.neutral_count) || 0,\n      negative_count: Number(parsed.negative_count) || 0,\n      top_themes: Array.isArray(parsed.top_themes) ? parsed.top_themes : [],\n      sample_quotes: Array.isArray(parsed.sample_quotes) ? parsed.sample_quotes : [],\n      notes: parsed.notes || '',\n    },\n    pairedItem: { item: i },\n  };\n});\n",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "build-weekly-digest",
      "name": "Compile Weekly Digest",
      "type": "n8n-nodes-base.code",
      "position": [
        2640,
        144
      ],
      "parameters": {
        "jsCode": "// Aggregate all per-source classifications into a single weekly digest.\n// Emits one item with block-sized strings ready for the Notion node.\n\nconst items = $input.all().map(i => i.json).filter(Boolean);\nconst weekOf = new Date().toISOString().slice(0, 10);\n\nconst trunc = (s, n) => {\n  const str = String(s == null ? '' : s);\n  return str.length > n ? str.slice(0, n - 1) + '…' : str;\n};\n\nconst totals = { positive: 0, neutral: 0, negative: 0 };\nconst themeCounts = new Map();\nconst sourceLines = [];\nconst quoteLines = [];\n\nfor (const it of items) {\n  const label = it.source_label || '(unknown source)';\n  const sentiment = it.overall_sentiment || 'unknown';\n  const pos = Number(it.positive_count) || 0;\n  const neu = Number(it.neutral_count) || 0;\n  const neg = Number(it.negative_count) || 0;\n  const themes = Array.isArray(it.top_themes) ? it.top_themes : [];\n  const quotes = Array.isArray(it.sample_quotes) ? it.sample_quotes : [];\n\n  totals.positive += pos;\n  totals.neutral  += neu;\n  totals.negative += neg;\n\n  for (const t of themes) {\n    const key = String(t).toLowerCase().trim();\n    if (!key) continue;\n    themeCounts.set(key, (themeCounts.get(key) || 0) + 1);\n  }\n\n  sourceLines.push(`• ${label} → ${sentiment} (pos ${pos} · neu ${neu} · neg ${neg})`);\n\n  for (const q of quotes.slice(0, 2)) {\n    const text = trunc(q.quote || '', 240);\n    quoteLines.push(`[${q.sentiment || '?'}] \"${text}\" — ${label}`);\n  }\n}\n\nconst total = totals.positive + totals.neutral + totals.negative;\nconst pct = (n) => total > 0 ? Math.round((n / total) * 100) : 0;\n\nconst topThemes = [...themeCounts.entries()]\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([t]) => t);\n\n// Notion multi_select options cannot contain commas — build a comma-safe copy.\nconst topThemesTags = topThemes.map((t) => t.split(',').map((s) => s.trim()).filter(Boolean).join(' / '));\n\nconst overall =\n  total === 0 ? 'no signal' :\n  totals.positive > totals.negative * 1.5 ? 'mostly positive' :\n  totals.negative > totals.positive * 1.5 ? 'mostly negative' :\n  'mixed';\n\nconst intro = `${items.length} source${items.length === 1 ? '' : 's'} analyzed for the week of ${weekOf}. Overall tone: ${overall}. ${total} reviews/comments extracted.`;\nconst stats = `Positive: ${totals.positive} (${pct(totals.positive)}%) · Neutral: ${totals.neutral} (${pct(totals.neutral)}%) · Negative: ${totals.negative} (${pct(totals.negative)}%)`;\nconst themes = topThemes.length ? topThemes.map((t, i) => `${i + 1}. ${t}`).join('\\n') : '(no themes surfaced)';\nconst sources = sourceLines.join('\\n') || '(no sources scraped)';\nconst quotes  = quoteLines.length ? quoteLines.join('\\n\\n') : '(no representative quotes)';\n\nreturn [{\n  json: {\n    page_title: `Weekly sentiment digest — ${weekOf}`,\n    week_of: weekOf,\n    total_sources: items.length,\n    total_reviews: total,\n    overall,\n    positive_total: totals.positive,\n    neutral_total: totals.neutral,\n    negative_total: totals.negative,\n    top_themes: topThemes,\n    top_themes_tags: topThemesTags,\n    intro_block:   trunc(intro,   1800),\n    stats_block:   trunc(stats,   1800),\n    themes_block:  trunc(themes,  1800),\n    sources_block: trunc(sources, 1800),\n    quotes_block:  trunc(quotes,  1800),\n  },\n}];\n",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "create-notion-page",
      "name": "Add Digest to Notion Page",
      "type": "n8n-nodes-base.notion",
      "position": [
        2896,
        144
      ],
      "parameters": {
        "title": "={{ $json.page_title }}",
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "Overview"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.intro_block }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "Sentiment counts"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.stats_block }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "Top themes"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.themes_block }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "Per-source breakdown"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.sources_block }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "Sample quotes"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.quotes_block }}"
            }
          ]
        },
        "options": {},
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set Source and Notion ID').first().json.notion_database_id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Week of|date",
              "date": "={{ $json.week_of }}",
              "includeTime": false
            },
            {
              "key": "Overall|select",
              "selectValue": "={{ $json.overall }}"
            },
            {
              "key": "Sources|number",
              "numberValue": "={{ $json.total_sources }}"
            },
            {
              "key": "Items analyzed|number",
              "numberValue": "={{ $json.total_reviews }}"
            },
            {
              "key": "Positive|number",
              "numberValue": "={{ $json.positive_total }}"
            },
            {
              "key": "Neutral|number",
              "numberValue": "={{ $json.neutral_total }}"
            },
            {
              "key": "Negative|number",
              "numberValue": "={{ $json.negative_total }}"
            },
            {
              "key": "Top themes|multi_select",
              "multiSelectValue": "={{ $json.top_themes_tags }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "setup-manual-trigger",
      "name": "Run once — set up Notion columns",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        608,
        528
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "setup-notion-db",
      "name": "Notion database (setup)",
      "type": "n8n-nodes-base.set",
      "position": [
        880,
        528
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "notion-db",
              "name": "notion_database_id",
              "type": "string",
              "value": "REPLACE_WITH_NOTION_DATABASE_ID"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "ensure-notion-columns",
      "name": "Ensure Notion Columns",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1136,
        528
      ],
      "parameters": {
        "url": "=https://api.notion.com/v1/databases/{{ $json.notion_database_id }}",
        "method": "PATCH",
        "options": {},
        "jsonBody": "{\"properties\":{\"Week of\":{\"date\":{}},\"Overall\":{\"select\":{\"options\":[{\"name\":\"mostly positive\",\"color\":\"green\"},{\"name\":\"mixed\",\"color\":\"yellow\"},{\"name\":\"mostly negative\",\"color\":\"red\"},{\"name\":\"no signal\",\"color\":\"gray\"}]}},\"Sources\":{\"number\":{\"format\":\"number\"}},\"Items analyzed\":{\"number\":{\"format\":\"number\"}},\"Positive\":{\"number\":{\"format\":\"number\"}},\"Neutral\":{\"number\":{\"format\":\"number\"}},\"Negative\":{\"number\":{\"format\":\"number\"}},\"Top themes\":{\"multi_select\":{}}}}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "nodeCredentialType": "notionApi"
      },
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "OpenAI GPT-5 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Source Items": {
      "main": [
        [
          {
            "node": "Scrape Data via ScraperAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Monday at 9am": {
      "main": [
        [
          {
            "node": "Set Source and Notion ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Weekly Digest": {
      "main": [
        [
          {
            "node": "Add Digest to Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion database (setup)": {
      "main": [
        [
          {
            "node": "Ensure Notion Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sentiment Data": {
      "main": [
        [
          {
            "node": "Compile Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis Agent": {
      "main": [
        [
          {
            "node": "Normalize Sentiment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source and Notion ID": {
      "main": [
        [
          {
            "node": "Split Source Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Plain Text": {
      "main": [
        [
          {
            "node": "Sentiment Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Data via ScraperAPI": {
      "main": [
        [
          {
            "node": "Convert HTML to Plain Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run once — set up Notion columns": {
      "main": [
        [
          {
            "node": "Notion database (setup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Send weekly Reddit sentiment digests to Notion with ScraperAPI and OpenAI",
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "owner": "ScraperAPI",
    "source": "n8n.io template library",
    "templateId": 16447
  }
}
