automations/n8n/library/16451-log-ecommerce-orders-send-slack-alerts-and-store-data-in-goo.workflow.json
{
  "id": "hqQSZC40uc2RLEQR",
  "meta": {
    "instanceId": "6ab8f18301c57fe5508c3c98c40f1759365371ba574c699a1652064e9d2bc1b3",
    "templateCredsSetupCompleted": true,
    "owner": "Redowan Ahmed Farhan",
    "source": "n8n.io template library",
    "templateId": 16451
  },
  "name": "Ecommerce Order Notifier and Logger",
  "tags": [],
  "nodes": [
    {
      "id": "1df5924c-9244-464a-a641-a94def3a6654",
      "name": "New Order Received",
      "type": "n8n-nodes-base.webhook",
      "position": [
        3184,
        1664
      ],
      "webhookId": "891900b9-1605-4a4e-b1f1-74bec91b3097",
      "parameters": {
        "path": "new-order",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "b7744223-9023-4a63-8566-dfba75e41a77",
      "name": "Format Order Data",
      "type": "n8n-nodes-base.set",
      "position": [
        3440,
        1664
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "14d622ed-4d66-4fbf-b880-7dffe34401e8",
              "name": "order_id",
              "type": "string",
              "value": "={{$json.body.order_id}}"
            },
            {
              "id": "f71abfb9-761f-446f-9987-f1a2ec0044e8",
              "name": "customer",
              "type": "string",
              "value": "={{$json.body.customer_name}}"
            },
            {
              "id": "ca7e70e5-ec6a-4181-a572-47b1037551fb",
              "name": "email",
              "type": "string",
              "value": "={{$json.body.email}}"
            },
            {
              "id": "e05a6140-9351-4551-a194-d3eefe90ac57",
              "name": "total",
              "type": "string",
              "value": "={{$json.body.total}}"
            },
            {
              "id": "4f858c8a-f868-43b1-bd4d-f97c2a979aae",
              "name": "items",
              "type": "string",
              "value": "={{$json.body.items}}"
            },
            {
              "id": "ord-0001",
              "name": "received_at",
              "type": "string",
              "value": "={{$now.toISO()}}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "cc1bc132-79ef-49a0-bcc7-4b8fc0030101",
      "name": "Validate Order Data",
      "type": "n8n-nodes-base.if",
      "position": [
        3696,
        1664
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "v1",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{$json.order_id}}",
              "rightValue": ""
            },
            {
              "id": "v2",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{$json.email}}",
              "rightValue": ""
            },
            {
              "id": "v3",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ Number($json.total) }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "5f06d310-5f34-40ea-a670-22aea7215c9a",
      "name": "Log Invalid Order",
      "type": "n8n-nodes-base.set",
      "position": [
        3904,
        1904
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "i1",
              "name": "status",
              "type": "string",
              "value": "rejected"
            },
            {
              "id": "i2",
              "name": "reason",
              "type": "string",
              "value": "={{ !$json.order_id ? 'Missing order_id' : (!$json.email ? 'Missing email' : 'Invalid or missing total') }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "8469798c-f905-4f74-b3be-90f3502be308",
      "name": "Respond Invalid Order",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        4128,
        1904
      ],
      "parameters": {
        "options": {
          "responseCode": 400
        },
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"rejected\", \"reason\": $json.reason } }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "d584e251-b298-43a5-8788-5f1980a4defc",
      "name": "Upsert Order to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4384,
        1568
      ],
      "parameters": {
        "columns": {
          "value": {
            "Email": "={{ $json.email }}",
            "Items": "={{ $json.items }}",
            "Total": "={{ $json.total }}",
            "Customer": "={{ $json.customer }}",
            "Order ID": "={{ $json.order_id }}",
            "Received At": "={{ $json.received_at }}"
          },
          "schema": [
            {
              "id": "Order ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Order ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Customer",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Total",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Total",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Items",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Items",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Received At",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Received At",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Order ID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EV68pHdgAY4B5vTAk2djVSGEfXWhaXpSSy2GNjdCjYU/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1EV68pHdgAY4B5vTAk2djVSGEfXWhaXpSSy2GNjdCjYU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EV68pHdgAY4B5vTAk2djVSGEfXWhaXpSSy2GNjdCjYU/edit?usp=drivesdk",
          "cachedResultName": "REPLACE_WITH_YOUR_ORDERS_SHEET"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "951f6ce3-eb8f-44a4-80e3-68cc82f68edb",
      "name": "Classify Order Tier",
      "type": "n8n-nodes-base.switch",
      "position": [
        4640,
        1568
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Review Required",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r1",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "leftValue": "={{ Number($json.total) }}",
                    "rightValue": 1000
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "VIP",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r2",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "leftValue": "={{ Number($json.total) }}",
                    "rightValue": 200
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Standard",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "r3",
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "leftValue": "={{ Number($json.total) }}",
                    "rightValue": 200
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "eb195e8c-0bcd-49fd-a25b-31246eb90748",
      "name": "Notify Risk Review Channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        4912,
        1424
      ],
      "webhookId": "1ddd26a5-388b-4e86-b30d-6e93132ed478",
      "parameters": {
        "text": "Order {{$('Format Order Data').item.json.order_id}} from {{$('Format Order Data').item.json.customer}} totals {{$('Format Order Data').item.json.total}} — above the manual review threshold, please double check before fulfillment.",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0AK5VBUE1Z",
          "cachedResultName": "pricing-alerts"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.3
    },
    {
      "id": "cbd13dba-8177-4e27-84fb-e1df7e5f94cf",
      "name": "Notify VIP Channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        4912,
        1552
      ],
      "webhookId": "74012baf-0a13-4a7b-bc93-fddb2320016b",
      "parameters": {
        "text": "High value order from {{$('Format Order Data').item.json.customer}} totalling {{$('Format Order Data').item.json.total}}. Order {{$('Format Order Data').item.json.order_id}}.",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0AK5VBUE1Z",
          "cachedResultName": "pricing-alerts"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.3
    },
    {
      "id": "99b2831f-d80b-4246-bfbc-64b5b7abaab8",
      "name": "Notify Orders Channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        4912,
        1680
      ],
      "webhookId": "28a0662b-4988-40ec-8655-8e33174de230",
      "parameters": {
        "text": "New order {{$('Format Order Data').item.json.order_id}} from {{$('Format Order Data').item.json.customer}}, total {{$('Format Order Data').item.json.total}}.",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B4D54BBFB",
          "cachedResultName": "price-drop"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.3
    },
    {
      "id": "012019fc-a59a-4ca1-a4a5-e48fad3bacd4",
      "name": "Merge Tier Branches",
      "type": "n8n-nodes-base.merge",
      "position": [
        5168,
        1552
      ],
      "parameters": {
        "mode": "chooseBranch",
        "output": "={{1}}",
        "numberInputs": 3
      },
      "typeVersion": 3.2
    },
    {
      "id": "bae30271-442c-4ebb-ae5d-d3b2ffd060e6",
      "name": "Send Order Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        5424,
        1552
      ],
      "webhookId": "4dc0ded3-250b-4cbf-bf1a-f37f67867d7c",
      "parameters": {
        "sendTo": "={{ $('Format Order Data').item.json.email }}",
        "message": "Hi {{$('Format Order Data').item.json.customer}}, thanks for your order! We've received order {{$('Format Order Data').item.json.order_id}} for a total of {{$('Format Order Data').item.json.total}} and we're getting it ready.",
        "options": {},
        "subject": "Your order {{$('Format Order Data').item.json.order_id}} is confirmed"
      },
      "typeVersion": 2.1
    },
    {
      "id": "da744ce0-a660-4282-ba75-6ed041f03008",
      "name": "Respond to Store",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        5680,
        1552
      ],
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"order_id\": $('Format Order Data').item.json.order_id } }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "19b38322-0069-43e1-b64a-8f8f7816f13f",
      "name": "Workflow Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        3344,
        2256
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "c8ef0754-46b5-402b-961d-1c820d67bbd8",
      "name": "Alert Ops on Workflow Failure",
      "type": "n8n-nodes-base.slack",
      "position": [
        3600,
        2256
      ],
      "webhookId": "d97c2d5e-3d7b-4ddb-a211-a84e874a8842",
      "parameters": {
        "text": "Ecommerce Order Notifier workflow failed: {{$json.execution.error.message}}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B4D54BBFB",
          "cachedResultName": "price-drop"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.3
    },
    {
      "id": "88381847-99b4-4236-ae02-2c11bc9262e1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        1184
      ],
      "parameters": {
        "color": 7,
        "width": 580,
        "height": 1240,
        "content": "## 🛒 Ecommerce Order Notifier and Logger\n\nReceives every new store order through a webhook, rejects malformed payloads before they hit your sheet, upserts the order into a Google Sheet so a retried webhook never creates a duplicate row, classifies it into Standard, VIP, or Review Required tiers, alerts the right Slack channel, and emails the customer a confirmation — with a Slack alert if anything in the workflow fails.\n\n**Perfect for:** small online store owners and ecommerce operations teams.\n\n---\n\n## How it works\n\n1. **New Order Received** — webhook that accepts the order payload from your store.\n2. **Format Order Data** — pulls order id, customer, email, total, items, and received time into clean fields.\n3. **Validate Order Data** — checks that order id, email, and a positive total are present.\n4. **Log Invalid Order** / **Respond Invalid Order** — *(invalid path)* returns a 400 explaining what was missing instead of logging garbage data.\n5. **Upsert Order to Sheet** — appends a new row, or updates the existing row, matched on Order ID, so a retried webhook never duplicates the order.\n6. **Classify Order Tier** — routes the order into Standard, VIP (over 200), or Review Required (over 1000).\n7. **Notify Risk Review Channel** / **Notify VIP Channel** / **Notify Orders Channel** — posts to the channel matching the order's tier.\n8. **Merge Tier Branches** — waits for whichever tier ran, then continues once.\n9. **Send Order Confirmation Email** — emails the customer that their order was received.\n10. **Respond to Store** — returns a confirmation object so your store knows the order was captured.\n11. **Workflow Error Trigger** / **Alert Ops on Workflow Failure** — *(error path)* posts to Slack if any step in this workflow throws an error.\n\n---\n\n## Setup (~15 min)\n\n1. **Webhook** — point your store order event to the *New Order Received* URL.\n2. **Google Sheets** — connect your account in *Upsert Order to Sheet* and set your own sheet id, with Order ID as the matching column.\n3. **Slack** — connect Slack and set the channel ids in *Notify VIP Channel*, *Notify Risk Review Channel*, *Notify Orders Channel*, and *Alert Ops on Workflow Failure*.\n4. **Gmail** — connect Gmail in *Send Order Confirmation Email* and adjust the wording.\n> Adjust the 200 and 1000 thresholds in *Classify Order Tier* to match your average order value. Replace the placeholder sheet id with your own before publishing."
      },
      "typeVersion": 1
    },
    {
      "id": "eb4adab8-8598-4b6b-a9c8-67a5759ad236",
      "name": "1️⃣ Order Intake & Validation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        1328
      ],
      "parameters": {
        "color": 5,
        "width": 1296,
        "height": 720,
        "content": "## 1️⃣ Order Intake & Validation\n\nThe **New Order Received** webhook accepts the order payload from your store, and **Format Order Data** maps the raw body into clean fields. **Validate Order Data** checks that the order is actually usable before it ever reaches your sheet; anything malformed is explained in **Log Invalid Order** and turned away by **Respond Invalid Order**."
      },
      "typeVersion": 1
    },
    {
      "id": "03862845-2655-4eb1-8359-b08b0d8e892d",
      "name": "2️⃣ Log and Route",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4352,
        1328
      ],
      "parameters": {
        "color": 3,
        "width": 480,
        "height": 496,
        "content": "## 2️⃣ Log and Route\n\n**Upsert Order to Sheet** writes the row, updating instead of duplicating if this order id has already been logged, and **Classify Order Tier** routes it into Standard, VIP, or Review Required based on the total."
      },
      "typeVersion": 1
    },
    {
      "id": "c84a0993-551a-410d-8373-3870b02e8cca",
      "name": "3️⃣ Notify & Confirm",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4848,
        1232
      ],
      "parameters": {
        "color": 6,
        "width": 960,
        "height": 640,
        "content": "## 3️⃣ Notify & Confirm\n\nHigh value orders go to **Notify Risk Review Channel** or **Notify VIP Channel** for priority attention, standard orders post to **Notify Orders Channel**, and **Merge Tier Branches** waits for whichever ran before **Send Order Confirmation Email** and **Respond to Store** finish the run."
      },
      "typeVersion": 1
    },
    {
      "id": "dfe7b26f-3e06-4141-8f16-2405072421a8",
      "name": "4️⃣ Error Handling",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3264,
        2080
      ],
      "parameters": {
        "color": 4,
        "width": 664,
        "height": 352,
        "content": "## 4️⃣ Error Handling\n\n**Workflow Error Trigger** catches any unhandled failure anywhere in this workflow and **Alert Ops on Workflow Failure** posts it to Slack so a bad run never goes unnoticed."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "20dc3fa0-4657-4521-ba02-d5cc9cde0a72",
  "nodeGroups": [],
  "connections": {
    "Format Order Data": {
      "main": [
        [
          {
            "node": "Validate Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Invalid Order": {
      "main": [
        [
          {
            "node": "Respond Invalid Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Order Received": {
      "main": [
        [
          {
            "node": "Format Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify VIP Channel": {
      "main": [
        [
          {
            "node": "Merge Tier Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Classify Order Tier": {
      "main": [
        [
          {
            "node": "Notify Risk Review Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify VIP Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Orders Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tier Branches": {
      "main": [
        [
          {
            "node": "Send Order Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Order Data": {
      "main": [
        [
          {
            "node": "Upsert Order to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Orders Channel": {
      "main": [
        [
          {
            "node": "Merge Tier Branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Upsert Order to Sheet": {
      "main": [
        [
          {
            "node": "Classify Order Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Error Trigger": {
      "main": [
        [
          {
            "node": "Alert Ops on Workflow Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Risk Review Channel": {
      "main": [
        [
          {
            "node": "Merge Tier Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
