automations/n8n/library/16794-generate-google-maps-leads-with-apify-hunter-and-hubspot-crm.workflow.json
{
  "id": "xHzDLNww2nKIM7pz",
  "meta": {
    "instanceId": "4c0aaaccf8668df70c6797c7c6ba55b0ed1fdec5d72093ca379c0f2214f4cce2",
    "builderVariant": "mcp",
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true,
    "owner": "JD Solanki",
    "source": "n8n.io template library",
    "templateId": 16794
  },
  "name": "Google Maps Lead Generation for HubSpot CRM",
  "tags": [
    {
      "id": "9QFfP0wouKUIjtVG",
      "name": "google-maps",
      "createdAt": "2026-07-01T12:26:59.006Z",
      "updatedAt": "2026-07-01T12:26:59.006Z"
    },
    {
      "id": "NgCNJ4X5sLbkuPqS",
      "name": "apify",
      "createdAt": "2026-07-01T12:26:59.002Z",
      "updatedAt": "2026-07-01T12:26:59.002Z"
    },
    {
      "id": "P9orMMKmbkcks0cI",
      "name": "hubspot",
      "createdAt": "2026-07-01T12:26:59.004Z",
      "updatedAt": "2026-07-01T12:26:59.004Z"
    },
    {
      "id": "qcMn4veoQv5Zj9Ke",
      "name": "lead-generation",
      "createdAt": "2026-07-01T12:26:59.000Z",
      "updatedAt": "2026-07-01T12:26:59.000Z"
    }
  ],
  "nodes": [
    {
      "id": "fe29c228-d34a-41f7-928a-beefd5eb05b5",
      "name": "Run an Actor",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        -1376,
        176
      ],
      "parameters": {
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": "nwua9Gu5YrADL7ZDj",
          "cachedResultUrl": "https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input",
          "cachedResultName": "Google Maps Scraper (compass/crawler-google-places)"
        },
        "customBody": "={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $('On form submission').item.json.Location }}\",\n    \"maxCrawledPlacesPerSearch\":{{ $('On form submission').item.json['Number of Items to be Scraped'] }} ,\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": true,\n    \"scrapeDirectories\": true,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": true,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": true,\n    \"searchStringsArray\": [\n        \"{{ $('On form submission').item.json['What to Scrape'] }}\"\n    ],\n    \"skipClosedPlaces\": true\n}",
        "actorSource": "store"
      },
      "credentials": {
        "apifyApi": {
          "id": "credential-id",
          "name": "Apify Tops"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d8caaf65-edda-449f-ab21-9fe77735f306",
      "name": "Get dataset items",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        -944,
        96
      ],
      "parameters": {
        "options": {},
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}"
      },
      "credentials": {
        "apifyApi": {
          "id": "credential-id",
          "name": "Apify Tops"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a1dba0ea-d173-4c38-9e13-dcb2904e556b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -1216,
        176
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7147dfa1-335a-46a4-b257-3cebbeb40956",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "=SUCCEEDED"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "dbf780a2-a418-4f31-a64d-49f6f89e8203",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -944,
        304
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "4bc45afd-fdc7-4a15-9ca5-70a4e7cfdce5",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1712,
        176
      ],
      "webhookId": "03417be9-a6d0-4759-b1f4-68a35169aaa0",
      "parameters": {
        "options": {
          "buttonLabel": "Submit"
        },
        "formTitle": "Select Location",
        "formFields": {
          "values": [
            {
              "fieldType": "dropdown",
              "fieldLabel": "Location",
              "defaultValue": "San Francisco, USA",
              "fieldOptions": {
                "values": [
                  {
                    "option": "San Francisco, USA"
                  },
                  {
                    "option": "Seattle, USA"
                  },
                  {
                    "option": "Austin, USA"
                  },
                  {
                    "option": "Boston, USA"
                  },
                  {
                    "option": "New York, USA"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "What to Scrape",
              "placeholder": "Restaurants etc..",
              "requiredField": true
            },
            {
              "fieldType": "number",
              "fieldLabel": "Number of Items to be Scraped",
              "placeholder": "50",
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Industry (HubSpot)",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Accounting"
                  },
                  {
                    "option": "Airlines/Aviation"
                  },
                  {
                    "option": "Alternative Dispute Resolution"
                  },
                  {
                    "option": "Alternative Medicine"
                  },
                  {
                    "option": "Animation"
                  },
                  {
                    "option": "Apparel & Fashion"
                  },
                  {
                    "option": "Architecture & Planning"
                  },
                  {
                    "option": "Arts and Crafts"
                  },
                  {
                    "option": "Automotive"
                  },
                  {
                    "option": "Aviation & Aerospace"
                  },
                  {
                    "option": "Banking"
                  },
                  {
                    "option": "Biotechnology"
                  },
                  {
                    "option": "Broadcast Media"
                  },
                  {
                    "option": "Building Materials"
                  },
                  {
                    "option": "Business Supplies and Equipment"
                  },
                  {
                    "option": "Capital Markets"
                  },
                  {
                    "option": "Chemicals"
                  },
                  {
                    "option": "Civic & Social Organization"
                  },
                  {
                    "option": "Civil Engineering"
                  },
                  {
                    "option": "Commercial Real Estate"
                  },
                  {
                    "option": "Computer & Network Security"
                  },
                  {
                    "option": "Computer Games"
                  },
                  {
                    "option": "Computer Hardware"
                  },
                  {
                    "option": "Computer Networking"
                  },
                  {
                    "option": "Computer Software"
                  },
                  {
                    "option": "Internet"
                  },
                  {
                    "option": "Construction"
                  },
                  {
                    "option": "Consumer Electronics"
                  },
                  {
                    "option": "Consumer Goods"
                  },
                  {
                    "option": "Consumer Services"
                  },
                  {
                    "option": "Cosmetics"
                  },
                  {
                    "option": "Dairy"
                  },
                  {
                    "option": "Defense & Space"
                  },
                  {
                    "option": "Design"
                  },
                  {
                    "option": "Education Management"
                  },
                  {
                    "option": "E-Learning"
                  },
                  {
                    "option": "Electrical/Electronic Manufacturing"
                  },
                  {
                    "option": "Entertainment"
                  },
                  {
                    "option": "Environmental Services"
                  },
                  {
                    "option": "Events Services"
                  },
                  {
                    "option": "Executive Office"
                  },
                  {
                    "option": "Facilities Services"
                  },
                  {
                    "option": "Farming"
                  },
                  {
                    "option": "Financial Services"
                  },
                  {
                    "option": "Fine Art"
                  },
                  {
                    "option": "Fishery"
                  },
                  {
                    "option": "Food & Beverages"
                  },
                  {
                    "option": "Food Production"
                  },
                  {
                    "option": "Fund-Raising"
                  },
                  {
                    "option": "Furniture"
                  },
                  {
                    "option": "Gambling & Casinos"
                  },
                  {
                    "option": "Glass, Ceramics & Concrete"
                  },
                  {
                    "option": "Government Administration"
                  },
                  {
                    "option": "Government Relations"
                  },
                  {
                    "option": "Graphic Design"
                  },
                  {
                    "option": "Health, Wellness and Fitness"
                  },
                  {
                    "option": "Higher Education"
                  },
                  {
                    "option": "Hospital & Health Care"
                  },
                  {
                    "option": "Hospitality"
                  },
                  {
                    "option": "Human Resources"
                  },
                  {
                    "option": "Import and Export"
                  },
                  {
                    "option": "Individual & Family Services"
                  },
                  {
                    "option": "Industrial Automation"
                  },
                  {
                    "option": "Information Services"
                  },
                  {
                    "option": "Information Technology and Services"
                  },
                  {
                    "option": "Insurance"
                  },
                  {
                    "option": "International Affairs"
                  },
                  {
                    "option": "International Trade and Development"
                  },
                  {
                    "option": "Investment Banking"
                  },
                  {
                    "option": "Investment Management"
                  },
                  {
                    "option": "Judiciary"
                  },
                  {
                    "option": "Law Enforcement"
                  },
                  {
                    "option": "Law Practice"
                  },
                  {
                    "option": "Legal Services"
                  },
                  {
                    "option": "Legislative Office"
                  },
                  {
                    "option": "Leisure, Travel & Tourism"
                  },
                  {
                    "option": "Libraries"
                  },
                  {
                    "option": "Logistics and Supply Chain"
                  },
                  {
                    "option": "Luxury Goods & Jewelry"
                  },
                  {
                    "option": "Machinery"
                  },
                  {
                    "option": "Management Consulting"
                  },
                  {
                    "option": "Maritime"
                  },
                  {
                    "option": "Market Research"
                  },
                  {
                    "option": "Marketing and Advertising"
                  },
                  {
                    "option": "Mechanical or Industrial Engineering"
                  },
                  {
                    "option": "Media Production"
                  },
                  {
                    "option": "Medical Devices"
                  },
                  {
                    "option": "Medical Practice"
                  },
                  {
                    "option": "Mental Health Care"
                  },
                  {
                    "option": "Military"
                  },
                  {
                    "option": "Mining & Metals"
                  },
                  {
                    "option": "Motion Pictures and Film"
                  },
                  {
                    "option": "Museums and Institutions"
                  },
                  {
                    "option": "Music"
                  },
                  {
                    "option": "Nanotechnology"
                  },
                  {
                    "option": "Newspapers"
                  },
                  {
                    "option": "Non-Profit Organization Management"
                  },
                  {
                    "option": "Oil & Energy"
                  },
                  {
                    "option": "Online Media"
                  },
                  {
                    "option": "Outsourcing/Offshoring"
                  },
                  {
                    "option": "Package/Freight Delivery"
                  },
                  {
                    "option": "Packaging and Containers"
                  },
                  {
                    "option": "Paper & Forest Products"
                  },
                  {
                    "option": "Performing Arts"
                  },
                  {
                    "option": "Pharmaceuticals"
                  },
                  {
                    "option": "Philanthropy"
                  },
                  {
                    "option": "Photography"
                  },
                  {
                    "option": "Plastics"
                  },
                  {
                    "option": "Political Organization"
                  },
                  {
                    "option": "Primary/Secondary Education"
                  },
                  {
                    "option": "Printing"
                  },
                  {
                    "option": "Professional Training & Coaching"
                  },
                  {
                    "option": "Program Development"
                  },
                  {
                    "option": "Public Policy"
                  },
                  {
                    "option": "Public Relations and Communications"
                  },
                  {
                    "option": "Public Safety"
                  },
                  {
                    "option": "Publishing"
                  },
                  {
                    "option": "Railroad Manufacture"
                  },
                  {
                    "option": "Ranching"
                  },
                  {
                    "option": "Real Estate"
                  },
                  {
                    "option": "Recreational Facilities and Services"
                  },
                  {
                    "option": "Religious Institutions"
                  },
                  {
                    "option": "Renewables & Environment"
                  },
                  {
                    "option": "Research"
                  },
                  {
                    "option": "Restaurants"
                  },
                  {
                    "option": "Retail"
                  },
                  {
                    "option": "Security and Investigations"
                  },
                  {
                    "option": "Semiconductors"
                  },
                  {
                    "option": "Shipbuilding"
                  },
                  {
                    "option": "Sporting Goods"
                  },
                  {
                    "option": "Sports"
                  },
                  {
                    "option": "Staffing and Recruiting"
                  },
                  {
                    "option": "Supermarkets"
                  },
                  {
                    "option": "Telecommunications"
                  },
                  {
                    "option": "Textiles"
                  },
                  {
                    "option": "Think Tanks"
                  },
                  {
                    "option": "Tobacco"
                  },
                  {
                    "option": "Translation and Localization"
                  },
                  {
                    "option": "Transportation/Trucking/Railroad"
                  },
                  {
                    "option": "Utilities"
                  },
                  {
                    "option": "Venture Capital & Private Equity"
                  },
                  {
                    "option": "Veterinary"
                  },
                  {
                    "option": "Warehousing"
                  },
                  {
                    "option": "Wholesale"
                  },
                  {
                    "option": "Wine and Spirits"
                  },
                  {
                    "option": "Wireless"
                  },
                  {
                    "option": "Writing and Editing"
                  },
                  {
                    "option": "Mobile Games"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b250e3ee-d887-4a81-8a1a-ee70f25d445c",
      "name": "Extract Essentials",
      "type": "n8n-nodes-base.set",
      "position": [
        -672,
        96
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "cdcdbe98-2ad6-4c79-8a1e-01ad5f2ace89",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "a6361af2-4f5c-4407-bf32-b2c0e457466e",
              "name": "categoryName",
              "type": "string",
              "value": "={{ $json.categoryName }}"
            },
            {
              "id": "521a1095-18d1-47cc-b113-7ecee83c26ab",
              "name": "Average Price",
              "type": "string",
              "value": "={{ $json.price }}"
            },
            {
              "id": "d047d620-4102-467a-9eab-fb097c8f1cc3",
              "name": "rating",
              "type": "number",
              "value": "={{ $json.totalScore }}"
            },
            {
              "id": "4e30e3a2-1564-457c-8e84-b55d6f0b11e4",
              "name": "reviewsCount",
              "type": "number",
              "value": "={{ $json.reviewsCount }}"
            },
            {
              "id": "d0aa5224-af7a-4a50-aad1-ec3bde6c6941",
              "name": "address",
              "type": "string",
              "value": "={{ $json.city }}{{ $json.address }}, {{ $json.street }}, {{ $json.postalCode }}"
            },
            {
              "id": "d86d5474-05a4-40cb-8a16-b5c14636f5ae",
              "name": "phone",
              "type": "string",
              "value": "={{ $json.phone || ($json.phones && $json.phones[0]) || '' }}"
            },
            {
              "id": "3cfa770c-626e-4920-a8bf-a1a41b5c7308",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "b1f0e2a1-1111-4aaa-9bbb-+1234567890",
              "name": "website",
              "type": "string",
              "value": "={{ $json.website }}"
            },
            {
              "id": "b1f0e2a1-1111-4aaa-9bbb-+1234567890",
              "name": "domain",
              "type": "string",
              "value": "={{ (($json.website || '') + '').toLowerCase().split('//').pop().split('/')[0].split('?')[0].replace('www.', '') }}"
            },
            {
              "id": "b1f0e2a1-1111-4aaa-9bbb-+1234567890",
              "name": "companyKey",
              "type": "string",
              "value": "={{ (($json.website || '') + '').toLowerCase().split('//').pop().split('/')[0].split('?')[0].replace('www.', '') || $json.url }}"
            },
            {
              "id": "c1+1234567890-+1234567890",
              "name": "city",
              "type": "string",
              "value": "={{ $json.city }}"
            },
            {
              "id": "c1+1234567890-+1234567890",
              "name": "country",
              "type": "string",
              "value": "={{ (typeof Intl !== 'undefined' && $json.countryCode) ? new Intl.DisplayNames(['en'], { type: 'region' }).of($json.countryCode) : ($json.countryCode || '') }}"
            },
            {
              "id": "e2+1234567890-+1234567890",
              "name": "industry",
              "type": "string",
              "value": "={{ $('Map Industry').first().json.industryValue }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "81836d90-8dc9-44b0-9ee3-0ac0082b2bf3",
      "name": "Dedupe Companies",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        -512,
        96
      ],
      "parameters": {
        "compare": "selectedFields",
        "options": {},
        "fieldsToCompare": "companyKey"
      },
      "typeVersion": 1.1
    },
    {
      "id": "eaf6139a-bcc1-496c-b23f-277b607f427c",
      "name": "HubSpot - Create Company",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        592,
        240
      ],
      "parameters": {
        "name": "={{ $json.title }}",
        "resource": "company",
        "authentication": "appToken",
        "additionalFields": {
          "city": "={{ $json.city }}",
          "industry": "={{ $json.industry }}",
          "websiteUrl": "={{ $json.website }}",
          "description": "={{ $json.categoryName }} — rating {{ $json.rating }} ({{ $json.reviewsCount }} reviews)",
          "phoneNumber": "={{ $json.phone }}",
          "countryRegion": "={{ $json.country }}",
          "streetAddress": "={{ $json.address }}",
          "companyDomainName": "={{ $json.domain }}"
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "credential-id",
          "name": "HubSpot Service Key account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "2547eb26-fff3-4f3d-bd68-042ccca85bb3",
      "name": "HubSpot - Upsert Contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1696,
        96
      ],
      "parameters": {
        "email": "={{ $json.value }}",
        "options": {},
        "authentication": "appToken",
        "additionalFields": {
          "jobTitle": "={{ $json.position }}",
          "lastName": "={{ $json.last_name }}",
          "firstName": "={{ $json.first_name }}",
          "websiteUrl": "={{ $('Company Ready').item.json.companyWebsite }}",
          "companyName": "={{ $('Company Ready').item.json.companyTitle }}",
          "linkedinUrl": "={{ $json.linkedin }}",
          "phoneNumber": "={{ $json.phone_number }}",
          "associatedCompanyId": "={{ $('Company Ready').item.json.companyId }}"
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "credential-id",
          "name": "HubSpot Service Key account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "1661f2a0-2b7c-41b2-a9dd-71e35b0fb043",
      "name": "Dedupe Contacts",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1504,
        96
      ],
      "parameters": {
        "compare": "selectedFields",
        "options": {},
        "fieldsToCompare": "value"
      },
      "typeVersion": 1.1
    },
    {
      "id": "728180dc-73a0-47b1-ba6c-07967882a743",
      "name": "Has Domain",
      "type": "n8n-nodes-base.filter",
      "position": [
        1056,
        96
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "hd+1234567890-+1234567890",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.companyDomain }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "d76b377f-45f1-4f97-b5c1-5255005f101b",
      "name": "Hunter Domain Search",
      "type": "n8n-nodes-base.hunter",
      "position": [
        1280,
        96
      ],
      "parameters": {
        "limit": 10,
        "domain": "={{ $json.companyDomain }}",
        "filters": {
          "type": "personal"
        }
      },
      "credentials": {
        "hunterApi": {
          "id": "credential-id",
          "name": "Hunter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "11f6bc27-d280-4c45-b0fd-454e708e67e9",
      "name": "HubSpot Search Company",
      "type": "n8n-nodes-base.hubspot",
      "onError": "continueRegularOutput",
      "position": [
        -272,
        160
      ],
      "parameters": {
        "limit": 1,
        "domain": "={{ $json.domain }}",
        "options": {},
        "resource": "company",
        "operation": "searchByDomain",
        "authentication": "appToken"
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "credential-id",
          "name": "HubSpot Service Key account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "af915a2d-a715-4dc8-8454-0397c74deceb",
      "name": "Normalize Match",
      "type": "n8n-nodes-base.set",
      "position": [
        -64,
        160
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "nm+1234567890-+1234567890",
              "name": "matchDomain",
              "type": "string",
              "value": "={{ $('Dedupe Companies').item.json.domain }}"
            },
            {
              "id": "nm+1234567890-+1234567890",
              "name": "foundCompanyId",
              "type": "string",
              "value": "={{ $json.companyId }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "4fa28bd4-6a40-400f-b8ce-af9b45c0af39",
      "name": "Match Existing",
      "type": "n8n-nodes-base.merge",
      "position": [
        144,
        112
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "advanced": true,
        "joinMode": "enrichInput1",
        "mergeByFields": {
          "values": [
            {
              "field1": "domain",
              "field2": "matchDomain"
            }
          ]
        }
      },
      "typeVersion": 3.2
    },
    {
      "id": "379e4e45-b10b-4cbe-9fa9-f13415c88d89",
      "name": "Company Exists",
      "type": "n8n-nodes-base.if",
      "position": [
        368,
        112
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ce+1234567890-+1234567890",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.foundCompanyId }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "204a3f6f-a46c-4bf2-a038-827c0705bab3",
      "name": "HubSpot Update Company",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        592,
        -32
      ],
      "parameters": {
        "resource": "company",
        "companyId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.foundCompanyId }}"
        },
        "operation": "update",
        "updateFields": {
          "city": "={{ $json.city }}",
          "name": "={{ $json.title }}",
          "industry": "={{ $json.industry }}",
          "websiteUrl": "={{ $json.website }}",
          "description": "={{ $json.categoryName }} — rating {{ $json.rating }} ({{ $json.reviewsCount }} reviews)",
          "phoneNumber": "={{ $json.phone }}",
          "countryRegion": "={{ $json.country }}",
          "streetAddress": "={{ $json.address }}",
          "companyDomainName": "={{ $json.domain }}"
        },
        "authentication": "appToken"
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "credential-id",
          "name": "HubSpot Service Key account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "1138d78a-e597-49e5-8af4-6dce6e9502bf",
      "name": "Company Ready",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        96
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "cr+1234567890-+1234567890",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.companyId }}"
            },
            {
              "id": "cr+1234567890-+1234567890",
              "name": "companyDomain",
              "type": "string",
              "value": "={{ $('Match Existing').item.json.domain }}"
            },
            {
              "id": "cr+1234567890-+1234567890",
              "name": "companyTitle",
              "type": "string",
              "value": "={{ $('Match Existing').item.json.title }}"
            },
            {
              "id": "cr+1234567890-+1234567890",
              "name": "companyWebsite",
              "type": "string",
              "value": "={{ $('Match Existing').item.json.website }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "359cf9e7-1434-4586-9f04-725dfdaa6577",
      "name": "Map Industry",
      "type": "n8n-nodes-base.code",
      "notes": "Converts the Industry chosen on the form (a friendly label like 'Computer Software') into the exact value HubSpot stores (e.g. 'COMPUTER_SOFTWARE'). The lookup list is a snapshot of HubSpot's industries; if HubSpot's list changes, refresh this list.",
      "position": [
        -1552,
        176
      ],
      "parameters": {
        "jsCode": "const MAP = {'Accounting':'ACCOUNTING','Airlines/Aviation':'AIRLINES_AVIATION','Alternative Dispute Resolution':'ALTERNATIVE_DISPUTE_RESOLUTION','Alternative Medicine':'ALTERNATIVE_MEDICINE','Animation':'ANIMATION','Apparel & Fashion':'APPAREL_FASHION','Architecture & Planning':'ARCHITECTURE_PLANNING','Arts and Crafts':'ARTS_AND_CRAFTS','Automotive':'AUTOMOTIVE','Aviation & Aerospace':'AVIATION_AEROSPACE','Banking':'BANKING','Biotechnology':'BIOTECHNOLOGY','Broadcast Media':'BROADCAST_MEDIA','Building Materials':'BUILDING_MATERIALS','Business Supplies and Equipment':'BUSINESS_SUPPLIES_AND_EQUIPMENT','Capital Markets':'CAPITAL_MARKETS','Chemicals':'CHEMICALS','Civic & Social Organization':'CIVIC_SOCIAL_ORGANIZATION','Civil Engineering':'CIVIL_ENGINEERING','Commercial Real Estate':'COMMERCIAL_REAL_ESTATE','Computer & Network Security':'COMPUTER_NETWORK_SECURITY','Computer Games':'COMPUTER_GAMES','Computer Hardware':'COMPUTER_HARDWARE','Computer Networking':'COMPUTER_NETWORKING','Computer Software':'COMPUTER_SOFTWARE','Internet':'INTERNET','Construction':'CONSTRUCTION','Consumer Electronics':'CONSUMER_ELECTRONICS','Consumer Goods':'CONSUMER_GOODS','Consumer Services':'CONSUMER_SERVICES','Cosmetics':'COSMETICS','Dairy':'DAIRY','Defense & Space':'DEFENSE_SPACE','Design':'DESIGN','Education Management':'EDUCATION_MANAGEMENT','E-Learning':'E_LEARNING','Electrical/Electronic Manufacturing':'ELECTRICAL_ELECTRONIC_MANUFACTURING','Entertainment':'ENTERTAINMENT','Environmental Services':'ENVIRONMENTAL_SERVICES','Events Services':'EVENTS_SERVICES','Executive Office':'EXECUTIVE_OFFICE','Facilities Services':'FACILITIES_SERVICES','Farming':'FARMING','Financial Services':'FINANCIAL_SERVICES','Fine Art':'FINE_ART','Fishery':'FISHERY','Food & Beverages':'FOOD_BEVERAGES','Food Production':'FOOD_PRODUCTION','Fund-Raising':'FUND_RAISING','Furniture':'FURNITURE','Gambling & Casinos':'GAMBLING_CASINOS','Glass, Ceramics & Concrete':'GLASS_CERAMICS_CONCRETE','Government Administration':'GOVERNMENT_ADMINISTRATION','Government Relations':'GOVERNMENT_RELATIONS','Graphic Design':'GRAPHIC_DESIGN','Health, Wellness and Fitness':'HEALTH_WELLNESS_AND_FITNESS','Higher Education':'HIGHER_EDUCATION','Hospital & Health Care':'HOSPITAL_HEALTH_CARE','Hospitality':'HOSPITALITY','Human Resources':'HUMAN_RESOURCES','Import and Export':'IMPORT_AND_EXPORT','Individual & Family Services':'INDIVIDUAL_FAMILY_SERVICES','Industrial Automation':'INDUSTRIAL_AUTOMATION','Information Services':'INFORMATION_SERVICES','Information Technology and Services':'INFORMATION_TECHNOLOGY_AND_SERVICES','Insurance':'INSURANCE','International Affairs':'INTERNATIONAL_AFFAIRS','International Trade and Development':'INTERNATIONAL_TRADE_AND_DEVELOPMENT','Investment Banking':'INVESTMENT_BANKING','Investment Management':'INVESTMENT_MANAGEMENT','Judiciary':'JUDICIARY','Law Enforcement':'LAW_ENFORCEMENT','Law Practice':'LAW_PRACTICE','Legal Services':'LEGAL_SERVICES','Legislative Office':'LEGISLATIVE_OFFICE','Leisure, Travel & Tourism':'LEISURE_TRAVEL_TOURISM','Libraries':'LIBRARIES','Logistics and Supply Chain':'LOGISTICS_AND_SUPPLY_CHAIN','Luxury Goods & Jewelry':'LUXURY_GOODS_JEWELRY','Machinery':'MACHINERY','Management Consulting':'MANAGEMENT_CONSULTING','Maritime':'MARITIME','Market Research':'MARKET_RESEARCH','Marketing and Advertising':'MARKETING_AND_ADVERTISING','Mechanical or Industrial Engineering':'MECHANICAL_OR_INDUSTRIAL_ENGINEERING','Media Production':'MEDIA_PRODUCTION','Medical Devices':'MEDICAL_DEVICES','Medical Practice':'MEDICAL_PRACTICE','Mental Health Care':'MENTAL_HEALTH_CARE','Military':'MILITARY','Mining & Metals':'MINING_METALS','Motion Pictures and Film':'MOTION_PICTURES_AND_FILM','Museums and Institutions':'MUSEUMS_AND_INSTITUTIONS','Music':'MUSIC','Nanotechnology':'NANOTECHNOLOGY','Newspapers':'NEWSPAPERS','Non-Profit Organization Management':'NON_PROFIT_ORGANIZATION_MANAGEMENT','Oil & Energy':'OIL_ENERGY','Online Media':'ONLINE_MEDIA','Outsourcing/Offshoring':'OUTSOURCING_OFFSHORING','Package/Freight Delivery':'PACKAGE_FREIGHT_DELIVERY','Packaging and Containers':'PACKAGING_AND_CONTAINERS','Paper & Forest Products':'PAPER_FOREST_PRODUCTS','Performing Arts':'PERFORMING_ARTS','Pharmaceuticals':'PHARMACEUTICALS','Philanthropy':'PHILANTHROPY','Photography':'PHOTOGRAPHY','Plastics':'PLASTICS','Political Organization':'POLITICAL_ORGANIZATION','Primary/Secondary Education':'PRIMARY_SECONDARY_EDUCATION','Printing':'PRINTING','Professional Training & Coaching':'PROFESSIONAL_TRAINING_COACHING','Program Development':'PROGRAM_DEVELOPMENT','Public Policy':'PUBLIC_POLICY','Public Relations and Communications':'PUBLIC_RELATIONS_AND_COMMUNICATIONS','Public Safety':'PUBLIC_SAFETY','Publishing':'PUBLISHING','Railroad Manufacture':'RAILROAD_MANUFACTURE','Ranching':'RANCHING','Real Estate':'REAL_ESTATE','Recreational Facilities and Services':'RECREATIONAL_FACILITIES_AND_SERVICES','Religious Institutions':'RELIGIOUS_INSTITUTIONS','Renewables & Environment':'RENEWABLES_ENVIRONMENT','Research':'RESEARCH','Restaurants':'RESTAURANTS','Retail':'RETAIL','Security and Investigations':'SECURITY_AND_INVESTIGATIONS','Semiconductors':'SEMICONDUCTORS','Shipbuilding':'SHIPBUILDING','Sporting Goods':'SPORTING_GOODS','Sports':'SPORTS','Staffing and Recruiting':'STAFFING_AND_RECRUITING','Supermarkets':'SUPERMARKETS','Telecommunications':'TELECOMMUNICATIONS','Textiles':'TEXTILES','Think Tanks':'THINK_TANKS','Tobacco':'TOBACCO','Translation and Localization':'TRANSLATION_AND_LOCALIZATION','Transportation/Trucking/Railroad':'TRANSPORTATION_TRUCKING_RAILROAD','Utilities':'UTILITIES','Venture Capital & Private Equity':'VENTURE_CAPITAL_PRIVATE_EQUITY','Veterinary':'VETERINARY','Warehousing':'WAREHOUSING','Wholesale':'WHOLESALE','Wine and Spirits':'WINE_AND_SPIRITS','Wireless':'WIRELESS','Writing and Editing':'WRITING_AND_EDITING','Mobile Games':'MOBILE_GAMES'};\nconst label = ($('On form submission').first().json['Industry (HubSpot)'] || '').trim();\nreturn [{ json: { industryLabel: label, industryValue: MAP[label] || '' } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "2b84df11-c4f0-43a3-b92f-1022ec06a5a2",
      "name": "Step 1 Group",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        -288
      ],
      "parameters": {
        "color": 7,
        "width": 1056,
        "height": 754,
        "content": "## Step 1 — Capture request & scrape Google Maps"
      },
      "typeVersion": 1
    },
    {
      "id": "81ff368b-a3fb-4a6f-ba09-7dec21c96971",
      "name": "Step 2 Group",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -288
      ],
      "parameters": {
        "color": 7,
        "width": 1700,
        "height": 754,
        "content": "## Step 2 — Upsert Companies in HubSpot (no duplicates)"
      },
      "typeVersion": 1
    },
    {
      "id": "41acb1dc-8208-48b4-83ab-500a58cf59d1",
      "name": "Step 3 Group",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -288
      ],
      "parameters": {
        "color": 7,
        "width": 892,
        "height": 754,
        "content": "## Step 3 — Enrich & sync Contacts (Hunter → HubSpot)"
      },
      "typeVersion": 1
    },
    {
      "id": "0b1a9c47-d303-4cab-8515-43164031eb5c",
      "name": "Sub - Form intake",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1776,
        -192
      ],
      "parameters": {
        "color": 2,
        "width": 346,
        "height": 538,
        "content": "## Form intake mapping\n\nStarts the workflow from a submitted form and converts the selected industry or search criteria into values suitable for the scraping step.\n\n**TIP:** `locationQuery` takes ONE location per run — use `City, Country` (e.g. \"Austin, USA\"); a whole country is too broad and fills the cap fast. The Industry list is a baked-in snapshot of HubSpot's official industries."
      },
      "typeVersion": 1
    },
    {
      "id": "5a78b104-2bb5-456c-89ae-f883fa4c070d",
      "name": "About and Setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2448,
        -288
      ],
      "parameters": {
        "color": 5,
        "width": 620,
        "height": 754,
        "content": "## 🗺️ Google Maps Lead Generation for HubSpot CRM\n\n### ⚙️ How it works\n\nThis workflow collects lead-generation criteria from a form, maps the selected industry, and runs an Apify Google Maps actor to scrape businesses. It extracts and deduplicates company data, checks HubSpot for existing companies, then updates or creates company records. For companies with domains, it uses Hunter to find contacts, deduplicates them, and upserts the contacts into HubSpot.\n\n### 🧩 Setup steps\n\n- [ ] Configure the form trigger fields used for location, industry, search terms, and any other Apify actor inputs.\n- [ ] Connect Apify credentials and set the Google Maps actor plus dataset retrieval settings to match the actor output.\n- [ ] Connect HubSpot credentials with permissions to search, create, and update companies and contacts.\n- [ ] Connect Hunter credentials for domain search, and confirm the workflow passes a valid company domain or website to Hunter.\n- [ ] Review mapped HubSpot properties such as company name, domain, website, rating, category, average price, and contact fields.\n\n### 🛠️ Customization\n\nAdjust the Map Industry code, Apify actor inputs, duplicate-matching keys, HubSpot property mappings, and Hunter contact filtering rules to target different markets or qualification criteria."
      },
      "typeVersion": 1
    },
    {
      "id": "d680d50a-6748-4ba9-a1dc-737d7514bf30",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        -32
      ],
      "parameters": {
        "color": 2,
        "width": 352,
        "height": 384,
        "content": "## Run scrape actor\n\nLaunches the Apify actor using the mapped form input, then evaluates whether the actor run produced a usable result."
      },
      "typeVersion": 1
    },
    {
      "id": "9599b8c3-e697-4b39-af67-f1eb692b7ce3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -128
      ],
      "parameters": {
        "color": 2,
        "width": 256,
        "height": 576,
        "content": "## Handle actor output\n\nRetrieves scraped dataset items when the actor succeeds, or ends the branch with a no-op when there is nothing to process."
      },
      "typeVersion": 1
    },
    {
      "id": "327a797a-d6c6-485f-9456-754e1cd13e55",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -80
      ],
      "parameters": {
        "color": 2,
        "width": 352,
        "height": 336,
        "content": "## Clean company leads\n\nExtracts the key company fields from the scraped records and removes duplicate businesses before CRM matching."
      },
      "typeVersion": 1
    },
    {
      "id": "375f76f9-1c6b-4164-852f-e8d02444c823",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -80
      ],
      "parameters": {
        "color": 2,
        "width": 608,
        "height": 432,
        "content": "## Match HubSpot companies\n\nSearches HubSpot for existing companies, normalizes the search result, and merges it back with the deduplicated scraped company data."
      },
      "typeVersion": 1
    },
    {
      "id": "846e38df-9f81-48b6-a93d-4d8788f9ddb5",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -208
      ],
      "parameters": {
        "color": 2,
        "width": 640,
        "height": 640,
        "content": "## Upsert company records\n\nDetermines whether each company already exists in HubSpot, updates existing records or creates new ones, then standardizes the resulting company details for contact enrichment."
      },
      "typeVersion": 1
    },
    {
      "id": "0ffc7b59-93f4-4d66-b64a-7f725bd2b731",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        -192
      ],
      "parameters": {
        "color": 2,
        "width": 416,
        "height": 480,
        "content": "## Find domain contacts\n\nFilters companies to those with a domain and uses Hunter domain search to discover associated contacts.\n\n**Hunter free tier:** 25 searches + 50 verifications / month. Domain Search costs 1 credit per email, so `limit` is kept low (10) and filtered to personal emails."
      },
      "typeVersion": 1
    },
    {
      "id": "58fb24a6-086d-40c3-8107-bc2708ffe4d2",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -80
      ],
      "parameters": {
        "color": 2,
        "width": 384,
        "height": 368,
        "content": "## Upsert contact records\n\nRemoves duplicate contacts returned by Hunter and creates or updates the contact records in HubSpot."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": true,
    "executionOrder": "v1"
  },
  "versionId": "b6fb160a-88b7-4b57-a48d-1997754e01aa",
  "nodeGroups": [],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Domain": {
      "main": [
        [
          {
            "node": "Hunter Domain Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Industry": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Ready": {
      "main": [
        [
          {
            "node": "Has Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Exists": {
      "main": [
        [
          {
            "node": "HubSpot Update Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot - Create Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Existing": {
      "main": [
        [
          {
            "node": "Company Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Contacts": {
      "main": [
        [
          {
            "node": "HubSpot - Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Match": {
      "main": [
        [
          {
            "node": "Match Existing",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dedupe Companies": {
      "main": [
        [
          {
            "node": "Match Existing",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot Search Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Extract Essentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Essentials": {
      "main": [
        [
          {
            "node": "Dedupe Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Map Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Domain Search": {
      "main": [
        [
          {
            "node": "Dedupe Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Search Company": {
      "main": [
        [
          {
            "node": "Normalize Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Update Company": {
      "main": [
        [
          {
            "node": "Company Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create Company": {
      "main": [
        [
          {
            "node": "Company Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
