automations/n8n/library/16823-track-amazon-best-seller-ranks-in-airtable-with-scraperapi-a.workflow.json
{
  "nodes": [
    {
      "id": "ac26da09-5fd0-40c7-9f88-b84d113e3455",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        320
      ],
      "parameters": {
        "width": 480,
        "height": 736,
        "content": "## Track Amazon Best Sellers Rank over time in Airtable via ScraperAPI\n\n### How it works\n\n1. The workflow triggers every morning at 8am.\n2. Fetches a watchlist from Airtable.\n3. Loops over items to get product information from Amazon.\n4. Updates the watchlist rank in Airtable.\n5. Sends alerts on Slack if rank alerts exist.\n\n### Setup steps\n\n- [ ] Set up schedule trigger for 8 am daily execution.\n- [ ] Connect and authorize Airtable account to fetch data.\n- [ ] Set up Scraper API access for Amazon product data.\n- [ ] Integrate Slack to send alerts.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "ab1444f3-df45-4bbd-9b84-4657cba55928",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 240,
        "height": 320,
        "content": "## Daily schedule trigger\n\nInitiates the workflow every morning at 8am and fetches data from Airtable."
      },
      "typeVersion": 1
    },
    {
      "id": "9bbe8854-2df2-4d66-8b3d-f8ec00916b92",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        352
      ],
      "parameters": {
        "color": 7,
        "width": 496,
        "height": 304,
        "content": "## Fetch and iterate watchlist\n\nFetches the watchlist from Airtable and iterates over each item."
      },
      "typeVersion": 1
    },
    {
      "id": "b75c4965-2c54-4017-bb46-62443c220bcc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        368
      ],
      "parameters": {
        "color": 7,
        "width": 1040,
        "height": 272,
        "content": "## Extract and update product ranks\n\nFetches Amazon product data, extracts rank, and updates Airtable with new rank."
      },
      "typeVersion": 1
    },
    {
      "id": "8f9d47b2-0f05-493a-9bd3-cbf156569736",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        704
      ],
      "parameters": {
        "color": 7,
        "width": 1056,
        "height": 352,
        "content": "## Fetch alerts and process notifications\n\nChecks for today's alerts, creates a digest, and sends alerts via Slack if necessary."
      },
      "typeVersion": 1
    },
    {
      "id": "schedule-trigger",
      "name": "Every Morning at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1100,
        480
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "read-watchlist",
      "name": "Fetch Watchlist from Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -560,
        480
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {},
        "resource": "record",
        "operation": "search",
        "returnAll": true,
        "filterByFormula": "{active} = TRUE()"
      },
      "typeVersion": 2.2
    },
    {
      "id": "iterate-watchlist",
      "name": "Loop Over Watchlist Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -260,
        480
      ],
      "parameters": {
        "options": {},
        "batchSize": 1
      },
      "typeVersion": 3
    },
    {
      "id": "scrape-amazon",
      "name": "Fetch Amazon Product",
      "type": "n8n-nodes-scraperapi-official.scraperApi",
      "maxTries": 2,
      "position": [
        40,
        480
      ],
      "parameters": {
        "sdeAsin": "={{ $('Loop Over Watchlist Items').item.json.fields.asin }}",
        "resource": "sde",
        "operation": "amazonProduct",
        "sdePlatform": "amazon",
        "sdeAmazonProductOptions": {
          "tld": "com",
          "countryCode": "us",
          "outputFormat": "json"
        }
      },
      "retryOnFail": true,
      "typeVersion": 1,
      "continueOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "id": "extract-bsr",
      "name": "Extract BSR",
      "type": "n8n-nodes-base.code",
      "position": [
        320,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// The Amazon Product SDE returns Best Sellers Rank as free text inside\n// product_information (e.g. \"#1,234 in Electronics ... #5 in Earbuds\"),\n// not as a numeric field — so we parse the primary rank out of it and\n// compare against the rank stored on the previous run.\n\nconst numOrNull = (v) => {\n  if (v === null || v === undefined || v === '') return null;\n  const n = parseFloat(String(v).replace(/[^0-9.]/g, ''));\n  return Number.isFinite(n) ? n : null;\n};\n\nconst getBody = (item) => {\n  const resp = item && item.json && item.json.response;\n  if (!resp || resp.body === undefined) return {};\n  if (typeof resp.body === 'string') {\n    try { return JSON.parse(resp.body); } catch (e) { return {}; }\n  }\n  return resp.body;\n};\n\nconst row = $('Loop Over Watchlist Items').item.json.fields || {};\nconst asin = row.asin || '';\nconst label = row.label || asin;\nconst threshold = numOrNull(row.rank_threshold);\nconst hasThreshold = threshold !== null && threshold > 0;\nconst lastRank = numOrNull(row.last_rank);\nconst checkedAt = new Date().toISOString();\n\nconst body = getBody($input.first());\nconst info = body.product_information || body.productInformation || {};\n\n// Best Sellers Rank can live under a few key names / shapes — collect candidates.\nconst candidates = [body.bestsellers_rank, body.best_sellers_rank, body.sales_rank];\nfor (const [k, v] of Object.entries(info)) {\n  if (/best.?sellers?.?rank|bsr/i.test(k)) candidates.push(v);\n}\nlet bsrRaw = '';\nfor (const c of candidates) {\n  if (c !== undefined && c !== null && c !== '') {\n    bsrRaw = typeof c === 'string' ? c : JSON.stringify(c);\n    break;\n  }\n}\n\n// Primary rank = first \"#<number>\"; category = text after the first \" in \".\nconst rankMatch = bsrRaw.match(/#\\s*([\\d,]+)/);\nconst rank = rankMatch ? parseInt(rankMatch[1].replace(/,/g, ''), 10) : null;\nconst catMatch = bsrRaw.match(/#\\s*[\\d,]+\\s+in\\s+([^#(\\n]+)/i);\nconst category = catMatch ? catMatch[1].trim() : '';\n\nconst delta = (rank !== null && lastRank !== null) ? (rank - lastRank) : null;\nconst isAlert = hasThreshold && delta !== null && Math.abs(delta) >= threshold;\nconst direction = delta === null ? 'first reading' : (delta < 0 ? 'improved' : (delta > 0 ? 'dropped' : 'flat'));\n\nreturn [{\n  json: {\n    asin,\n    label,\n    category,\n    rank,\n    previous_rank: lastRank,\n    delta,\n    direction,\n    rank_found: rank !== null,\n    is_alert: isAlert,\n    new_last_rank: rank !== null ? rank : lastRank,\n    checked_at: checkedAt,\n  },\n  pairedItem: { item: 0 },\n}];\n",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "append-rank",
      "name": "Append Rank to Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        600,
        480
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "value": {
            "asin": "={{ $json.asin }}",
            "rank": "={{ $json.rank }}",
            "delta": "={{ $json.delta }}",
            "label": "={{ $json.label }}",
            "category": "={{ $json.category }}",
            "is_alert": "={{ $json.is_alert }}",
            "direction": "={{ $json.direction }}",
            "checked_at": "={{ $json.checked_at }}",
            "previous_rank": "={{ $json.previous_rank }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {},
        "resource": "record",
        "operation": "create"
      },
      "typeVersion": 2.2
    },
    {
      "id": "update-watchlist",
      "name": "Update Watchlist Rank",
      "type": "n8n-nodes-base.airtable",
      "position": [
        880,
        480
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "value": {
            "id": "={{ $('Loop Over Watchlist Items').item.json.id }}",
            "last_rank": "={{ $json.new_last_rank }}",
            "last_checked_at": "={{ $json.checked_at }}"
          },
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ]
        },
        "options": {},
        "resource": "record",
        "operation": "update"
      },
      "typeVersion": 2.2
    },
    {
      "id": "read-todays-alerts",
      "name": "Fetch Today's Rank Alerts",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -256,
        816
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {},
        "resource": "record",
        "operation": "search",
        "returnAll": true,
        "filterByFormula": "AND({is_alert} = TRUE(), DATETIME_FORMAT({checked_at}, 'YYYY-MM-DD') = DATETIME_FORMAT(NOW(), 'YYYY-MM-DD'))"
      },
      "executeOnce": true,
      "typeVersion": 2.2
    },
    {
      "id": "build-digest",
      "name": "Build Alert Digest",
      "type": "n8n-nodes-base.code",
      "position": [
        48,
        816
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect the ASINs flagged today into one Slack message so a big watchlist\n// doesn't produce dozens of pings. Reads the alert rows written to the Rank\n// History table earlier in this run.\n\nconst alerts = $input.all()\n  .map((i) => i.json.fields || {})\n  .filter((r) => r && r.asin && r.is_alert);\n\nif (alerts.length === 0) {\n  return [{ json: { alertCount: 0, text: '' } }];\n}\n\nconst rows = alerts.sort(\n  (a, b) => Math.abs(Number(b.delta) || 0) - Math.abs(Number(a.delta) || 0),\n);\n\nconst fmtRank = (n) => (n === null || n === undefined || n === '')\n  ? '?'\n  : '#' + Number(n).toLocaleString('en-US');\n\nconst lines = rows.map((r) => {\n  const move = (Number(r.delta) < 0 ? 'up ' : 'down ') + Math.abs(Number(r.delta));\n  const cat = r.category ? ' in ' + r.category : '';\n  return '- *' + (r.label || r.asin) + '* (' + r.asin + '): '\n    + fmtRank(r.previous_rank) + ' to ' + fmtRank(r.rank) + ' (' + move + ')' + cat;\n}).join('\\n');\n\nconst text = ':rotating_light: *Amazon BSR alerts — ' + rows.length + ' product'\n  + (rows.length === 1 ? '' : 's') + ' moved beyond threshold today*\\n\\n'\n  + lines + '\\n\\nFull rank history lives in your Airtable Rank History table.';\n\nreturn [{ json: { alertCount: rows.length, text } }];\n",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "has-alerts",
      "name": "If Alerts Exist",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        816
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "alert-count-gt-0",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.alertCount }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "send-slack",
      "name": "Send Alerts on Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        608,
        896
      ],
      "parameters": {
        "text": "={{ $json.text }}",
        "select": "channel",
        "resource": "message",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "operation": "post",
        "otherOptions": {}
      },
      "typeVersion": 2.3
    }
  ],
  "connections": {
    "Extract BSR": {
      "main": [
        [
          {
            "node": "Append Rank to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Alerts Exist": {
      "main": [
        [
          {
            "node": "Send Alerts on Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Alert Digest": {
      "main": [
        [
          {
            "node": "If Alerts Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Morning at 8am": {
      "main": [
        [
          {
            "node": "Fetch Watchlist from Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Amazon Product": {
      "main": [
        [
          {
            "node": "Extract BSR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Watchlist Rank": {
      "main": [
        [
          {
            "node": "Loop Over Watchlist Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Rank to Airtable": {
      "main": [
        [
          {
            "node": "Update Watchlist Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Rank Alerts": {
      "main": [
        [
          {
            "node": "Build Alert Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Watchlist Items": {
      "main": [
        [
          {
            "node": "Fetch Today's Rank Alerts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Amazon Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Watchlist from Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Watchlist Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Track Amazon best seller ranks in Airtable with ScraperAPI and Slack",
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "owner": "ScraperAPI",
    "source": "n8n.io template library",
    "templateId": 16823
  }
}
