automations/n8n/library/16838-log-airtable-worklogs-to-tempo-with-jira-and-slack-notificat.workflow.json
{
  "id": "QupdGDKu0MVx1w9w",
  "meta": {
    "instanceId": "d160c60fec581dd753f66b15b75247a641b37043c0f670ec7688c896adc70c07",
    "templateCredsSetupCompleted": true,
    "owner": "Viktor Mikeska",
    "source": "n8n.io template library",
    "templateId": 16838
  },
  "name": "Automatic Airtable Tempo logger copy (creators platform submit)",
  "tags": [
    {
      "id": "nyHTPF5NalneafNP",
      "name": "Personal",
      "createdAt": "2026-04-12T13:11:29.721Z",
      "updatedAt": "2026-04-12T13:11:29.721Z"
    }
  ],
  "nodes": [
    {
      "id": "868c7b96-ee60-4d8e-a267-d8c83a64fb69",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -768
      ],
      "parameters": {
        "width": 1152,
        "height": 928,
        "content": "# Automatic Airtable-to-Tempo Logger\n\n### Workflow Overview\nThis workflow automates your daily time-tracking routine by fetching logs from Airtable, submitting them to Tempo (Jira), and archiving the results.\n\n---\n\n### How it works\n* **Trigger:** Runs on a scheduled basis (default: 11 PM CET).\n* **Data Fetching:** Retrieves data from your \"Daily Worklog\" Airtable base.\n* **Processing:** Maps Airtable records to Jira Issue IDs and prepares Tempo payload.\n* **Tempo Submission:** Executes an HTTP request to submit your work time to Tempo.\n* **Maintenance:** Clears the \"Daily Worklog\" table and archives successfully processed logs into the \"Worklog History\" table.\n* **Notification:** Sends a direct Slack message confirming the successful upload.\n\n### Requirements\n* **Airtable Base:** \n    * Requires two tables: *Daily Worklog* and *Worklog History*. [Download Template Here](https://airtable.com/appPkZFrmA9yu0MxC/shrb4ohBr3k77hZj7)\n* **Credentials:** \n    * Airtable API Token\n    * Jira API Token\n    * Tempo API Token\n    * Slack Bot Token (`xoxb-...`)\n\n### Setup Instructions\n1. **Schedule Trigger:** Adjust trigger node to fit your preferred schedule.\n2. **API Credentials:** Set up your credentials in each corresponding n8n node.\n3. **Code Node Configuration:** Open the *Prepare Tempo Payload* node and update the `TEMPO_AUTHOR_ID` variable with your unique Tempo user ID.\n4. **Slack Integration:** Ensure your Slack bot has the `chat:write` scope and is properly authorized.\n\n### Customization\n* **Slack Notifications:** Modify the message text in the Slack node to your liking. Use [Slack's Block Kit Builder](https://app.slack.com/block-kit-builder) for advanced layouts."
      },
      "typeVersion": 1
    },
    {
      "id": "ab16606d-0642-43c8-ac86-5323c6ef245d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -512
      ],
      "parameters": {
        "color": 7,
        "width": 632,
        "height": 416,
        "content": "### 2. Data Mapping, Payload Preparation & Tempo Upload\n\n* **Data Mapping**: Links Airtable records with Jira Issue IDs.\n* **Prepare Tempo Payload**: Calculates duration, sets author ID, formats timestamps and transforms input data into the required Tempo API schema.\n* **Tempo Submission**: Executes the HTTP POST request to upload the worklog into Tempo.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "c4d0a61f-340b-4d03-8426-b7c432c01c17",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -512
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 416,
        "content": "### 3. Airtable History Log & Daily Table Cleanup\n\n* **Record History**: Archives processed entries into the Worklog History table to maintain a complete record of all submissions.\n* **Table Cleanup**: Deletes processed entries from the Daily Worklog table to keep it clean and ready for the next day."
      },
      "typeVersion": 1
    },
    {
      "id": "e0733566-6ace-41fc-aab2-0eebc6225b16",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        -512
      ],
      "parameters": {
        "color": 7,
        "width": 420,
        "height": 416,
        "content": "### 4. Data Aggregation & Completion Notification\n\n* **Aggregate Results**: Groups processed worklogs to generate a single output.\n* **Slack Notification**: Sends a Slack message confirming that the work logs were successfully uploaded to Tempo."
      },
      "typeVersion": 1
    },
    {
      "id": "16017807-aa19-4cf8-b545-ed730e69ca58",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -512
      ],
      "parameters": {
        "color": 7,
        "width": 644,
        "height": 416,
        "content": "### 1. Trigger, Data Fetch & Jira Issue Convert\n\n* **Schedule Trigger:** Triggers the workflow execution at the defined frequency.\n* **Fetch Worklogs:** Retrieves data from the `DailyWorkLog` Airtable table.\n* **Jira Issue Convert:** Transforms the user-friendly **`Issue Key`** into the **`Issue ID`**."
      },
      "typeVersion": 1
    },
    {
      "id": "95105bc5-eb81-439c-9a91-00420384cedd",
      "name": "ScheduleTrigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        -256
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "18c737b3-38d9-4da0-9483-f2420cb94324",
      "name": "FetchDailyWorklog",
      "type": "n8n-nodes-base.airtable",
      "position": [
        224,
        -256
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appADNN1QdvrjFriW",
          "cachedResultUrl": "https://airtable.com/appADNN1QdvrjFriW",
          "cachedResultName": "Worklog"
        },
        "sort": {
          "property": [
            {
              "field": "Date"
            }
          ]
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblAsdqVtKWLLCdL4",
          "cachedResultUrl": "https://airtable.com/appADNN1QdvrjFriW/tblAsdqVtKWLLCdL4",
          "cachedResultName": "Daily Worklog"
        },
        "options": {},
        "operation": "search"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "bbpQjipmM1rrQDza",
          "name": "Airtable API Token"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "c54b019a-f835-4dc4-815e-af12df1d7e5c",
      "name": "DataMapping",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        -256
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "122d2602-e506-491d-bfa5-49eb855ab8d7",
              "name": "id",
              "type": "number",
              "value": "={{ $json.id }}"
            },
            {
              "id": "30145263-d490-4daf-82be-e74cb7e3032a",
              "name": "fields.date",
              "type": "string",
              "value": "={{ $('FetchDailyWorklog').item.json.fields.Date }}"
            },
            {
              "id": "57b73857-0f50-49df-a745-8dec629cdf4b",
              "name": "fields.startTime",
              "type": "string",
              "value": "={{ $('FetchDailyWorklog').item.json.fields[\"Start Time\"] }}"
            },
            {
              "id": "30240305-0b2b-4e40-8ab0-3f6cf7f1f355",
              "name": "fields.endTime",
              "type": "string",
              "value": "={{ $('FetchDailyWorklog').item.json.fields[\"End Time\"] }}"
            },
            {
              "id": "feae4b9c-c193-41b5-aed6-9ffa119e1933",
              "name": "fields.description",
              "type": "string",
              "value": "={{ $('FetchDailyWorklog').item.json.fields.Description }}"
            }
          ]
        },
        "includeOtherFields": "="
      },
      "typeVersion": 3.4
    },
    {
      "id": "a56d987d-57be-4b8f-b43e-00af1feb4279",
      "name": "TempoUpload",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        -256
      ],
      "parameters": {
        "url": "https://api.tempo.io/4/worklogs",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ $json }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "5rg6r3FzNayxARID",
          "name": "Tempo API Token"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "505f3eb4-a568-4cfa-906c-82967e066b6c",
      "name": "DailyTableClear",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1568,
        -256
      ],
      "parameters": {
        "id": "={{ $('FetchDailyWorklog').item.json.id }}",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appADNN1QdvrjFriW",
          "cachedResultUrl": "https://airtable.com/appADNN1QdvrjFriW",
          "cachedResultName": "Worklog"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblAsdqVtKWLLCdL4",
          "cachedResultUrl": "https://airtable.com/appADNN1QdvrjFriW/tblAsdqVtKWLLCdL4",
          "cachedResultName": "Daily Worklog"
        },
        "operation": "deleteRecord"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "bbpQjipmM1rrQDza",
          "name": "Airtable API Token"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "370608c9-34ed-4f6d-b2c1-f8ea454a38b8",
      "name": "RecordHistory",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1344,
        -256
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appADNN1QdvrjFriW",
          "cachedResultUrl": "https://airtable.com/appADNN1QdvrjFriW",
          "cachedResultName": "Worklog"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbl4eA8h2nz7m9VLL",
          "cachedResultUrl": "https://airtable.com/appADNN1QdvrjFriW/tbl4eA8h2nz7m9VLL",
          "cachedResultName": "Worklog History"
        },
        "columns": {
          "value": {
            "Date": "={{ $('FetchDailyWorklog').item.json.fields.Date }}",
            "Notes": "={{ $('FetchDailyWorklog').item.json.fields.Notes }}",
            "Project": "={{ $('FetchDailyWorklog').item.json.fields.Project }}",
            "End Time": "={{ $('FetchDailyWorklog').item.json.fields[\"End Time\"] }}",
            "Issue Key": "={{ $('FetchDailyWorklog').item.json.fields[\"Issue Key\"] }}",
            "Start Time": "={{ $('FetchDailyWorklog').item.json.fields[\"Start Time\"] }}",
            "Description": "={{ $('FetchDailyWorklog').item.json.fields.Description }}"
          },
          "schema": [
            {
              "id": "Date",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Project",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Project",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue Key",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Issue Key",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Time",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Start Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "End Time",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "End Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        },
        "operation": "create"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "bbpQjipmM1rrQDza",
          "name": "Airtable API Token"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "7c243626-f962-486d-9909-8d040d1e14d8",
      "name": "SlackNotification",
      "type": "n8n-nodes-base.slack",
      "position": [
        2016,
        -256
      ],
      "webhookId": "c2905b38-fda9-494b-a204-b1a408cfe0fc",
      "parameters": {
        "text": "✅ Work time was logged into Tempo.",
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "U083Y3E5SG0"
        },
        "select": "user",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": {
          "id": "t0iGqPcR9MR6BsoO",
          "name": "n8n Slack App Bot Usr OAuth Token"
        }
      },
      "notesInFlow": false,
      "typeVersion": 2.4
    },
    {
      "id": "555a806d-50c9-42ad-961c-8807dc5b4d05",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1792,
        -256
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "renameField": true,
              "outputFieldName": "deletedRecords",
              "fieldToAggregate": "id"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "942c4f0a-3953-44ae-a7c8-d449b92d349e",
      "name": "JiraIssueConvert",
      "type": "n8n-nodes-base.jira",
      "position": [
        448,
        -256
      ],
      "parameters": {
        "issueKey": "={{ $json.fields[\"Issue Key\"] }}",
        "operation": "get",
        "additionalFields": {}
      },
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "4ayH2FVPZ70Vbf5r",
          "name": "Jira API Token"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "f217a4d1-e330-4548-866a-d8a814e58e57",
      "name": "PrepareTempoPayload",
      "type": "n8n-nodes-base.code",
      "position": [
        896,
        -256
      ],
      "parameters": {
        "jsCode": "// Tempo API Configuration\nconst TEMPO_AUTHOR_ID = \"YOUR_TEMPO_AUTHOR_ID\";\n\n/**\n * Prepares the payload for Tempo API submission.\n * @param {Object} item - The raw data item.\n * @returns {Object} - Formatted payload compliant with Tempo API.\n */\nconst prepareTempoPayload = (item) => {\n  const { id, fields } = item.json;\n\n  // Converts \"HH:MM\" format to total seconds\n  const toSeconds = (timeStr) => {\n    const [hours, minutes] = timeStr.split(\":\").map(Number);\n    return hours * 3600 + minutes * 60;\n  };\n\n  return {\n    json: {\n      authorAccountId: TEMPO_AUTHOR_ID,\n      issueId: id,\n      timeSpentSeconds: toSeconds(fields.endTime) - toSeconds(fields.startTime),\n      startDate: fields.date,\n      startTime: `${fields.startTime}:00`, // Ensure HH:MM:SS format\n      description: fields.description,\n    },\n  };\n};\n\n// Map items to the prepared payload structure\nreturn items.map(prepareTempoPayload);\n"
      },
      "typeVersion": 2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "timezone": "Europe/Prague",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "availableInMCP": false,
    "executionOrder": "v1",
    "timeSavedPerExecution": 0
  },
  "versionId": "641bc83e-9895-454e-be71-4d2384cfcaa2",
  "nodeGroups": [],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "SlackNotification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataMapping": {
      "main": [
        [
          {
            "node": "PrepareTempoPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TempoUpload": {
      "main": [
        [
          {
            "node": "RecordHistory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecordHistory": {
      "main": [
        [
          {
            "node": "DailyTableClear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DailyTableClear": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScheduleTrigger": {
      "main": [
        [
          {
            "node": "FetchDailyWorklog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JiraIssueConvert": {
      "main": [
        [
          {
            "node": "DataMapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchDailyWorklog": {
      "main": [
        [
          {
            "node": "JiraIssueConvert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SlackNotification": {
      "main": [
        []
      ]
    },
    "PrepareTempoPayload": {
      "main": [
        [
          {
            "node": "TempoUpload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
