automations/n8n/library/16863-manage-it-asset-requests-and-inventory-with-airtable-and-a-w.workflow.json
{
  "id": "nEXrnJ7L8JqKZt3D",
  "meta": {
    "instanceId": "1258e7344e8910ece5789a7de650841d17a7f73d6e93ab5b0192ce4410c5cadd",
    "templateCredsSetupCompleted": true,
    "owner": "Prakash Software",
    "source": "n8n.io template library",
    "templateId": 16863
  },
  "name": "IT Asset Request Automation System",
  "tags": [],
  "nodes": [
    {
      "id": "00fbaeb3-271c-41df-a9a5-fa6857137f81",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2032,
        592
      ],
      "parameters": {
        "width": 480,
        "height": 800,
        "content": "## IT Asset Request Automation System\n\n### How it works\n\n1. The system initiates with a webhook trigger for asset requests.\n2. A unique request ID is generated and stored in the context.\n3. An Airtable record is created for the request using the stored context data.\n4. The inventory is searched to check the availability of the requested asset.\n5. Based on inventory availability, either the inventory is updated with the asset status and the request is approved, or an exception record is created to handle out-of-stock situations.\n6. A response is sent back to the requester indicating the approval or out-of-stock status.\n\n### Setup steps\n\n- [ ] Setup a webhook for triggering the workflow.\n- [ ] Connect Airtable credentials to create and read records.\n- [ ] Ensure the search query for inventory is set up correctly.\n\n### Customization\n\nConsider adding alerts for low inventory levels."
      },
      "typeVersion": 1
    },
    {
      "id": "12594899-c037-4a84-8b5e-dc8ff0e0b97f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        720
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 304,
        "content": "## Webhook and Request ID\n\nHandles the initiation of the request through a webhook and generates a unique request ID."
      },
      "typeVersion": 1
    },
    {
      "id": "f6f44bb8-1241-4d5d-b7bd-ef7781420f50",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        688
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 320,
        "content": "## Create Airtable Record\n\nCreates an Airtable record for the asset request using context data generated from the previous steps."
      },
      "typeVersion": 1
    },
    {
      "id": "e63ee296-3039-42a5-aa99-c4937707158c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        592
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 512,
        "content": "## Inventory Decision Process\n\nChecks the inventory for asset availability and decides whether to approve or handle the request as an exception."
      },
      "typeVersion": 1
    },
    {
      "id": "9b991bec-3e2f-4f30-91b0-287c0b6591fe",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        592
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 512,
        "content": "## Respond to Request\n\nSends a response back to the requester about the approval status or informs them of the out-of-stock situation."
      },
      "typeVersion": 1
    },
    {
      "id": "76debcbf-70d0-4dcb-b762-9c265668f559",
      "name": "Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1424,
        848
      ],
      "webhookId": "3d679e26-8d68-417c-b41e-d982e46808ea",
      "parameters": {
        "path": "asset-request",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 1.1
    },
    {
      "id": "774abba9-bc71-4301-86c3-7ec0fec6a8f4",
      "name": "Generate Request ID1",
      "type": "n8n-nodes-base.set",
      "position": [
        -1200,
        848
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "e2ba90f2-7756-4b8a-9213-91db40156ef2",
              "name": "requestId",
              "type": "string",
              "value": "=REQ-{{ $now.format('YYYY') }}-{{ Math.floor(Math.random() * 900000) + 100000 }}"
            },
            {
              "id": "5151e7db-98fb-48ac-bc38-1bf82683af30",
              "name": "body",
              "type": "object",
              "value": "={{ $json.body }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "cdd9c97d-6efc-4147-be67-7f8c2eecdb8d",
      "name": "Create Airtable Record1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -752,
        848
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appQ4Jxzhah62WfRx",
          "cachedResultUrl": "https://airtable.com/appQ4Jxzhah62WfRx",
          "cachedResultName": "IT Asset Management"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblB5tCTFANtisNUd",
          "cachedResultUrl": "https://airtable.com/appQ4Jxzhah62WfRx/tblB5tCTFANtisNUd",
          "cachedResultName": "Asset Requests"
        },
        "columns": {
          "value": {
            "Status": "Pending",
            "Priority": "={{ $json.body.priority }}",
            "Quantity": "={{ $json.body.quantity }}",
            "Asset Type": "={{ $json.body.assetType }}",
            "Department": "={{ $json.body.department }}",
            "Request ID": "={{ $json.requestId }}",
            "Employee ID": "={{ $json.body.employeeId }}",
            "Request Date": "={{ $now.format('YYYY-MM-DD') }}",
            "Employee Name": "={{ $json.body.employeeName }}"
          },
          "schema": [
            {
              "id": "Request ID",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Request ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee ID",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Employee ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset Type",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Quantity",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Priority",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Date",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Request Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "create"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "KvY8GOnBzyDxz3g5",
          "name": "Airtable Personal Access Token account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "71aa0123-5316-44f8-8e0f-77970479100a",
      "name": "Search Inventory Table1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -528,
        848
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appQ4Jxzhah62WfRx"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblS4kxGD57gpCYal"
        },
        "options": {},
        "operation": "search",
        "filterByFormula": "={Asset Type} = '{{ $('_1_Data_Context1').item.json.body.assetType }}'"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "KvY8GOnBzyDxz3g5",
          "name": "Airtable Personal Access Token account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "7391ee96-f241-4eff-bf65-f0a1e4b6f6b2",
      "name": "Inventory Decision1",
      "type": "n8n-nodes-base.if",
      "position": [
        -304,
        848
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7ff399a4-98f6-4058-ad25-f491477f547f",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json[\"Available Quantity\"] }}",
              "rightValue": "={{ $('_1_Data_Context1').item.json.body.quantity }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "f068f038-9bfa-4825-a7fb-6b9e6d582594",
      "name": "Update Inventory1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -80,
        752
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appQ4Jxzhah62WfRx",
          "cachedResultUrl": "https://airtable.com/appQ4Jxzhah62WfRx",
          "cachedResultName": "IT Asset Management"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblS4kxGD57gpCYal",
          "cachedResultUrl": "https://airtable.com/appQ4Jxzhah62WfRx/tblS4kxGD57gpCYal",
          "cachedResultName": "Inventory"
        },
        "columns": {
          "value": {
            "id": "={{ $json.id }}",
            "Last Updated": "={{ $now.format('YYYY-MM-DD') }}",
            "Available Quantity": "={{ $json[\"Available Quantity\"] - $('_1_Data_Context1').item.json.body.quantity }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Asset Type",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Available Quantity",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Available Quantity",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Last Updated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "KvY8GOnBzyDxz3g5",
          "name": "Airtable Personal Access Token account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "716de545-eedf-4b60-b3a9-4db97ea6c219",
      "name": "Update Request Status Approved1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        144,
        752
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appQ4Jxzhah62WfRx",
          "cachedResultUrl": "https://airtable.com/appQ4Jxzhah62WfRx",
          "cachedResultName": "IT Asset Management"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblB5tCTFANtisNUd",
          "cachedResultUrl": "https://airtable.com/appQ4Jxzhah62WfRx/tblB5tCTFANtisNUd",
          "cachedResultName": "Asset Requests"
        },
        "columns": {
          "value": {
            "id": "={{ $('Create Airtable Record1').item.json.id }}",
            "Status": "Approved",
            "Quantity": 0
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Request ID",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Request ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee ID",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Employee ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset Type",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Quantity",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Priority",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Date",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Request Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "KvY8GOnBzyDxz3g5",
          "name": "Airtable Personal Access Token account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "5fb1fd3b-5165-414b-8fd7-b5ca0fa4ccdd",
      "name": "Respond Approved1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        368,
        752
      ],
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "986c46ba-8056-42a7-854c-6e7ec57d1447",
      "name": "Create Exception Record1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -80,
        944
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appQ4Jxzhah62WfRx"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblzE4kit0fQ9SD58"
        },
        "columns": {
          "value": {
            "Reason": "Insufficient Stock",
            "Status": "Pending Review",
            "Request ID": "={{ $('Generate Request ID1').item.json.requestId }}",
            "Created Date": "={{ $now.format('YYYY-MM-DD') }}"
          },
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "create"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "KvY8GOnBzyDxz3g5",
          "name": "Airtable Personal Access Token account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "eef28e77-c5b1-4b3c-b562-17bcfc695110",
      "name": "Respond Out of Stock1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        144,
        944
      ],
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "33707948-c0a1-4f16-b479-74fe7938c8af",
      "name": "_1_Data_Context1",
      "type": "n8n-nodes-base.set",
      "position": [
        -976,
        848
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "b835ff57-10d2-4738-95af-a07d51ada214",
              "name": "requestId",
              "type": "string",
              "value": "={{ $json.requestId }}"
            },
            {
              "id": "86b42429-c885-4ff5-9bfc-beec8b2f103d",
              "name": "body",
              "type": "object",
              "value": "={{ $json.body }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "365f5be3-ea5f-4445-aaa1-825344a06164",
  "nodeGroups": [],
  "connections": {
    "Webhook Trigger1": {
      "main": [
        [
          {
            "node": "Generate Request ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "_1_Data_Context1": {
      "main": [
        [
          {
            "node": "Create Airtable Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory1": {
      "main": [
        [
          {
            "node": "Update Request Status Approved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Decision1": {
      "main": [
        [
          {
            "node": "Update Inventory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Exception Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Request ID1": {
      "main": [
        [
          {
            "node": "_1_Data_Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Airtable Record1": {
      "main": [
        [
          {
            "node": "Search Inventory Table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Inventory Table1": {
      "main": [
        [
          {
            "node": "Inventory Decision1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Exception Record1": {
      "main": [
        [
          {
            "node": "Respond Out of Stock1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Request Status Approved1": {
      "main": [
        [
          {
            "node": "Respond Approved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
