automations/n8n/library/16878-manage-clinic-appointments-and-prescriptions-with-telegram-g.workflow.json
{
  "id": "hMV1BCjqDGfBtat1",
  "meta": {
    "instanceId": "8443f10082278c46aa5cf3acf8ff0f70061a2c58bce76efac814b16290845177",
    "templateCredsSetupCompleted": true,
    "owner": "Rahul Joshi",
    "source": "n8n.io template library",
    "templateId": 16878
  },
  "name": "AI Patient Appointment & Prescription Management System",
  "tags": [],
  "nodes": [
    {
      "id": "7f56cc54-59c1-4b94-a7ed-b5482e203ef9",
      "name": "📌 Overview – How This Workflow Works",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        1136
      ],
      "parameters": {
        "color": 2,
        "width": 892,
        "height": 644,
        "content": "## 🏥 ClinicOS – Appointment Booking & Patient Notification\n\n### How it works\nThis workflow handles the full patient appointment lifecycle across four independent pipelines. A webhook accepts new bookings from your clinic's frontend, logs them to Google Sheets, creates a calendar event, and notifies the doctor via Telegram. Patients can then confirm their appointment by sending their Booking ID to the clinic's Telegram bot — the workflow validates it, updates the sheet, and alerts the doctor. A separate prescription pipeline delivers medication details by email and Telegram once a doctor submits post-visit notes. An hourly schedule also checks for appointments due the next day and sends automatic reminders.\n\n### Setup steps\n1. Connect **Telegram API** to all Telegram nodes using your clinic bot token.\n2. Connect **Google Sheets OAuth2** — create a sheet with a tab named `clinicos_appointments` and add all required column headers.\n3. Connect **Google Calendar OAuth2** and select your clinic's calendar.\n4. Connect **Gmail OAuth2** for prescription email delivery.\n5. Connect **Slack OAuth2** and set your alert channel ID for error notifications.\n6. Replace the hardcoded doctor Telegram Chat ID in the Reminder node with `{{ $json['Doctor Chat ID'] }}` or your clinic's actual chat ID.\n7. Activate all three triggers (Webhook, Telegram Trigger, Schedule)."
      },
      "typeVersion": 1
    },
    {
      "id": "a9f47165-6e1d-42df-a202-d1e0271c1f2d",
      "name": "Section – Appointment Booking",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        1568
      ],
      "parameters": {
        "color": 7,
        "width": 1072,
        "height": 456,
        "content": "## 📥 Appointment Booking\nReceives a POST request from your clinic frontend, generates a unique Booking ID, appends the appointment to Google Sheets, and immediately notifies the doctor via Telegram with full patient details."
      },
      "typeVersion": 1
    },
    {
      "id": "02a07d3b-4afe-4d48-a517-b12222255785",
      "name": "Section – Calendar Event",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        1616
      ],
      "parameters": {
        "color": 7,
        "width": 348,
        "height": 456,
        "content": "## 📅 Calendar Event\nCreates a Google Calendar event for confirmed appointments so the doctor's schedule stays in sync automatically."
      },
      "typeVersion": 1
    },
    {
      "id": "03ad89f5-1978-404a-b7ed-ab0d5dea2e42",
      "name": "Section – Patient Confirmation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        2128
      ],
      "parameters": {
        "color": 7,
        "width": 1616,
        "height": 744,
        "content": "## ✅ Patient Confirmation\nPatient replies to the Telegram bot with their Booking ID (e.g. `CONFIRM BK-1001`). The workflow extracts and validates the ID, marks the appointment Confirmed in Google Sheets, notifies the patient, then fetches the full appointment row and alerts the doctor."
      },
      "typeVersion": 1
    },
    {
      "id": "dc10e25a-b000-47f6-8389-d2b0d7708e5f",
      "name": "Section – Prescription Delivery",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        2944
      ],
      "parameters": {
        "color": 7,
        "width": 1248,
        "height": 472,
        "content": "## 💊 Prescription Delivery\nTriggered by a webhook when the doctor submits post-visit notes. Updates the appointment status, emails the patient their prescription PDF link, and sends a Telegram message listing prescribed medicines."
      },
      "typeVersion": 1
    },
    {
      "id": "57805a3a-c87b-4071-932e-bb961b9fee83",
      "name": "Section – Appointment Reminders",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        3472
      ],
      "parameters": {
        "color": 7,
        "width": 996,
        "height": 424,
        "content": "## ⏰ Appointment Reminders\nRuns every hour. Reads all booked appointments, filters any due within 24 hours, and sends a Telegram reminder to each patient. Adjust the time window in the Filter node for production use."
      },
      "typeVersion": 1
    },
    {
      "id": "589da631-55fc-4807-90f4-ee9e924a1362",
      "name": "Section – Error Handling",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        2656
      ],
      "parameters": {
        "color": 7,
        "width": 556,
        "height": 416,
        "content": "## ⚠️ Error Handling\nA workflow-level error trigger posts an alert to Slack whenever any node fails. Update the channel ID to your ops or alerts channel before activating."
      },
      "typeVersion": 1
    },
    {
      "id": "f4a6fc83-386a-42c6-a5b8-85b1ba8a0207",
      "name": "🔑 Credentials & Security",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        3008
      ],
      "parameters": {
        "color": 3,
        "width": 492,
        "height": 316,
        "content": "## 🔑 Credentials Required\n- **Telegram API** — clinic bot token (all Telegram nodes)\n- **Google Sheets OAuth2** — appointment log\n- **Google Calendar OAuth2** — clinic calendar\n- **Gmail OAuth2** — prescription emails\n- **Slack OAuth2** — error alerts\n\nNever hardcode personal emails, chat IDs, or credential tokens in shared templates."
      },
      "typeVersion": 1
    },
    {
      "id": "bf5797f0-fd25-40b7-8a44-96038a4ed143",
      "name": "📅 Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        2256,
        1856
      ],
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "user@example.com",
          "cachedResultName": "Clinic Google Calendar"
        },
        "additionalFields": {
          "description": "=patient name - {{ $('📨 Telegram – Patient Sends Confirm').item.json.message.from.first_name }} status - {{ $json.Status }}"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "4cf95d3b-cdc9-414e-b52d-b463d46670a8",
      "name": "📲 Telegram – Notify Doctor",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2480,
        2352
      ],
      "webhookId": "72808759-b199-4418-8bf5-4c3531916a5b",
      "parameters": {
        "text": "=✅ *Patient Confirmed Appointment*\n\n👤 *Patient:* {{ $json['Patient Name'] }}\n📞 *Phone:* {{ $json['Patient Phone'] }}\n📅 *Date:* {{ $json['Appointment Date'] }}\n⏰ *Time:* {{ $json['Appointment Time'] }}\n📋 *Reason:* {{ $json['Reason'] }}\n🔖 *Booking ID:* {{ $json['Booking ID'] }}\n\nPatient is confirmed. Please prepare for the visit. 👨‍⚕️",
        "chatId": "={{ $('📨 Telegram – Patient Sends Confirm').item.json.message.from.id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "68d0abe4-50d3-4711-ba9c-91654b2cc22a",
      "name": "📊 Update Status to Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1808,
        2352
      ],
      "parameters": {
        "columns": {
          "value": {
            "Status": "Confirmed",
            "Booking ID": "={{ $json.bookingId }}"
          },
          "schema": [
            {
              "id": "Booking ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Booking ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Patient Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Patient Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Patient Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Doctor Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Doctor Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Doctor Chat ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Doctor Chat ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Appointment Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Appointment Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Reason",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Created At",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Booking ID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "clinicos_appointments"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "1748ddde-ec0b-4041-b44e-41543cf37167",
      "name": "📲 Telegram – Invalid ID Reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1856,
        2672
      ],
      "webhookId": "973198de-e74a-4a27-88d7-a604f31bee17",
      "parameters": {
        "text": "=❌ Sorry, I couldn't find a valid Booking ID in your message.\n\nPlease reply with your Booking ID in this format:\n`CONFIRM BK-1001`",
        "chatId": "={{ $json.patientChatId }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c93b18eb-0d56-4f6b-b84a-341ab78b6afe",
      "name": "📋 Read Appointment Row",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2256,
        2352
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "clinicos_appointments"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "96bcb98b-36f9-4474-a53e-95a5a8d1adda",
      "name": "📲 Telegram – Confirm to Patient",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2032,
        2352
      ],
      "webhookId": "b227f370-8c33-46b4-a3ad-98831b792eec",
      "parameters": {
        "text": "=✅ *Appointment Confirmed!*\n\nHi {{ $('⚙️ Extract Booking ID from Message').item.json.patientName }}, your appointment *{{ $('⚙️ Extract Booking ID from Message').item.json.bookingId }}* has been confirmed.\n\nWe'll see you at the clinic. Please arrive 10 minutes early. 🏥",
        "chatId": "={{ $('⚙️ Extract Booking ID from Message').item.json.patientChatId }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c01e79c1-737a-43cc-a784-f3dcd848d38b",
      "name": "🔀 Valid Booking ID?",
      "type": "n8n-nodes-base.if",
      "position": [
        1584,
        2480
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "254a0257-986f-4035-a08a-c5cc1ecb1061",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.valid }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "3c66b096-76fc-4027-83c2-b6519da0a111",
      "name": "⚙️ Extract Booking ID from Message",
      "type": "n8n-nodes-base.code",
      "position": [
        1360,
        2480
      ],
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst text = msg?.text || '';\nconst chatId = msg?.chat?.id?.toString() || '';\nconst from = msg?.from?.first_name || 'Patient';\n\n// Patient sends message like: CONFIRM BK-1001\n// Extract booking ID from message text\nconst match = text.match(/BK-[\\w]+/i);\nconst bookingId = match ? match[0].toUpperCase() : null;\n\nif (!bookingId) {\n  return [{ json: { valid: false, chatId, from, text } }];\n}\n\nreturn [{ json: { valid: true, bookingId, patientChatId: chatId, patientName: from, rawText: text } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "067abca9-e43f-411a-96af-cdca707dd1d9",
      "name": "📨 Telegram – Patient Sends Confirm",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1136,
        2480
      ],
      "webhookId": "telegram-confirm-trigger-001",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "typeVersion": 1.1
    },
    {
      "id": "ca2dbd39-50c6-48b2-8d22-5dc95e30951b",
      "name": "📲 Telegram – Send Reminder",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2128,
        3664
      ],
      "webhookId": "34abb3bc-aef1-497e-8d81-9b01e6e2f589",
      "parameters": {
        "text": "=⏰ *Appointment Reminder – Tomorrow*\n\n👤 *Patient:* {{ $json['Patient Name'] }}\n📞 *Phone:* {{ $json['Patient Phone'] }}\n📧 *Email:* {{ $json['Patient Email'] }}\n📅 *Date:* {{ $json['Appointment Date'] }}\n⏰ *Time:* {{ $json['Appointment Time'] }}\n📋 *Reason:* {{ $json['Reason'] }}\n🔖 *Booking ID:* {{ $json['Booking ID'] }}\n\nPlease confirm attendance or reschedule.",
        "chatId": "={{ $json['Doctor Chat ID'] }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "9b68e758-0524-43bf-90ef-5bc2904b9dfb",
      "name": "🔍 Filter – Due for Reminder",
      "type": "n8n-nodes-base.code",
      "position": [
        1904,
        3664
      ],
      "parameters": {
        "jsCode": "const now = Date.now();\nconst items = $input.all();\n\nconst toRemind = items.filter(item => {\n  const row = item.json;\n  if (!row['Appointment Date'] || !row['Appointment Time']) return false;\n  if (row['Status'] !== 'Booked') return false;\n\n  const dtStr = `${row['Appointment Date']}T${row['Appointment Time']}:00`;\n  const apptMs = new Date(dtStr).getTime();\n  const reminderMs = apptMs - 24 * 60 * 60 * 1000;\n\n  // ⬇️ TEST MODE: passes anything in next 7 days instead of exact 1hr window\n  return reminderMs >= now && reminderMs < now + 7 * 24 * 60 * 60 * 1000;\n});\n\nif (toRemind.length === 0) return [];\nreturn toRemind.map(item => ({ json: item.json }));"
      },
      "typeVersion": 2
    },
    {
      "id": "34fb5470-cbd9-44fa-a02d-2044097f9fd2",
      "name": "📋 Read Booked Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1680,
        3664
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "clinicos_appointments"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "675e4cb1-383a-4508-870b-d0a626eb43d7",
      "name": "⏰ Hourly Reminder Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1456,
        3664
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "27d7dcdc-384e-4163-a62d-3c890cb50b21",
      "name": "📲 Telegram – Booking Confirmed",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1760,
        1792
      ],
      "webhookId": "3885ba94-3f4a-4f5b-97eb-3ab2609443cc",
      "parameters": {
        "text": "=🏥 *New Appointment Booked*\n\n👤 *Patient:* {{ $('⚙️ Prepare Booking Data').item.json.patientName }}\n📞 *Phone:* {{ $('⚙️ Prepare Booking Data').item.json.patientPhone }}\n📧 *Email:* {{ $('⚙️ Prepare Booking Data').item.json.patientEmail }}\n👨‍⚕️ *Doctor:* {{ $('⚙️ Prepare Booking Data').item.json.doctorName }}\n📅 *Date:* {{ $('⚙️ Prepare Booking Data').item.json.appointmentDate }}\n⏰ *Time:* {{ $('⚙️ Prepare Booking Data').item.json.appointmentTime }}\n📋 *Reason:* {{ $('⚙️ Prepare Booking Data').item.json.reason }}\n🔖 *Booking ID:* {{ $('⚙️ Prepare Booking Data').item.json.bookingId }}",
        "chatId": "={{ $('⚙️ Prepare Booking Data').item.json.doctorChatId }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "Saurabh Telegram account 2"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "f51465c9-1eea-47d2-988a-e4a1417c2c11",
      "name": "📊 Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1504,
        1792
      ],
      "parameters": {
        "columns": {
          "value": {
            "Reason": "={{ $json.reason }}",
            "Status": "={{ $json.status }}",
            "Booking ID": "={{ $json.bookingId }}",
            "Created At": "={{ $json.createdAt }}",
            "Doctor Name": "={{ $json.doctorName }}",
            "Patient Name": "={{ $json.patientName }}",
            "Patient Email": "={{ $json.patientEmail }}",
            "Patient Phone": "={{ $json.patientPhone }}",
            "Doctor Chat ID": "={{ $json.doctorChatId }}",
            "Appointment Date": "={{ $json.appointmentDate }}",
            "Appointment Time": "={{ $json.appointmentTime }}"
          },
          "schema": [
            {
              "id": "Booking ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Booking ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Patient Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Patient Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Patient Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Doctor Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Doctor Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Doctor Chat ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Doctor Chat ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Appointment Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Appointment Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Reason",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Created At",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "clinicos_appointments"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "3115bd12-9795-487c-af1f-bce93518a23c",
      "name": "⚙️ Prepare Booking Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1264,
        1792
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst name = body.patient_name || 'Unknown';\nconst email = body.patient_email || '';\nconst phone = body.patient_phone || '';\nconst doctor = body.doctor_name || 'Dr. Smith';\nconst doctorChatId = body.doctor_chat_id || '';\nconst appointmentDate = body.appointment_date || '';\nconst appointmentTime = body.appointment_time || '';\nconst reason = body.reason || 'General Checkup';\n\nconst dtString = `${appointmentDate}T${appointmentTime}:00`;\nconst apptMs = new Date(dtString).getTime();\nconst followupDatetime = new Date(apptMs + 24 * 60 * 60 * 1000).toISOString();\nconst bookingId = 'BK-' + Date.now();\n\nreturn [{\n  json: {\n    bookingId,\n    patientName: name,\n    patientEmail: email,\n    patientPhone: phone,\n    doctorName: doctor,\n    doctorChatId,\n    appointmentDate,\n    appointmentTime,\n    appointmentDatetime: dtString,\n    followupDatetime,\n    reason,\n    status: 'Booked',\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "976d17b8-4217-446f-8199-7776f76ac88c",
      "name": "📥 Patient Books Appointment",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1040,
        1792
      ],
      "webhookId": "clinic-book-001",
      "parameters": {
        "path": "clinic-book",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "46eae04c-089f-457e-b3fe-45cc5ae85abc",
      "name": "💊 Prescription Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1344,
        3168
      ],
      "webhookId": "clinic-prescription-001",
      "parameters": {
        "path": "clinic-prescription",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "ab726e8c-133b-46ce-aa9e-6477d09eb1fe",
      "name": "⚙️ Extract Prescription Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1568,
        3168
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    bookingId: body.booking_id || '',\n    patientName: body.patient_name || 'Patient',\n    patientEmail: body.patient_email || '',\n    patientChatId: body.patient_chat_id || '',\n    doctorName: body.doctor_name || 'Your Doctor',\n    prescriptionLink: body.prescription_link || '',\n    medicines: body.medicines || 'Please check your prescription for medicine details'\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "091fe634-e17c-4a14-b1ac-7c61c32ee90b",
      "name": "📊 Update Sheet – Prescription Sent",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1792,
        3168
      ],
      "parameters": {
        "columns": {
          "value": {
            "Status": "Prescription Sent",
            "Booking ID": "={{ $json.bookingId }}",
            "row_number": 0,
            "prescription link": "={{ $json.prescriptionLink }}"
          },
          "schema": [
            {
              "id": "Booking ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Booking ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Patient Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Patient Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Phone",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Patient Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Doctor Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Doctor Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Doctor Chat ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Doctor Chat ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Appointment Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Time",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Appointment Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Reason",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "prescription link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "prescription link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Created At",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Booking ID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "clinicos_appointments"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "581663bb-dd60-49ab-b8a8-70a1ae721a6a",
      "name": "📧 Gmail – Send Prescription",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2016,
        3168
      ],
      "webhookId": "a87d18d1-e48b-4504-a2f0-31cf333a10ab",
      "parameters": {
        "sendTo": "={{ $('⚙️ Extract Prescription Data').item.json.patientEmail }}",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:auto;padding:24px;border:1px solid #e5e7eb;border-radius:8px\">\n  <h2 style=\"color:#7c3aed\">Your Prescription is Ready 💊</h2>\n  <p>Hi <strong>{{ $('⚙️ Extract Prescription Data').item.json.patientName }}</strong>,</p>\n  <p>Dr. <strong>{{ $('⚙️ Extract Prescription Data').item.json.doctorName }}</strong> has shared your prescription after your recent visit.</p>\n\n  <div style=\"background:#f5f3ff;border-left:4px solid #7c3aed;padding:16px;border-radius:4px;margin:20px 0\">\n    <p style=\"margin:0 0 8px 0\"><strong>💊 Prescribed Medicines:</strong></p>\n    <p style=\"margin:0;color:#374151\">{{ $('⚙️ Extract Prescription Data').item.json.medicines }}</p>\n  </div>\n\n  <p style=\"margin:20px 0\">\n    <a href=\"{{ $('⚙️ Extract Prescription Data').item.json.prescriptionLink }}\" \n       style=\"background:#7c3aed;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n      📄 View Full Prescription\n    </a>\n  </p>\n\n  <p style=\"color:#374151\">Please take your medicines as prescribed. If you have any questions, reply to this email or contact the clinic.</p>\n  <p style=\"color:#6b7280;font-size:13px;margin-top:24px\">Booking ID: {{ $('⚙️ Extract Prescription Data').item.json.bookingId }} &nbsp;|&nbsp; ClinicOS AI</p>\n</div>",
        "options": {},
        "subject": "=💊 Your Prescription from {{ $('⚙️ Extract Prescription Data').item.json.doctorName }} – Booking {{ $('⚙️ Extract Prescription Data').item.json.bookingId }}"
      },
      "typeVersion": 2.1
    },
    {
      "id": "fa3152cc-a2a5-4818-8ded-683482873b9b",
      "name": "📲 Telegram – Medicine Order to Patient",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2240,
        3168
      ],
      "webhookId": "b4047823-d8ef-4f7c-aef2-be05ae06c146",
      "parameters": {
        "text": "=💊 *Your Prescription & Medicine Order*\n\nHi {{ $('⚙️ Extract Prescription Data').item.json.patientName }}, your prescription from *{{ $('⚙️ Extract Prescription Data').item.json.doctorName }}* is ready!\n\n🧾 *Medicines Prescribed:*\n{{ $('⚙️ Extract Prescription Data').item.json.medicines }}\n\n📄 *Full Prescription:* {{ $('⚙️ Extract Prescription Data').item.json.prescriptionLink }}\n\n🛒 Please order your medicines at the earliest. You can show this message at any pharmacy.\n\n_Booking ID: {{ $('⚙️ Extract Prescription Data').item.json.bookingId }}_",
        "chatId": "={{ $('⚙️ Extract Prescription Data').item.json.patientChatId }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "cf5770a4-9ea3-47dc-81de-2c49f8ca09c2",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        256,
        2880
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "433dec7d-27d2-40e8-9513-7c01c0fdf688",
      "name": "Slack – Post Workflow Error Alert",
      "type": "n8n-nodes-base.slack",
      "position": [
        512,
        2880
      ],
      "webhookId": "02294667-3677-4451-abbf-8ea88bed5bf2",
      "parameters": {
        "text": "=🚨 *ClinicOS Workflow Error*\n\n*Workflow:* {{ $workflow.name }}\n*Failed Node:* {{ $execution.lastNodeExecuted }}\n*Time:* {{ $now.format('MMM D, YYYY – HH:mm') }}\n*Execution ID:* {{ $execution.id }}\n\nPlease check the n8n execution log and follow up with the patient manually if needed.",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SLACK_CHANNEL_ID",
          "cachedResultName": "your-alerts-channel"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.3
    }
  ],
  "active": false,
  "pinData": {
    "💊 Prescription Webhook": [
      {
        "json": {
          "body": {
            "medicines": "1. Paracetamol 500mg – 1 tablet twice daily for 5 days\n2. Azithromycin 250mg – 1 tablet once daily for 3 days\n3. Cetirizine 10mg – 1 tablet at night for 5 days",
            "booking_id": "BK-1001",
            "doctor_name": "Dr. Sample",
            "patient_name": "Sample Patient",
            "patient_email": "patient@example.com",
            "patient_chat_id": "YOUR_TELEGRAM_CHAT_ID",
            "prescription_link": "https://drive.google.com/file/d/SAMPLE_PRESCRIPTION_LINK"
          },
          "query": {},
          "params": {},
          "headers": {
            "content-type": "application/json"
          },
          "webhookUrl": "http://localhost:5678/webhook/clinic-prescription",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "9dfac977-51b4-4b07-9f16-2b4b56848954",
  "nodeGroups": [],
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Slack – Post Workflow Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Valid Booking ID?": {
      "main": [
        [
          {
            "node": "📊 Update Status to Confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📲 Telegram – Invalid ID Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Hourly Reminder Check": {
      "main": [
        [
          {
            "node": "📋 Read Booked Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💊 Prescription Webhook": {
      "main": [
        [
          {
            "node": "⚙️ Extract Prescription Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Appointment Row": {
      "main": [
        [
          {
            "node": "📲 Telegram – Notify Doctor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Prepare Booking Data": {
      "main": [
        [
          {
            "node": "📊 Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Append to Google Sheets": {
      "main": [
        [
          {
            "node": "📲 Telegram – Booking Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Booked Appointments": {
      "main": [
        [
          {
            "node": "🔍 Filter – Due for Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Patient Books Appointment": {
      "main": [
        [
          {
            "node": "⚙️ Prepare Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update Status to Confirmed": {
      "main": [
        [
          {
            "node": "📅 Create Google Calendar Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "📲 Telegram – Confirm to Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Extract Prescription Data": {
      "main": [
        [
          {
            "node": "📊 Update Sheet – Prescription Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail – Send Prescription": {
      "main": [
        [
          {
            "node": "📲 Telegram – Medicine Order to Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter – Due for Reminder": {
      "main": [
        [
          {
            "node": "📲 Telegram – Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📲 Telegram – Confirm to Patient": {
      "main": [
        [
          {
            "node": "📋 Read Appointment Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Extract Booking ID from Message": {
      "main": [
        [
          {
            "node": "🔀 Valid Booking ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update Sheet – Prescription Sent": {
      "main": [
        [
          {
            "node": "📧 Gmail – Send Prescription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Telegram – Patient Sends Confirm": {
      "main": [
        [
          {
            "node": "⚙️ Extract Booking ID from Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
