automations/n8n/library/16871-predict-supplier-churn-and-generate-retention-plans-with-not.workflow.json
{
  "id": "OhJsiEh8K8qLNiZP",
  "meta": {
    "instanceId": "b0f1a6c163af5854389eca2d6a8e78f691bd6f2dc2921299790d7369f541da8a",
    "templateCredsSetupCompleted": true,
    "owner": "WeblineIndia",
    "source": "n8n.io template library",
    "templateId": 16871
  },
  "name": "Supplier Churn Prediction & Retention Workflow",
  "tags": [],
  "nodes": [
    {
      "id": "6cd37755-4021-402d-8e30-fc399f81b315",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4832,
        1488
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 608,
        "content": "## Supplier Data Ingestion & Behavioral Feature Engineering Layer \nFetches supplier data from Notion on a scheduled trigger and transforms raw procurement metrics into behavioral risk features such as PO trends, engagement score, and operational risk flags."
      },
      "typeVersion": 1
    },
    {
      "id": "8c1d4b70-4114-402c-98d5-d4cafd39200d",
      "name": "Fetch Supplier Data",
      "type": "n8n-nodes-base.notion",
      "position": [
        5312,
        1728
      ],
      "parameters": {
        "options": {},
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "34931eba-a729-80e0-aadd-d9c9ff22be39",
          "cachedResultUrl": "https://www.notion.so/34931ebaa72980e0aaddd9c9ff22be39",
          "cachedResultName": "Supplier Activity Dataset"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "2954fa25-a2c1-4d3a-b10f-e6986562055e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6320,
        1344
      ],
      "parameters": {
        "color": 7,
        "width": 1440,
        "height": 720,
        "content": "## Supplier Risk Detection Engine\nAI evaluates supplier behavior signals and classifies churn risk with confidence score and key drivers. Outputs standardized risk intelligence for downstream decision-making workflows."
      },
      "typeVersion": 1
    },
    {
      "id": "dc0902c4-c38e-4fe3-9e48-57ed2ee7c088",
      "name": "Compute Supplier Risk Features",
      "type": "n8n-nodes-base.code",
      "position": [
        5600,
        1728
      ],
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n\n  const supplier = item.json.property_supplier_name;\n  const id = item.json.id;\n  const poLast = item.json.property_po_count_last_6_months || 0;\n  const poPrev = item.json.property_po_count_previous_6_months || 0;\n  const rfqRate = item.json.property_rfq_response_rate || 0;\n  const contractExpiry = item.json.property_contract_expiry_days || 999;\n\n  const lateDelivery = item.json.property_late_delivery || 0;\n  const deliveryDelay = item.json.property_avg_delivery_delay_days || 0;\n  const qualityIssues = item.json.property_quality_issues_last_6m || 0;\n\n  const paymentDelay = item.json.property_avg_payment_delay_days || 0;\n  const disputes = item.json.property_invoice_disputes_last_6m || 0;\n\n  // --- Trend Calculations ---\n  let poDropPercent = 0;\n  if (poPrev > 0) {\n    poDropPercent = ((poLast - poPrev) / poPrev) * 100;\n  }\n\n  // Engagement score (0–10 scale approx)\n  const engagementScore = ((rfqRate * 100) + (poLast * 2)) / 10;\n\n  // --- Risk Flags ---\n  const deliveryRisk = lateDelivery > 15 || deliveryDelay > 5 || qualityIssues > 3;\n  const financialStress = paymentDelay > 30 || disputes > 2;\n  const contractRenewalRisk = contractExpiry < 60;\n\n  results.push({\n    json: {\n      supplier,\n      id,\n      po_last_6m: poLast,\n      po_prev_6m: poPrev,\n      po_drop_percent: Number(poDropPercent.toFixed(2)),\n      rfq_response_rate: rfqRate,\n      engagement_score: Number(engagementScore.toFixed(2)),\n      delivery_risk_flag: deliveryRisk,\n      financial_stress_flag: financialStress,\n      contract_renewal_risk: contractRenewalRisk\n    }\n  });\n\n}\n\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "1724e949-8770-4434-89ae-8a14c7f14f0d",
      "name": "Process Suppliers Sequentially",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        6448,
        1728
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "008e3d25-ae36-4fa0-b66b-4f96130b36b5",
      "name": "AI Churn Risk Predictor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        7072,
        1568
      ],
      "parameters": {
        "text": "=Analyze this supplier:\n\nSupplier: {{ $json.supplier }}\nPO last 6m: {{ $json.po_last_6m }}\nPO previous 6m: {{ $json.po_prev_6m }}\nPO drop %: {{ $json.po_drop_percent }}\nRFQ response rate: {{ $json.rfq_response_rate }}\nEngagement score: {{ $json.engagement_score }}\nDelivery risk flag: {{ $json.delivery_risk_flag }}\nFinancial stress flag: {{ $json.financial_stress_flag }}\nContract renewal risk: {{ $json.contract_renewal_risk }}\n\nReturn JSON in this exact format:\n\n{\n  \"churn_risk\": \"Low | Medium | High\",\n  \"risk_score\": 0-1,\n  \"confidence\": \"Low | Medium | High\",\n  \"key_drivers\": [\"reason 1\", \"reason 2\", \"reason 3\"]\n}",
        "batching": {},
        "messages": {
          "messageValues": [
            {
              "message": "You are a procurement risk analyst AI.  Your task: predict supplier churn risk using supplier behavior data.  Churn means the supplier may disengage, stop prioritizing orders, or not renew contracts.  Use these rules:  HIGH RISK indicators: - PO drop > 30% - RFQ response rate < 0.5 - Payment delay > 30 days - Late delivery > 15% - Contract expiry < 60 days - Many disputes or quality issues  MEDIUM RISK: - Moderate PO drop - Some delivery or payment issues - Contract expiry within 90 days  LOW RISK: - Stable or increasing POs - Good delivery and payment performance  Return ONLY valid JSON."
            }
          ]
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.9
    },
    {
      "id": "0121077c-9b23-4618-a411-e428c83de2a0",
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "position": [
        6768,
        1568
      ],
      "webhookId": "d722a6be-58cc-4a7d-a4b1-6ce188542656",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "394a30d3-ba46-4d48-820e-4c9e1ccc36f1",
      "name": "LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        7072,
        1792
      ],
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "2a6b9c9b-f675-4e2e-946c-ecaf5279860c",
      "name": "Parse Churn Prediction Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        7216,
        1776
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"churn_risk\": {\n      \"type\": \"string\"\n    },\n    \"risk_score\": {\n      \"type\": \"number\"\n    },\n    \"confidence\": {\n      \"type\": \"string\"\n    },\n    \"key_drivers\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "9b0652fc-45db-434e-b771-ad1fa8c181d8",
      "name": "Normalize AI Risk Output",
      "type": "n8n-nodes-base.set",
      "position": [
        7488,
        1568
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7070cd08-bab6-4d57-9082-af1f63e4a473",
              "name": "churn_risk",
              "type": "string",
              "value": "={{ $json.output.churn_risk }}"
            },
            {
              "id": "c043fd76-ac2a-45d1-b653-29f484cbfc09",
              "name": "risk_score",
              "type": "number",
              "value": "={{ $json.output.risk_score }}"
            },
            {
              "id": "66c55f90-80e1-470a-a3bd-8c79dda0e915",
              "name": "confidence",
              "type": "string",
              "value": "={{ $json.output.confidence }}"
            },
            {
              "id": "c2972084-441b-4d1d-bc5f-60b80529f5b2",
              "name": "key_drivers",
              "type": "array",
              "value": "={{ $json.output.key_drivers }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "ee6726e3-3e48-4857-80ca-941a023a26ef",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8256,
        1200
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 880,
        "content": "## Supplier Retention Strategy Engine\nGenerates structured retention actions like renegotiation, payment optimization, and engagement strategies to reduce supplier churn probability."
      },
      "typeVersion": 1
    },
    {
      "id": "8e3d3a08-8151-42ed-a233-bdcda3877c7c",
      "name": "AI Retention Strategy Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        8512,
        1504
      ],
      "parameters": {
        "text": "=Create a retention plan for this high-risk supplier.\n\nSupplier: {{ $('Process Suppliers Sequentially').item.json.supplier }}\nChurn Risk: {{ $json.churn_risk }}\nRisk Score: {{ $json.risk_score }}\nKey Drivers: {{ $json.key_drivers }}\n\nReturn JSON in this format:\n\n{\n  \"priority\": \"High | Critical\",\n  \"recommended_actions\": [\"action1\", \"action2\", \"action3\"],\n  \"owner\": \"Suggested owner role\",\n  \"summary\": \"Short explanation\"\n}",
        "batching": {},
        "messages": {
          "messageValues": [
            {
              "message": "You are a senior procurement relationship manager.  Your job is to generate a practical supplier retention plan for high churn risk suppliers.  Focus on: - payment improvements - relationship management - contract renewal - negotiation - collaboration and incentives  Return ONLY valid JSON."
            }
          ]
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.9
    },
    {
      "id": "ebf641d6-84ad-4ae2-9181-bb4a03f50cf1",
      "name": "LLM(openai/gpt-oss-120b)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        8496,
        1744
      ],
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "b76f2228-85a1-46ff-95b9-406753e70d4d",
      "name": "Parse Retention Strategy Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        8688,
        1744
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"priority\": { \"type\": \"string\" },\n    \"recommended_actions\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"owner\": { \"type\": \"string\" },\n    \"summary\": { \"type\": \"string\" }\n  }\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "945f1d9d-6f4f-4cea-84e3-66c25d8f2cd2",
      "name": "Normalize Retention Plan",
      "type": "n8n-nodes-base.set",
      "position": [
        9088,
        1504
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "9d17d6c4-acb1-41c5-b5a2-690522108028",
              "name": "priority",
              "type": "string",
              "value": "={{ $json.output.priority }}"
            },
            {
              "id": "d4f93b93-ca61-4b0a-bb65-5cc06574f421",
              "name": "recommended_actions",
              "type": "array",
              "value": "={{ $json.output.recommended_actions }}"
            },
            {
              "id": "e31429fb-4ce6-4ada-bd8a-18eeb98c3754",
              "name": "owner",
              "type": "string",
              "value": "={{ $json.output.owner }}"
            },
            {
              "id": "2cbaf3d9-b137-4226-8d6e-a64c855ae188",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.output.summary }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "b755e0ea-4192-457c-b352-9ab9f596f147",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9744,
        1200
      ],
      "parameters": {
        "color": 7,
        "width": 1184,
        "height": 864,
        "content": "## Supplier Alerting\nUpdates Notion database for all suppliers with AI-generated churn scores, drivers, and retention insights. Sends Slack alerts only for high-risk suppliers to ensure focused, noise-free escalation."
      },
      "typeVersion": 1
    },
    {
      "id": "e53bd914-7628-48d8-8101-1fde7dea034e",
      "name": "Check High Risk Supplier",
      "type": "n8n-nodes-base.if",
      "position": [
        9920,
        1488
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3629a0b0-66b6-4dd5-be5b-30f9dae03ab0",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Normalize AI Risk Output').item.json.churn_risk }}",
              "rightValue": "High"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "facc2012-b163-4a96-b127-35efc6c32807",
      "name": "Slack High Risk Alert",
      "type": "n8n-nodes-base.slack",
      "position": [
        10576,
        1472
      ],
      "webhookId": "ca867029-3fc0-4d74-ace5-bfa610914a07",
      "parameters": {
        "text": "=*HIGH SUPPLIER CHURN RISK*  \n\n*Supplier:* {{ $('Process Suppliers Sequentially').item.json.supplier }}\n*Risk Level:* {{ $('Normalize AI Risk Output').item.json.churn_risk }}\n*Risk Score:* {{$('Normalize AI Risk Output').item.json.risk_score}}  \n*Key Drivers:* \n• {{$('Normalize AI Risk Output').item.json.key_drivers.join('\\n• ')}}  \n*Recommended Retention Actions:* \n• {{$json.recommended_actions.join('\\n• ')}}  \n*Priority:* {{$json.priority}} \n*Owner:* {{$json.owner}}  \n_This alert was generated automatically by Supplier Churn AI._",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0AQS47TGQ0",
          "cachedResultName": "all-dropbox-note-sync"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.4
    },
    {
      "id": "61414f19-baea-490f-abdd-40088b0c25d8",
      "name": "Update Supplier Intelligence",
      "type": "n8n-nodes-base.notion",
      "position": [
        10560,
        1808
      ],
      "parameters": {
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Process Suppliers Sequentially').item.json.id }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "options": {},
        "resource": "databasePage",
        "operation": "update",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Churn Risk|select",
              "selectValue": "={{ $('Normalize AI Risk Output').item.json.churn_risk }}"
            },
            {
              "key": "Risk Score|number",
              "numberValue": "={{ $('Normalize AI Risk Output').item.json.risk_score }}"
            },
            {
              "key": "Key Drivers|rich_text",
              "textContent": "={{\"• \"+$('Normalize AI Risk Output').item.json.key_drivers.join(\",\\n\\n• \") }}"
            },
            {
              "key": "Retention Plan|rich_text",
              "textContent": "={{\"• \"+ $('Normalize Retention Plan').item.json.recommended_actions.join(\"\\n\\n• \") }}"
            },
            {
              "key": "Last Evaluated|date",
              "date": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "9208435a-63d4-457d-ac0d-ee1ef89a522c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4848,
        -320
      ],
      "parameters": {
        "width": 912,
        "height": 912,
        "content": "## Workflow Overview: Supplier Churn Prediction & Retention Intelligence System\n\nThis workflow automates end-to-end supplier risk monitoring for procurement teams by analyzing supplier behavior data stored in Notion, generating AI-driven churn predictions, and producing actionable retention strategies. It continuously evaluates supplier performance using behavioral signals such as purchase order trends, delivery reliability, payment behavior, and engagement metrics. Based on these patterns, the system classifies suppliers into risk tiers (Low, Medium, High), generates key risk drivers and confidence scores, and recommends targeted retention actions such as renegotiation, payment term adjustments, and performance-based engagement strategies. High-risk suppliers trigger real-time Slack alerts, while all suppliers are updated in Notion to maintain a live supplier intelligence system.\n\n## How it works\n\nThe workflow runs on a weekly schedule and pulls supplier data from Notion. It converts raw procurement metrics into behavioral signals like PO trends, delivery issues, payment delays, and engagement scores. These signals are sent to an AI model that predicts each supplier’s churn risk and explains the key reasons behind it.\nFor high-risk suppliers, a second AI step generates targeted retention strategies such as renegotiation suggestions, improved payment terms, and relationship actions. Finally, all suppliers are updated back into Notion with their risk scores and insights, while only high-risk cases trigger Slack alerts for immediate procurement attention.\n\n## Setup steps\n\n**Schedule Trigger** — Runs workflow on a weekly schedule.  \n**Fetch Supplier Data (Notion)** — Retrieves all supplier records from database.  \n**Feature Engineering (Code Node)** — Calculates behavioral metrics and risk signals.  \n**AI Churn Prediction** — Predicts supplier risk level with reasoning and confidence.  \n**Parse AI Output** — Structures AI response into standardized format.  \n**Check High Risk Supplier** — Routes only high-risk suppliers for escalation.  \n**AI Retention Strategy Generation** — Creates actionable retention plans for high-risk suppliers.  \n**Parse Retention Output** — Structures retention recommendations.  \n**Update Notion Database** — Stores churn scores, drivers, and retention insights for all suppliers.  \n**Send Slack Alert** — Notifies procurement team for high-risk suppliers only."
      },
      "typeVersion": 1
    },
    {
      "id": "5bc814e4-0ad3-49e3-b0bb-035c66088a59",
      "name": "Start Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        5024,
        1728
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "24662953-b4f0-4420-836f-c45f048be35a",
  "nodeGroups": [],
  "connections": {
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Churn Risk Predictor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "AI Churn Risk Predictor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Fetch Supplier Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Supplier Data": {
      "main": [
        [
          {
            "node": "Compute Supplier Risk Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack High Risk Alert": {
      "main": [
        [
          {
            "node": "Update Supplier Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Churn Risk Predictor": {
      "main": [
        [
          {
            "node": "Normalize AI Risk Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Risk Supplier": {
      "main": [
        [
          {
            "node": "Slack High Risk Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Supplier Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM(openai/gpt-oss-120b)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Retention Strategy Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize AI Risk Output": {
      "main": [
        [
          {
            "node": "AI Retention Strategy Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Retention Plan": {
      "main": [
        [
          {
            "node": "Check High Risk Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supplier Intelligence": {
      "main": [
        [
          {
            "node": "Process Suppliers Sequentially",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Churn Prediction Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Churn Risk Predictor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Compute Supplier Risk Features": {
      "main": [
        [
          {
            "node": "Process Suppliers Sequentially",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Suppliers Sequentially": {
      "main": [
        [],
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Retention Strategy Generator": {
      "main": [
        [
          {
            "node": "Normalize Retention Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retention Strategy Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Retention Strategy Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  }
}
