automations/n8n/library/16887-route-ecommerce-review-alerts-from-gmail-to-slack-with-opena.workflow.json
{
  "meta": {
    "templateCredsSetupCompleted": false,
    "owner": "Precision Tech",
    "source": "n8n.io template library",
    "templateId": 16887
  },
  "name": "Gmail Review Sentiment Router to Slack",
  "tags": [],
  "nodes": [
    {
      "id": "70faceee-fa6a-468d-a1b6-0d63e567fb9c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        112
      ],
      "parameters": {
        "width": 480,
        "height": 576,
        "content": "## Gmail Review Sentiment Router to Slack\n\n### How it works\n\n1. Gmail trigger receives email reviews.\n2. Checks are performed to ensure the review is new and not a duplicate.\n3. OpenAI classifies the sentiment of the new review.\n4. Reviews are routed based on their sentiment.\n5. Alerts are sent to Slack or logged in Google Sheets accordingly.\n\n### Setup steps\n\n- [ ] Ensure Gmail API is configured and connected.\n- [ ] Verify OpenAI API key is set up.\n- [ ] Connect Slack API with the necessary webhook.\n- [ ] Set up Google Sheets API access for reading and logging data.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "273a812c-5cd5-4f04-96c5-e9cd017f9ec6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 448,
        "height": 304,
        "content": "## Trigger and settings configuration\n\nTriggers Gmail for new reviews and sets up alert settings."
      },
      "typeVersion": 1
    },
    {
      "id": "bc71ab5f-fbbd-4b36-97a4-5b50d2fca6e9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        208
      ],
      "parameters": {
        "color": 7,
        "width": 976,
        "height": 272,
        "content": "## Review extraction and verification\n\nExtracts review from email and checks against audit log for duplicates."
      },
      "typeVersion": 1
    },
    {
      "id": "173fa953-38f8-45fa-ab21-dc55f87a60f8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 448,
        "height": 304,
        "content": "## Sentiment classification\n\nClassifies the sentiment of new reviews using OpenAI and prepares the results."
      },
      "typeVersion": 1
    },
    {
      "id": "27e566bf-b0de-4751-9895-ba2730721dee",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        112
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 448,
        "content": "## Sentiment routing\n\nRoutes reviews based on sentiment and formats messages or logs entries."
      },
      "typeVersion": 1
    },
    {
      "id": "ab02e64c-28e2-4794-be9f-62215648e9f9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        128
      ],
      "parameters": {
        "color": 7,
        "width": 720,
        "height": 512,
        "content": "## Slack alert and logging\n\nSends alerts to Slack and logs reviews to Google Sheets."
      },
      "typeVersion": 1
    },
    {
      "id": "44444444-4444-4444-8444-444444444411",
      "name": "When Gmail Review Received",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        0,
        320
      ],
      "parameters": {
        "simple": true,
        "filters": {
          "q": "label:Reviews",
          "readStatus": "unread"
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "44444444-4444-4444-8444-444444444412",
      "name": "Setup Alert Configuration",
      "type": "n8n-nodes-base.code",
      "position": [
        260,
        320
      ],
      "parameters": {
        "jsCode": "// ===== EDIT YOUR SETTINGS HERE =====\nconst GOOGLE_SHEET_ID = 'your-google-sheet-id';\nconst SHEET_NAME = 'Reviews';\n\nconst SLACK_CHANNEL_URGENT = '#review-escalations';\nconst SLACK_CHANNEL_NEGATIVE = '#customer-reviews';\nconst SLACK_CHANNEL_POSITIVE = '#review-wins';\n\n// Reviews at or below this star count can be escalated when sentiment is negative.\nconst URGENT_STAR_THRESHOLD = 2;\n\nconst email = $input.first().json;\n\nreturn [\n  {\n    json: {\n      googleSheetId: GOOGLE_SHEET_ID,\n      sheetName: SHEET_NAME,\n      slackChannelUrgent: SLACK_CHANNEL_URGENT,\n      slackChannelNegative: SLACK_CHANNEL_NEGATIVE,\n      slackChannelPositive: SLACK_CHANNEL_POSITIVE,\n      urgentStarThreshold: URGENT_STAR_THRESHOLD,\n      email,\n    },\n  },\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "44444444-4444-4444-8444-444444444413",
      "name": "Extract Review Content",
      "type": "n8n-nodes-base.code",
      "position": [
        520,
        320
      ],
      "parameters": {
        "jsCode": "const settings = $input.first().json;\nconst email = settings.email || {};\n\nconst subject = email.subject || '';\nconst body = email.textPlain || email.text || email.snippet || '';\nconst combined = `${subject}\\n${body}`;\nconst messageId = email.id || email.messageId || '';\nconst receivedAt = email.date || new Date().toISOString();\n\nconst fromValue = email.from?.value?.[0] || email.from || {};\nconst senderEmail =\n  typeof fromValue === 'string'\n    ? fromValue.match(/[\\w.+-]+@[\\w.-]+\\.\\w+/)?.[0] || fromValue\n    : fromValue.address || '';\nconst senderName =\n  typeof fromValue === 'string'\n    ? fromValue.replace(senderEmail, '').replace(/[<>\",]/g, '').trim()\n    : fromValue.name || 'Unknown customer';\n\nlet starRating = null;\nconst starPatterns = [\n  /(\\d)\\s*(?:out of|\\/)\\s*5/i,\n  /(\\d)\\s*star review/i,\n  /rated\\s*(?:it\\s*)?(\\d)\\s*\\/\\s*5/i,\n  /rating[:\\s]+(\\d)/i,\n  /(\\d)\\s*★/,\n  /★{1,5}/,\n];\n\nfor (const pattern of starPatterns) {\n  const match = combined.match(pattern);\n  if (!match) continue;\n\n  if (match[0].includes('★')) {\n    starRating = match[0].length;\n    break;\n  }\n\n  const parsed = Number(match[1]);\n  if (!Number.isNaN(parsed) && parsed >= 1 && parsed <= 5) {\n    starRating = parsed;\n    break;\n  }\n}\n\nconst productPatterns = [\n  /product[:\\s]+(.+?)(?:\\n|$)/i,\n  /for\\s+(.+?)\\s+on/i,\n  /review(?:ed)?\\s+(.+?)(?:\\.|\\n|$)/i,\n];\n\nlet productName = '';\nfor (const pattern of productPatterns) {\n  const match = combined.match(pattern);\n  if (match?.[1]) {\n    productName = match[1].trim().slice(0, 120);\n    break;\n  }\n}\n\nif (!productName) {\n  productName = subject.replace(/review|notification|alert/gi, '').trim() || 'Unknown product';\n}\n\nconst quotedReview = body.match(/\"([^\"]{10,})\"/);\nconst reviewText = quotedReview\n  ? quotedReview[1].trim()\n  : body\n      .replace(/^(hi|hello|dear).+?\\n/i, '')\n      .replace(/unsubscribe.*/is, '')\n      .trim()\n      .slice(0, 1500);\n\nreturn [\n  {\n    json: {\n      googleSheetId: settings.googleSheetId,\n      sheetName: settings.sheetName,\n      slackChannelUrgent: settings.slackChannelUrgent,\n      slackChannelNegative: settings.slackChannelNegative,\n      slackChannelPositive: settings.slackChannelPositive,\n      urgentStarThreshold: settings.urgentStarThreshold,\n      messageId,\n      receivedAt,\n      customerName: senderName,\n      customerEmail: senderEmail,\n      productName,\n      starRating,\n      reviewText,\n      emailSubject: subject,\n    },\n  },\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "44444444-4444-4444-8444-444444444414",
      "name": "Read Review Log in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        780,
        320
      ],
      "parameters": {
        "options": {},
        "resource": "sheet",
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.sheetName }}"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.googleSheetId }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5,
      "alwaysOutputData": true
    },
    {
      "id": "44444444-4444-4444-8444-444444444415",
      "name": "Verify Duplicate Review",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        320
      ],
      "parameters": {
        "jsCode": "const review = $('Extract Review Content').first().json;\nconst rows = $input.all();\n\nconst isDuplicate = rows.some((item) => {\n  const row = item.json;\n  const existingMessageId = row['Message ID'] || row.messageId || row.MessageId || '';\n  return existingMessageId && review.messageId && existingMessageId === review.messageId;\n});\n\nreturn [\n  {\n    json: {\n      ...review,\n      isDuplicate,\n    },\n  },\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "44444444-4444-4444-8444-444444444416",
      "name": "If Review is New",
      "type": "n8n-nodes-base.if",
      "position": [
        1300,
        320
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-new-review-check",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": false
            },
            {
              "id": "has-review-text-check",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ ($json.reviewText || '').length }}",
              "rightValue": 10
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "44444444-4444-4444-8444-444444444417",
      "name": "OpenAI Review Classifier",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1560,
        320
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You analyze ecommerce product reviews. Return ONLY valid JSON with these keys: sentiment (positive|neutral|negative), score (number from -1 to 1), urgency (low|medium|high), themes (array of short strings), summary (one sentence), suggestedAction (one sentence for the support team). Be strict: angry 1-2 star reviews are negative with high urgency."
            },
            {
              "role": "user",
              "content": "=Product: {{ $('Verify Duplicate Review').item.json.productName }}\nStar rating: {{ $('Verify Duplicate Review').item.json.starRating || 'unknown' }}/5\nCustomer: {{ $('Verify Duplicate Review').item.json.customerName }}\nReview text:\n{{ $('Verify Duplicate Review').item.json.reviewText }}"
            }
          ]
        },
        "resource": "text",
        "operation": "message"
      },
      "credentials": {
        "openAiApi": {
          "name": "OpenAI account"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "44444444-4444-4444-8444-444444444418",
      "name": "Parse AI Classification",
      "type": "n8n-nodes-base.code",
      "position": [
        1820,
        320
      ],
      "parameters": {
        "jsCode": "const review = $('Verify Duplicate Review').first().json;\nconst aiItem = $input.first().json;\n\nconst raw =\n  aiItem.message?.content ||\n  aiItem.text ||\n  aiItem.output ||\n  aiItem.choices?.[0]?.message?.content ||\n  '';\n\nlet analysis = {\n  sentiment: 'neutral',\n  score: 0,\n  urgency: 'low',\n  themes: [],\n  summary: 'Review received',\n  suggestedAction: 'Review manually',\n};\n\ntry {\n  const jsonMatch = String(raw).match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = { ...analysis, ...JSON.parse(jsonMatch[0]) };\n  }\n} catch (error) {\n  const lowered = String(raw).toLowerCase();\n  if (lowered.includes('negative')) analysis.sentiment = 'negative';\n  else if (lowered.includes('positive')) analysis.sentiment = 'positive';\n}\n\nif (!Array.isArray(analysis.themes)) {\n  analysis.themes = String(analysis.themes || '')\n    .split(',')\n    .map((item) => item.trim())\n    .filter(Boolean);\n}\n\nconst starRating = review.starRating;\nconst threshold = review.urgentStarThreshold ?? 2;\n\nlet route = 'neutral';\nlet slackChannel = '';\nlet notifySlack = false;\n\nif (analysis.sentiment === 'negative') {\n  const lowStars = typeof starRating === 'number' && starRating <= threshold;\n  const highUrgency = analysis.urgency === 'high' || Number(analysis.score) <= -0.6;\n\n  if (lowStars || highUrgency) {\n    route = 'urgent';\n    slackChannel = review.slackChannelUrgent;\n    notifySlack = true;\n  } else {\n    route = 'negative';\n    slackChannel = review.slackChannelNegative;\n    notifySlack = true;\n  }\n} else if (analysis.sentiment === 'positive') {\n  route = 'positive';\n  slackChannel = review.slackChannelPositive;\n  notifySlack = true;\n}\n\nreturn [\n  {\n    json: {\n      ...review,\n      sentiment: analysis.sentiment,\n      score: analysis.score,\n      urgency: analysis.urgency,\n      themes: analysis.themes.join(', '),\n      summary: analysis.summary,\n      suggestedAction: analysis.suggestedAction,\n      route,\n      slackChannel,\n      notifySlack,\n    },\n  },\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "44444444-4444-4444-8444-444444444419",
      "name": "Route by Sentiment",
      "type": "n8n-nodes-base.switch",
      "position": [
        2080,
        320
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "urgent",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "route-urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "urgent"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "negative",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "route-negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "negative"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "positive",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "route-positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "positive"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "neutral",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "route-neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "neutral"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "typeVersion": 3.2
    },
    {
      "id": "44444444-4444-4444-8444-444444444420",
      "name": "Prepare Slack Message",
      "type": "n8n-nodes-base.code",
      "position": [
        2360,
        240
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst stars =\n  typeof item.starRating === 'number' ? `${item.starRating}/5` : 'Not detected';\n\nconst routeEmoji = {\n  urgent: '🚨',\n  negative: '⚠️',\n  positive: '🎉',\n};\n\nconst emoji = routeEmoji[item.route] || '📝';\nconst headline =\n  item.route === 'urgent'\n    ? 'Urgent review needs response'\n    : item.route === 'negative'\n      ? 'New negative review'\n      : item.route === 'positive'\n        ? 'New positive review'\n        : 'New review logged';\n\nconst text = [\n  `${emoji} *${headline}*`,\n  `*Product:* ${item.productName}`,\n  `*Customer:* ${item.customerName}`,\n  `*Rating:* ${stars}`,\n  `*Sentiment:* ${item.sentiment} (${item.urgency} urgency)`,\n  `*Summary:* ${item.summary}`,\n  `*Themes:* ${item.themes || 'n/a'}`,\n  `*Suggested action:* ${item.suggestedAction}`,\n  '',\n  `> ${item.reviewText.slice(0, 500)}`,\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      ...item,\n      text,\n      channel: item.slackChannel,\n    },\n  },\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "44444444-4444-4444-8444-444444444421",
      "name": "Post Message to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2848,
        240
      ],
      "parameters": {
        "text": "={{ $json.text }}",
        "select": "channel",
        "resource": "message",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.channel }}"
        },
        "operation": "post",
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "name": "Slack account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "44444444-4444-4444-8444-444444444422",
      "name": "Confirm Slack Sent",
      "type": "n8n-nodes-base.code",
      "position": [
        2848,
        416
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [\n  {\n    json: {\n      ...item,\n      slackSent: 'yes',\n    },\n  },\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "44444444-4444-4444-8444-444444444423",
      "name": "Build Neutral Log Entry",
      "type": "n8n-nodes-base.code",
      "position": [
        2592,
        480
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [\n  {\n    json: {\n      ...item,\n      slackSent: 'no',\n    },\n  },\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "44444444-4444-4444-8444-444444444424",
      "name": "Append Review to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3104,
        368
      ],
      "parameters": {
        "columns": {
          "value": {
            "Route": "={{ $json.route }}",
            "Score": "={{ $json.score }}",
            "Themes": "={{ $json.themes }}",
            "Product": "={{ $json.productName }}",
            "Summary": "={{ $json.summary }}",
            "Urgency": "={{ $json.urgency }}",
            "Customer": "={{ $json.customerName }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Message ID": "={{ $json.messageId }}",
            "Slack Sent": "={{ $json.slackSent }}",
            "Received At": "={{ $json.receivedAt }}",
            "Review Text": "={{ $json.reviewText }}",
            "Star Rating": "={{ $json.starRating }}",
            "Suggested Action": "={{ $json.suggestedAction }}"
          },
          "schema": [
            {
              "id": "Received At",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Received At",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Customer",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Product",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Star Rating",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Star Rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Text",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Review Text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Sentiment",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Urgency",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Themes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Themes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Action",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Suggested Action",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Route",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Route",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Slack Sent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Slack Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "options": {},
        "resource": "sheet",
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.sheetName }}"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.googleSheetId }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "gmail-review-sentiment-v1",
  "connections": {
    "If Review is New": {
      "main": [
        [
          {
            "node": "OpenAI Review Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Slack Sent": {
      "main": [
        [
          {
            "node": "Append Review to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Sentiment": {
      "main": [
        [
          {
            "node": "Prepare Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Neutral Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Message to Slack": {
      "main": [
        [
          {
            "node": "Confirm Slack Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slack Message": {
      "main": [
        [
          {
            "node": "Post Message to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Review Content": {
      "main": [
        [
          {
            "node": "Read Review Log in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Neutral Log Entry": {
      "main": [
        [
          {
            "node": "Append Review to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Classification": {
      "main": [
        [
          {
            "node": "Route by Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Duplicate Review": {
      "main": [
        [
          {
            "node": "If Review is New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Review Classifier": {
      "main": [
        [
          {
            "node": "Parse AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Review Log in Sheets": {
      "main": [
        [
          {
            "node": "Verify Duplicate Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Alert Configuration": {
      "main": [
        [
          {
            "node": "Extract Review Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Gmail Review Received": {
      "main": [
        [
          {
            "node": "Setup Alert Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
