automations/n8n/library/16951-send-lemonsqueezy-subscription-alerts-to-slack-discord-teleg.workflow.json
{
  "id": "yA9n94DXQYl1sfig",
  "meta": {
    "instanceId": "432c3528f93da4f797bafd4f35712f76adcfc48ec483ced025f7be71b681ebd3",
    "owner": "Mark Kato",
    "source": "n8n.io template library",
    "templateId": 16951
  },
  "name": "LemonSqueezy subscription alerts + event log",
  "tags": [],
  "nodes": [
    {
      "id": "14520583-ad18-428b-b2e7-df89df8bcf22",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -128
      ],
      "parameters": {
        "width": 480,
        "height": 896,
        "content": "## LemonSqueezy subscription alerts + event log\n\n### How it works\n\nThis workflow receives LemonSqueezy webhooks, validates the HMAC signature, parses the raw payload, and normalizes key subscription event fields. It logs every normalized event to Google Sheets and separately evaluates whether the event should trigger notifications. Matching subscription events are broadcast to Slack, Discord, and Telegram alert channels.\n\n### Setup steps\n\n- Configure the LemonSqueezy webhook to point to the n8n Webhook URL and enable the subscription events you want to process.\n- Set the shared LemonSqueezy webhook signing secret in the crypto/signature validation configuration so the HMAC comparison works.\n- Connect Google Sheets credentials and select your spreadsheet. Your sheet's header row must match these column names exactly: timestamp, event, customer_email, product, plan, amount, currency, status.\n- Connect at least one alert channel, Slack, Discord or Telegram, and delete the alert nodes you don't use (the template ships with all three).\n- Review the code nodes to ensure the payload parsing and normalized field names match the LemonSqueezy event structure you receive.\n\n### Customization\n\nAdjust the alert condition to control which subscription events notify the team, and update the normalized fields or Google Sheets columns to capture additional event details."
      },
      "typeVersion": 1
    },
    {
      "id": "05fa4522-f557-451a-8781-d4de68a97037",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -128
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 480,
        "content": "## Receive and sign webhook\n\nAccepts the incoming LemonSqueezy webhook request and computes an HMAC signature from the raw request body for later validation."
      },
      "typeVersion": 1
    },
    {
      "id": "55d4233b-3f92-448d-a08c-b165a9659067",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -128
      ],
      "parameters": {
        "color": 7,
        "width": 800,
        "height": 480,
        "content": "## Validate and normalize payload\n\nChecks whether the computed signature matches, parses the webhook payload from the original raw body, and converts the event into normalized fields for downstream logging and alerts."
      },
      "typeVersion": 1
    },
    {
      "id": "d885d1be-a653-4d32-8a2f-02363db40e88",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        448
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 448,
        "content": "## Log event record\n\nWrites the normalized LemonSqueezy event details to a Google Sheets event log. This node is spatially separated from the alerting branch and acts as the persistent audit trail."
      },
      "typeVersion": 1
    },
    {
      "id": "bc9ea078-aa82-44d0-9adc-5549eddc4184",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        -128
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 800,
        "content": "## Route alert notifications\n\nDetermines whether the normalized event should produce an alert, then sends matching subscription alerts to Slack, Discord, and Telegram destinations in the nearby notification cluster."
      },
      "typeVersion": 1
    },
    {
      "id": "715a53bd-8e5a-4079-b31a-d61bd6211018",
      "name": "When LemonSqueezy Event Received",
      "type": "n8n-nodes-base.webhook",
      "position": [
        800,
        160
      ],
      "webhookId": "97fe8ba5-55a0-4906-a139-74a962990aef",
      "parameters": {
        "path": "lemonsqueezy-events",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST"
      },
      "typeVersion": 2.1
    },
    {
      "id": "c6da3253-20ab-4d4b-89d3-b0de27fb2515",
      "name": "Normalize Event Data",
      "type": "n8n-nodes-base.code",
      "position": [
        2080,
        160
      ],
      "parameters": {
        "jsCode": "const { event, payload } = $input.first().json;\nconst a = payload.data?.attributes ?? {};\nconst isPaymentEvent = event.startsWith('subscription_payment');\n\nreturn [{ json: {\n  event,                                    // e.g. subscription_created\n  timestamp: new Date().toISOString(),\n  customer_email: a.user_email ?? '',\n  customer_name:  a.user_name ?? '',\n  product:  a.product_name ?? '',\n  plan:     a.variant_name ?? '',\n  status:   a.status ?? '',\n  // invoice shape only:\n  amount:   isPaymentEvent ? (a.total ?? 0) / 100 : null,\n  currency: isPaymentEvent ? (a.currency ?? '') : '',\n  billing_reason: a.billing_reason ?? '',\n  // routing flags:\n  is_payment: isPaymentEvent,\n  alert: event !== 'subscription_updated'   // updated = log only, no alert\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "ce67fe45-1db8-4d82-aa6f-c4861a9d1e80",
      "name": "Compute HMAC Signature",
      "type": "n8n-nodes-base.crypto",
      "position": [
        1140,
        160
      ],
      "parameters": {
        "action": "hmac",
        "binaryData": true,
        "dataPropertyName": "ourSig"
      },
      "credentials": {
        "crypto": {
          "id": "tFW5ouoPXaS6H6lG",
          "name": "Crypto account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "04f3bb47-267b-45af-9065-6d892ecf7f33",
      "name": "Validate HMAC Signature",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        160
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e312356d-80b5-419b-8578-d9a48464efb6",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.ourSig }}",
              "rightValue": "={{ $json.headers['x-signature'] }}"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "bddb9bc3-32d6-466a-9286-4c80619b1ecf",
      "name": "Parse Webhook Payload",
      "type": "n8n-nodes-base.code",
      "position": [
        1800,
        160
      ],
      "parameters": {
        "jsCode": "// Read raw body directly from the Webhook node (binary gets dropped upstream)\nconst hook = $('When LemonSqueezy Event Received').first();\nconst payload = JSON.parse(Buffer.from(hook.binary.data.data, 'base64').toString('utf8'));\nreturn [{ json: {\n  event: hook.json.headers['x-event-name'] || payload.meta?.event_name,\n  payload\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "6c60545e-f0cb-4c2a-9973-b38b5bc22824",
      "name": "Check If Event Triggers Alert",
      "type": "n8n-nodes-base.if",
      "position": [
        2400,
        256
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5ce332f6-aa4c-4308-839e-fcc13e252f32",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.alert }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "56b77fdd-b3df-488c-935f-2d85656ab265",
      "name": "Post Alert to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2720,
        96
      ],
      "webhookId": "d6fe58a0-6427-4ce2-9fcf-1bbcb780d2ff",
      "parameters": {
        "text": "=🔔 {{ $json.event }} Customer: {{ $json.customer_email }} Product: {{ $json.product }} — {{ $json.plan }} {{ $json.is_payment ? 'Amount: ' + $json.amount + ' ' + $json.currency.toUpperCase() : 'Status: ' + $json.status }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "el9YpHHhBFXuSEM6",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "d779024d-7906-4eb0-b4c0-5fa9059add33",
      "name": "Dispatch Alert to Discord",
      "type": "n8n-nodes-base.discord",
      "position": [
        2720,
        256
      ],
      "webhookId": "858e46d1-f5a3-415c-8bce-f8b8450151de",
      "parameters": {
        "content": "=🔔 {{ $json.event }}\nCustomer: {{ $json.customer_email }}\nProduct: {{ $json.product }} — {{ $json.plan }}\n{{ $json.is_payment ? 'Amount: ' + $json.amount + ' ' + $json.currency.toUpperCase() : 'Status: ' + $json.status }}",
        "options": {},
        "authentication": "webhook"
      },
      "typeVersion": 2
    },
    {
      "id": "f206304a-1bcd-4731-8df6-3f3569175de8",
      "name": "Transmit Alert to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2720,
        416
      ],
      "webhookId": "21c17c6f-735b-4530-80ad-275292edccc5",
      "parameters": {
        "text": "=🔔 {{ $json.event }}\nCustomer: {{ $json.customer_email }}\nProduct: {{ $json.product }} — {{ $json.plan }}\n{{ $json.is_payment ? 'Amount: ' + $json.amount + ' ' + $json.currency.toUpperCase() : 'Status: ' + $json.status }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "076kKWyPl3p7tHGd",
          "name": "Telegram account 2"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "b6bc04ef-b855-4e92-af76-cd681413945c",
      "name": "Append Event to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1840,
        688
      ],
      "parameters": {
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SHEET_ID"
        }
      },
      "typeVersion": 4.7
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "2e38b620-700b-4435-aaf5-e4656b72c318",
  "connections": {
    "Normalize Event Data": {
      "main": [
        [
          {
            "node": "Check If Event Triggers Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Event to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Payload": {
      "main": [
        [
          {
            "node": "Normalize Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute HMAC Signature": {
      "main": [
        [
          {
            "node": "Validate HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC Signature": {
      "main": [
        [
          {
            "node": "Parse Webhook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Event Triggers Alert": {
      "main": [
        [
          {
            "node": "Post Alert to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dispatch Alert to Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transmit Alert to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When LemonSqueezy Event Received": {
      "main": [
        [
          {
            "node": "Compute HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
