automations/n8n/library/16981-save-amazon-reviews-to-notion-with-scraperapi-and-openai-gpt.workflow.json
{
  "nodes": [
    {
      "id": "b0352903-a0fc-478f-a623-1d54563c3696",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6784,
        1792
      ],
      "parameters": {
        "width": 480,
        "height": 896,
        "content": "## Save new Amazon reviews to Notion with AI sentiment tags via ScraperAPI\n\n### How it works\n\n1. Triggers every Monday at 8am to configure a watchlist of Amazon ASINs.\n2. Fetches Amazon product details based on the configured ASINs.\n3. Extracts and classifies sentiment of new reviews using AI.\n4. Normalizes and appends the classified reviews to a Notion database.\n5. Provides a setup for Notion columns configuration via manual trigger.\n\n### Setup steps\n\n- [ ] Configure Amazon product ASINs, Notion database ID, TLD, and countryCode in the 'Configure Watchlist' node.\n- [ ] Obtain and set up credentials for Scraper API and Notion API.\n- [ ] Manually run the setup trigger to ensure Notion columns are initialized.\n\n### Customization\n\nThe ASINs and sentiment classification model can be customized according to user preference."
      },
      "typeVersion": 1
    },
    {
      "id": "6ae57eb5-9246-4cdc-9e45-a5c5bc35cdca",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7344,
        2128
      ],
      "parameters": {
        "color": 7,
        "width": 720,
        "height": 304,
        "content": "## Scheduled watchlist configuration\n\nSets up and schedules the watchlist every Monday."
      },
      "typeVersion": 1
    },
    {
      "id": "dbb615a5-8b3a-4369-9043-09c7f7173db9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8144,
        2128
      ],
      "parameters": {
        "color": 7,
        "width": 448,
        "height": 304,
        "content": "## Fetch and extract reviews\n\nFetches product data from Amazon and extracts new reviews."
      },
      "typeVersion": 1
    },
    {
      "id": "db7e6a48-b4db-47a8-8271-7b97fbbd77e5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8656,
        2128
      ],
      "parameters": {
        "color": 7,
        "width": 592,
        "height": 496,
        "content": "## Review sentiment analysis\n\nClassifies and normalizes review sentiment using an AI model."
      },
      "typeVersion": 1
    },
    {
      "id": "6c4fc4a0-eb1e-4fa9-a233-8af7335ad058",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9296,
        2128
      ],
      "parameters": {
        "color": 7,
        "width": 304,
        "height": 336,
        "content": "## Append reviews to Notion\n\nAppends the normalized reviews to the Notion database."
      },
      "typeVersion": 1
    },
    {
      "id": "c63a700c-498f-4905-a7da-44169ec8b7d4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7344,
        1792
      ],
      "parameters": {
        "color": 7,
        "width": 720,
        "height": 272,
        "content": "## Notion setup initializer\n\nManual trigger to setup Notion database columns."
      },
      "typeVersion": 1
    },
    {
      "id": "schedule-trigger",
      "name": "Every Monday at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        7392,
        2272
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "configure",
      "name": "Configure Watchlist",
      "type": "n8n-nodes-base.set",
      "position": [
        7648,
        2272
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "asins",
              "name": "asins",
              "type": "array",
              "value": "={{ [ { asin: 'B000UXZQ42', label: 'Wireless Headset' }, { asin: 'B0CXGTGPZQ', label: 'Gaming Headset' }, { asin: 'B0BVBVPSX6', label: 'Bluetooth Headset' } ] }}"
            },
            {
              "id": "notion-db",
              "name": "notion_database_id",
              "type": "string",
              "value": "REPLACE_WITH_NOTION_DATABASE_ID"
            },
            {
              "id": "tld",
              "name": "tld",
              "type": "string",
              "value": "com"
            },
            {
              "id": "country-code",
              "name": "countryCode",
              "type": "string",
              "value": "us"
            },
            {
              "id": "max-new",
              "name": "max_new_per_asin",
              "type": "number",
              "value": 10
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "split-asins",
      "name": "Split Amazon ASINs",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        7920,
        2272
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "asins"
      },
      "typeVersion": 1
    },
    {
      "id": "scrape-amazon",
      "name": "Fetch Amazon Product",
      "type": "n8n-nodes-scraperapi-official.scraperApi",
      "maxTries": 2,
      "position": [
        8192,
        2272
      ],
      "parameters": {
        "sdeAsin": "={{ $json.asin }}",
        "resource": "sde",
        "operation": "amazonProduct",
        "sdePlatform": "amazon",
        "sdeAmazonProductOptions": {
          "tld": "={{ $('Configure Watchlist').first().json.tld }}",
          "countryCode": "={{ $('Configure Watchlist').first().json.countryCode }}",
          "outputFormat": "json"
        }
      },
      "retryOnFail": true,
      "typeVersion": 1,
      "continueOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "id": "extract-new-reviews",
      "name": "Extract New Reviews",
      "type": "n8n-nodes-base.code",
      "position": [
        8448,
        2272
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pull reviews out of each Amazon Product SDE response, key each review so we\n// can tell new from already-seen across runs, and emit ONE item per NEW review.\n// The set of seen review keys persists in workflow static data (per ASIN), so\n// re-runs only forward reviews that appeared since the last execution. On the\n// first run there is no history, so the most recent reviews (capped per ASIN)\n// are treated as new to give the workflow immediate output.\n//\n// Note: the Amazon Product endpoint returns a sample of the product's reviews,\n// not the full chronological history — this tracks reviews as they enter that\n// sample. Static data resets if the workflow is re-imported.\n\nconst store = $getWorkflowStaticData('global');\nstore.seenReviews = store.seenReviews || {}; // { asin: [key, ...] }\n\nconst cfg = $('Configure Watchlist').first().json;\nconst MAX_NEW_PER_ASIN = Number(cfg.max_new_per_asin) || 10;\nconst KEEP_KEYS = 200;\n\nconst getBody = (item) => {\n  const resp = item && item.json && item.json.response;\n  if (!resp || resp.body === undefined) return {};\n  if (typeof resp.body === 'string') {\n    try { return JSON.parse(resp.body); } catch (e) { return {}; }\n  }\n  return resp.body;\n};\n\nconst str = (v) => String(v == null ? '' : v).trim();\nconst numOrNull = (v) => {\n  if (v === null || v === undefined || v === '') return null;\n  const n = parseFloat(String(v).replace(/[^0-9.]/g, ''));\n  return Number.isFinite(n) ? n : null;\n};\n\nconst keyOf = (asin, r) => {\n  const id = str(r.id || r.review_id);\n  if (id) return asin + '::' + id;\n  return [\n    asin,\n    str(r.username || r.author || r.reviewer).toLowerCase(),\n    str(r.date || r.review_date),\n    str(r.title || r.review_title).slice(0, 60).toLowerCase(),\n  ].join('::');\n};\n\nconst splitItems = $('Split Amazon ASINs').all();\nconst out = [];\n\n$input.all().forEach((item, i) => {\n  const body = getBody(item);\n  const meta = (splitItems[i] && splitItems[i].json) || {};\n  const asin = str(meta.asin) || str(body.asin);\n  if (!asin) return;\n  const productName = str(body.name || body.title || body.product_title) || asin;\n\n  let reviews = body.reviews;\n  if (reviews && !Array.isArray(reviews)) reviews = reviews.recent_reviews || reviews.reviews || [];\n  if (!Array.isArray(reviews)) reviews = body.customer_reviews || body.top_reviews || [];\n  if (!Array.isArray(reviews)) return;\n\n  const seen = new Set(store.seenReviews[asin] || []);\n  const freshKeys = [];\n  let taken = 0;\n\n  for (const r of reviews) {\n    if (!r || typeof r !== 'object') continue;\n    const key = keyOf(asin, r);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    freshKeys.push(key);\n    if (taken >= MAX_NEW_PER_ASIN) continue; // record as seen, but don't forward\n    taken++;\n    out.push({\n      json: {\n        asin,\n        product_name: productName,\n        label: str(meta.label) || productName,\n        review_id: str(r.id || r.review_id),\n        review_key: key,\n        title: str(r.title || r.review_title),\n        body: str(r.review || r.text || r.body || r.content),\n        stars: numOrNull(r.stars ?? r.rating),\n        username: str(r.username || r.author || r.reviewer),\n        date: str(r.date || r.review_date),\n        verified: !!(r.verified_purchase ?? r.verified),\n        review_url: str(r.url || r.link),\n        scraped_at: new Date().toISOString(),\n      },\n      pairedItem: { item: i },\n    });\n  }\n\n  // Persist the updated seen-set for this ASIN, trimmed to the most recent keys.\n  const merged = (store.seenReviews[asin] || []).concat(freshKeys);\n  store.seenReviews[asin] = merged.slice(-KEEP_KEYS);\n});\n\nreturn out;\n",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "classify-review",
      "name": "Classify Review Sentiment",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        8720,
        2272
      ],
      "parameters": {
        "text": "=Product: {{ $json.product_name }}\nStar rating: {{ $json.stars }}\nTitle: {{ $json.title }}\n\nReview:\n{{ $json.body }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a product review analyst. Classify a single Amazon customer review. Return ONLY a JSON object — no preamble, no markdown fence — with this exact shape:\n\n{\n  \"sentiment\": \"positive\" | \"neutral\" | \"negative\",\n  \"feature_tags\": [\"short feature or topic label\", \"...\"],\n  \"summary\": \"one short sentence summarizing the review\"\n}\n\nfeature_tags: 1-4 short lowercase labels for the product aspects the review discusses (e.g. \"battery life\", \"price\", \"build quality\", \"shipping\", \"sound quality\", \"customer support\"). Base the sentiment on both the review text and the star rating. Never invent details that are not in the review."
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "openai-chat-model",
      "name": "OpenAI GPT-5 Mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        8720,
        2480
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "options": {
          "responseFormat": "json_object"
        },
        "responsesApiEnabled": false
      },
      "typeVersion": 1.3
    },
    {
      "id": "normalize-classification",
      "name": "Normalize Classification",
      "type": "n8n-nodes-base.code",
      "position": [
        9104,
        2272
      ],
      "parameters": {
        "jsCode": "// Normalize the LLM classification and re-attach the review metadata.\n// With response_format json_object the Basic LLM Chain surfaces parsed fields\n// directly on item.json; older versions wrap them under text / output /\n// response — handle both shapes.\n\nreturn $input.all().map((item, i) => {\n  const j = item.json || {};\n\n  let parsed = j;\n  const looksParsed = j.sentiment !== undefined || Array.isArray(j.feature_tags);\n  if (!looksParsed) {\n    const raw = j.text || j.output || j.response || '';\n    try { parsed = typeof raw === 'string' ? JSON.parse(raw) : raw; }\n    catch (e) { parsed = {}; }\n  }\n\n  const meta = ($('Extract New Reviews').itemMatching(i) || {}).json || {};\n  const tags = Array.isArray(parsed.feature_tags)\n    ? parsed.feature_tags.map((t) => String(t).trim()).filter(Boolean)\n    : [];\n\n  const sentiment = String(parsed.sentiment || 'unknown').toLowerCase().trim();\n\n  // Notion caps each rich_text block at 2000 chars, so pre-build the review\n  // block here and clip it. Long Amazon reviews would otherwise fail the\n  // Append node with a body validation error.\n  const clip = (s, n) => {\n    s = String(s == null ? '' : s);\n    return s.length > n ? s.slice(0, n - 1).trimEnd() + '…' : s;\n  };\n  const reviewBody = String(meta.body || '(no review text)');\n  const reviewBlock = clip((meta.title ? meta.title + '\\n\\n' : '') + reviewBody, 1990);\n\n  // Turn the Amazon review date (\"Reviewed in the United States on July 1, 2026\")\n  // into an ISO date so it can fill a real Notion Date property that sorts\n  // chronologically. Falls back to the scrape date when the string can't be\n  // parsed, so the Date property is never empty — Notion rejects empty dates.\n  const MONTHS = { january: 1, february: 2, march: 3, april: 4, may: 5, june: 6, july: 7, august: 8, september: 9, october: 10, november: 11, december: 12 };\n  const parseDate = (s) => {\n    const m = String(s == null ? '' : s).match(/([A-Za-z]+)\\s+(\\d{1,2}),\\s*(\\d{4})/);\n    if (m && MONTHS[m[1].toLowerCase()]) {\n      const mm = String(MONTHS[m[1].toLowerCase()]).padStart(2, '0');\n      const dd = String(m[2]).padStart(2, '0');\n      return m[3] + '-' + mm + '-' + dd;\n    }\n    return String(meta.scraped_at || '').slice(0, 10) || null;\n  };\n  const reviewDateIso = parseDate(meta.date);\n\n  return {\n    json: {\n      ...meta,\n      sentiment,\n      feature_tags: tags,\n      feature_tags_str: tags.join(', ') || '(none)',\n      ai_summary: String(parsed.summary || '').trim(),\n      review_block: reviewBlock,\n      review_date_iso: reviewDateIso,\n    },\n    pairedItem: { item: i },\n  };\n});\n",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "append-notion",
      "name": "Append Review to Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        9392,
        2272
      ],
      "parameters": {
        "title": "={{ $json.sentiment }} · {{ $json.stars || '?' }}★ · {{ $json.label }} — {{ $json.title || $json.ai_summary || 'review' }}",
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "Review"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.review_block }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "AI classification"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "=Sentiment: {{ $json.sentiment }} · Feature tags: {{ $json.feature_tags_str }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "=Summary: {{ $json.ai_summary || '(none)' }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "Metadata"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "=Reviewer: {{ $json.username || 'unknown' }} · Rating: {{ $json.stars || '?' }}★ · Date: {{ $json.date || 'unknown' }} · Verified: {{ $json.verified }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "=ASIN: {{ $json.asin }} · Scraped: {{ $json.scraped_at }}"
            }
          ]
        },
        "options": {},
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configure Watchlist').first().json.notion_database_id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Sentiment|select",
              "selectValue": "={{ $json.sentiment }}"
            },
            {
              "key": "Stars|number",
              "numberValue": "={{ $json.stars }}"
            },
            {
              "key": "Feature tags|multi_select",
              "multiSelectValue": "={{ $json.feature_tags }}"
            },
            {
              "key": "Product|select",
              "selectValue": "={{ $json.label }}"
            },
            {
              "key": "Review date|date",
              "date": "={{ $json.review_date_iso }}",
              "includeTime": false
            },
            {
              "key": "Verified|checkbox",
              "checkboxValue": "={{ $json.verified }}"
            },
            {
              "key": "Reviewer|rich_text",
              "textContent": "={{ $json.username || 'unknown' }}"
            },
            {
              "key": "ASIN|rich_text",
              "textContent": "={{ $json.asin }}"
            },
            {
              "key": "AI summary|rich_text",
              "textContent": "={{ $json.ai_summary }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "ensure-notion-columns",
      "name": "Ensure Notion Columns",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7920,
        1920
      ],
      "parameters": {
        "url": "=https://api.notion.com/v1/databases/{{ $json.notion_database_id }}",
        "method": "PATCH",
        "options": {},
        "jsonBody": "{\"properties\":{\"Sentiment\":{\"select\":{\"options\":[{\"name\":\"positive\",\"color\":\"green\"},{\"name\":\"neutral\",\"color\":\"yellow\"},{\"name\":\"negative\",\"color\":\"red\"},{\"name\":\"unknown\",\"color\":\"gray\"}]}},\"Stars\":{\"number\":{\"format\":\"number\"}},\"Feature tags\":{\"multi_select\":{}},\"Product\":{\"select\":{}},\"Review date\":{\"date\":{}},\"Verified\":{\"checkbox\":{}},\"Reviewer\":{\"rich_text\":{}},\"ASIN\":{\"rich_text\":{}},\"AI summary\":{\"rich_text\":{}}}}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "nodeCredentialType": "notionApi"
      },
      "typeVersion": 4.2
    },
    {
      "id": "setup-manual-trigger",
      "name": "Run once — set up Notion columns",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        7392,
        1920
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "setup-notion-db",
      "name": "Notion database (setup)",
      "type": "n8n-nodes-base.set",
      "position": [
        7648,
        1920
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "notion-db",
              "name": "notion_database_id",
              "type": "string",
              "value": "REPLACE_WITH_NOTION_DATABASE_ID"
            }
          ]
        }
      },
      "typeVersion": 3.4
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "OpenAI GPT-5 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Review Sentiment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Amazon ASINs": {
      "main": [
        [
          {
            "node": "Fetch Amazon Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Watchlist": {
      "main": [
        [
          {
            "node": "Split Amazon ASINs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Monday at 8am": {
      "main": [
        [
          {
            "node": "Configure Watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract New Reviews": {
      "main": [
        [
          {
            "node": "Classify Review Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Amazon Product": {
      "main": [
        [
          {
            "node": "Extract New Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion database (setup)": {
      "main": [
        [
          {
            "node": "Ensure Notion Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Classification": {
      "main": [
        [
          {
            "node": "Append Review to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Review Sentiment": {
      "main": [
        [
          {
            "node": "Normalize Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run once — set up Notion columns": {
      "main": [
        [
          {
            "node": "Notion database (setup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Save Amazon reviews to Notion with ScraperAPI and OpenAI GPT-5 Mini",
  "active": false,
  "meta": {
    "owner": "ScraperAPI",
    "source": "n8n.io template library",
    "templateId": 16981
  }
}
