automations/n8n/library/16989-route-whatsapp-support-requests-with-groq-google-sheets-gmai.workflow.json
{
  "id": "1rVJXfzcQ5k8i0fc",
  "meta": {
    "instanceId": "325eb4f81e71ba8656f72c0303f7cf8736415c53e7322d22b3eb418bee684c6c",
    "owner": "Utkarsh Kapoor",
    "source": "n8n.io template library",
    "templateId": 16989
  },
  "name": "AI WhatsApp customer support bot with intent routing, knowledge base and Google Sheets",
  "tags": [],
  "nodes": [
    {
      "id": "2a16886d-dce1-4be2-b516-791492fbc598",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1472,
        416
      ],
      "webhookId": "whatsapp-support",
      "parameters": {
        "path": "whatsapp-support",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "f714ead7-73fe-49db-8581-d92c617a4ad0",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "position": [
        -1232,
        416
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "customer_phone",
              "type": "string",
              "value": "={{ $json.body.waId || $json.body.from || '' }}"
            },
            {
              "id": "a2",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.body.name || $json.body.pushname || 'Customer' }}"
            },
            {
              "id": "a3",
              "name": "message",
              "type": "string",
              "value": "={{ ($json.body.message || $json.body.text || $json.body.body || '').trim() }}"
            },
            {
              "id": "a4",
              "name": "received_at",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "d8ffd7e8-d6e1-44e3-90e8-c66d4d4804d6",
      "name": "Valid Message?",
      "type": "n8n-nodes-base.if",
      "position": [
        -992,
        416
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "leftValue": "={{ $json.message }}",
              "rightValue": ""
            },
            {
              "id": "c2",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "leftValue": "={{ $json.customer_phone }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "8b9138fa-053c-4ab7-a7fe-384d4e79b452",
      "name": "Load Knowledge Base",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -752,
        416
      ],
      "parameters": {
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "e91d23dd-ce89-4b67-a9d7-651b278d5b53",
      "name": "AI Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -560,
        416
      ],
      "parameters": {
        "text": "=You are a WhatsApp customer support bot. Read the customer message, classify the intent, and write a helpful reply using the knowledge base.\n\nCustomer: {{ $('Extract Message').first().json.customer_name }}\nMessage: \"{{ $('Extract Message').first().json.message }}\"\n\nKNOWLEDGE BASE:\n{{ $json.map(row => 'Q: ' + row.question + '\\nA: ' + row.answer).join('\\n\\n') }}\n\nINSTRUCTIONS:\n1. Classify intent as one of: FAQ, ORDER_REFUND, COMPLAINT, ESCALATE, GREETING\n2. Detect language: english, hindi, or hinglish\n3. Rate urgency: low, medium, or high\n4. Write a reply under 100 words in the SAME language as the customer\n5. For FAQ: answer from the knowledge base only. If not found, say you will connect them with the team\n6. For ORDER_REFUND: ask for their Order ID and email, promise 2-4 hour response\n7. For COMPLAINT: apologize sincerely, say a senior team member will contact within 30 minutes\n8. For ESCALATE: say you are connecting them with a human agent within 15 minutes\n9. For GREETING: welcome them and list what you can help with\n10. Address customer by first name\n\nRespond ONLY with valid JSON (no markdown, no backticks):\n{\"intent\": \"FAQ\", \"language\": \"english\", \"urgency\": \"low\", \"reply\": \"your reply here\"}",
        "options": {
          "systemMessage": "You are a friendly WhatsApp support bot. Classify intent accurately, reply concisely in the customer's language, and only use knowledge base information for FAQ answers. Return only valid JSON."
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "7ae0802f-da5b-4399-aab3-e7fd8b543a94",
      "name": "Groq LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        -512,
        640
      ],
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ac015f3b-8a00-439a-bc8f-41cd4f4cad22",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -272,
        416
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst msg = $('Extract Message').first().json;\n\ntry {\n  let jsonStr = raw;\n  const cb = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (cb) jsonStr = cb[1];\n  const s = jsonStr.indexOf('{');\n  const e = jsonStr.lastIndexOf('}');\n  if (s !== -1 && e !== -1) jsonStr = jsonStr.substring(s, e + 1);\n\n  const parsed = JSON.parse(jsonStr);\n  const validIntents = ['FAQ','ORDER_REFUND','COMPLAINT','ESCALATE','GREETING'];\n\n  return [{\n    json: {\n      customer_phone: msg.customer_phone,\n      customer_name: msg.customer_name,\n      message: msg.message,\n      received_at: msg.received_at,\n      intent: validIntents.includes(parsed.intent) ? parsed.intent : 'FAQ',\n      language: parsed.language || 'english',\n      urgency: parsed.urgency || 'medium',\n      reply: parsed.reply || 'Sorry, I could not process your request. Our team will reach out shortly.'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      customer_phone: msg.customer_phone,\n      customer_name: msg.customer_name,\n      message: msg.message,\n      received_at: msg.received_at,\n      intent: 'FAQ',\n      language: 'english',\n      urgency: 'medium',\n      reply: 'Sorry, I could not process your request. Our team will reach out shortly.'\n    }\n  }];\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "895d9fe6-55eb-4e47-9873-e68d1dfb674f",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -32,
        416
      ],
      "parameters": {
        "url": "https://backend.aisensy.com/campaign/t1/api/v2",
        "options": {},
        "jsonBody": "={\n  \"apiKey\": \"YOUR_AISENSY_API_KEY\",\n  \"campaignName\": \"support-reply\",\n  \"destination\": \"{{ $json.customer_phone }}\",\n  \"userName\": \"{{ $json.customer_name }}\",\n  \"templateParams\": [\"{{ $json.reply }}\"],\n  \"source\": \"n8n-bot\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "a110924e-ee6e-416d-a905-86af2b4a1b91",
      "name": "Is Complaint?",
      "type": "n8n-nodes-base.if",
      "position": [
        208,
        176
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-complaint",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Parse Response').first().json.intent }}",
              "rightValue": "COMPLAINT"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "745cd0e7-bf21-408d-a7a9-d53d30222828",
      "name": "Email Complaint Alert",
      "type": "n8n-nodes-base.gmail",
      "position": [
        480,
        160
      ],
      "webhookId": "61616698-e29c-48f0-bcd4-10f7d3792135",
      "parameters": {
        "sendTo": "user@example.com",
        "message": "=WhatsApp complaint received.\n\nCustomer: {{ $('Parse Response').first().json.customer_name }}\nPhone: {{ $('Parse Response').first().json.customer_phone }}\nUrgency: {{ $('Parse Response').first().json.urgency }}\nTime: {{ $('Parse Response').first().json.received_at }}\n\nMessage:\n\"{{ $('Parse Response').first().json.message }}\"\n\nBot replied:\n\"{{ $('Parse Response').first().json.reply }}\"\n\nPlease follow up within 30 minutes.",
        "options": {},
        "subject": "=COMPLAINT: {{ $('Parse Response').first().json.customer_name }} — {{ $('Parse Response').first().json.message.substring(0, 60) }}",
        "emailType": "text"
      },
      "typeVersion": 2.1
    },
    {
      "id": "3db7faae-cab3-4eb0-b6e9-576741a5cd23",
      "name": "Is Escalation?",
      "type": "n8n-nodes-base.if",
      "position": [
        224,
        416
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-escalate",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Parse Response').first().json.intent }}",
              "rightValue": "ESCALATE"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "6c12eef0-4d72-4571-94d4-b392b0a16cb9",
      "name": "Telegram Escalation Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [
        496,
        400
      ],
      "webhookId": "22e94c1c-a6fd-4c0c-a271-a23f526ce020",
      "parameters": {
        "text": "=ESCALATION\n\nCustomer: {{ $('Parse Response').first().json.customer_name }}\nPhone: +{{ $('Parse Response').first().json.customer_phone }}\nUrgency: {{ $('Parse Response').first().json.urgency }}\n\nMessage: \"{{ $('Parse Response').first().json.message }}\"\n\nRespond within 15 minutes.",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "additionalFields": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "b4b5be96-117d-4afe-9a14-102baa0b174c",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        224,
        672
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "9da26c23-204e-4bea-a8d8-41d51653a8d2",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        496,
        672
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "{\"status\": \"ok\"}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "1c6c5a37-824d-4925-a369-0cc98dceb7e1",
      "name": "Ignore Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1040,
        672
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "{\"status\": \"ignored\"}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "4a857abf-fd35-413a-9c4d-5dc1cf4ba9f9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        96
      ],
      "parameters": {
        "width": 544,
        "height": 716,
        "content": "## AI WhatsApp customer support bot with intent routing, knowledge base and Google Sheets\n\n### How it works\n\nThis workflow turns your WhatsApp number into an AI support bot. When a customer messages you via AiSensy, the bot reads the message, loads your FAQ knowledge base from Google Sheets, and sends everything to Groq Llama 3.3 which classifies the intent (FAQ, Order/Refund, Complaint, Escalate, Greeting) and generates a reply in the same language (English, Hindi, or Hinglish) — all in one AI call. The reply is sent back via WhatsApp, and the conversation is logged to Google Sheets. Complaints trigger a Gmail alert. Escalations trigger a Telegram ping.\n\n### Intent categories\n\n- FAQ: Answered from your Google Sheets knowledge base\n- Order/Refund: Asks for Order ID and promises follow-up\n- Complaint: Apologizes and emails your team immediately\n- Escalate: Promises human callback and pings your Telegram\n- Greeting: Welcome menu with available options"
      },
      "typeVersion": 1
    },
    {
      "id": "d6913e1c-6792-47cd-886a-7846686facd5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        176
      ],
      "parameters": {
        "color": 2,
        "width": 696,
        "height": 636,
        "content": "## Receive and validate\n\nWhatsApp Webhook receives incoming messages from AiSensy. Extract Message pulls out the customer phone, name, and message text. Valid Message? checks that both fields are present — empty or missing messages are silently acknowledged with a 200 OK."
      },
      "typeVersion": 1
    },
    {
      "id": "c0dffd40-2d9b-40d0-98e8-2aa1a90b1058",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        176
      ],
      "parameters": {
        "color": 3,
        "width": 688,
        "height": 620,
        "content": "## Load knowledge base and generate AI reply\n\nLoad Knowledge Base reads all FAQ rows from your Google Sheet (columns: question, answer). The AI Support Agent receives the customer message plus the entire knowledge base and does two things in one call: classifies the intent and writes a contextual reply under 100 words in the customer's language. Parse Response extracts the JSON and validates the intent against the allowed list."
      },
      "typeVersion": 1
    },
    {
      "id": "711eeeec-5296-4b2c-996b-b12a9987ca6d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -80
      ],
      "parameters": {
        "color": "#A8F5B5",
        "width": 776,
        "height": 972,
        "content": "## Send reply, alert, and log\n\nSend WhatsApp Reply posts the AI-generated message back to the customer via AiSensy API. In parallel, two IF nodes check the intent: complaints trigger a Gmail alert to your support email with full context, and escalations fire a Telegram message to your team chat. All conversations are logged to a separate Google Sheet with timestamp, phone, name, message, intent, urgency, language, and the reply sent."
      },
      "typeVersion": 1
    },
    {
      "id": "65e090f8-49a3-46f0-8f1f-9aee3bd8ede5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        -32
      ],
      "parameters": {
        "color": 6,
        "width": 460,
        "height": 1152,
        "content": "## Setup Guide\n\n### Step 1 - AiSensy webhook\n1. Log in to AiSensy dashboard\n2. Go to Settings - Webhooks - Add\n3. Paste your n8n webhook URL\n4. Select message events and save\n\n### Step 2 - AiSensy API for replies\n1. Get your API Key from AiSensy Settings\n2. Replace YOUR_AISENSY_API_KEY in the Send WhatsApp Reply node\n3. Create a message template named 'support-reply' that accepts one parameter\n\n### Step 3 - Groq API Key\n1. Go to console.groq.com - API Keys - Create\n2. n8n: Credentials - Add - Groq API - paste - Save\n3. Select in the Groq LLM node\n\n### Step 4 - Knowledge Base\n1. Create a Google Sheet with columns: question, answer\n2. Add 10-20 FAQs for your business\n3. Link in the Load Knowledge Base node\n\n### Step 5 - Conversation Log\n1. Create a second Google Sheet with columns: timestamp, customer_phone, customer_name, message, intent, urgency, language, reply_sent\n2. Link in the Log to Sheets node\n\n### Step 6 - Gmail for complaints\n1. Add Gmail OAuth2 credentials\n2. Change your-support@email.com to your real email\n\n### Step 7 - Telegram for escalations\n1. Create a bot via @BotFather, get token\n2. Add Telegram credentials\n3. Replace YOUR_TELEGRAM_CHAT_ID"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "cbb6e5c9-12e3-486d-8e49-444d91c2c9ff",
  "nodeGroups": [],
  "connections": {
    "Groq LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Is Complaint?": {
      "main": [
        [
          {
            "node": "Email Complaint Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Escalation?": {
      "main": [
        [
          {
            "node": "Telegram Escalation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Message?": {
      "main": [
        [
          {
            "node": "Load Knowledge Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Valid Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Support Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Knowledge Base": {
      "main": [
        [
          {
            "node": "AI Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Is Complaint?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Escalation?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
