automations/n8n/library/16996-post-a-daily-project-health-standup-to-slack-with-notion-and.workflow.json
{
  "meta": {
    "owner": "Kevin Yu",
    "source": "n8n.io template library",
    "templateId": 16996
  },
  "name": "Post a daily project health standup to Slack using Notion and Groq",
  "nodes": [
    {
      "name": "Every Morning at 7 30am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        304
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "name": "Get Memory Row",
      "type": "n8n-nodes-base.notion",
      "position": [
        208,
        304
      ],
      "parameters": {
        "simple": true,
        "resource": "databasePage",
        "operation": "getAll",
        "returnAll": true,
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL",
          "name": "Notion account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "name": "Get Active Projects",
      "type": "n8n-nodes-base.notion",
      "position": [
        416,
        304
      ],
      "parameters": {
        "simple": true,
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "type": "select",
              "condition": "equals",
              "selectValue": "Active"
            }
          ]
        },
        "resource": "databasePage",
        "matchType": "anyFilter",
        "operation": "getAll",
        "returnAll": true,
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filterType": "manual"
      },
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL",
          "name": "Notion account"
        }
      },
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "name": "Assemble Inputs",
      "type": "n8n-nodes-base.code",
      "position": [
        688,
        304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const NL = String.fromCharCode(10);\nconst TEST_TODAY = '';\nconst today = TEST_TODAY || $now.toFormat('yyyy-LL-dd');\nfunction dstr(v){ if(!v) return ''; if(typeof v === 'string') return v; if(v.start) return v.start; return String(v); }\nconst rows = $('Get Active Projects').all().map(i => i.json).filter(j => j && (j.Project || j.Name || j.name));\nconst projects = rows.map(j => ({ Project: j.Project || j.Name || j.name || '', 'Update notes': dstr(j['Update notes']), 'Last update': dstr(j['Last update']), 'Next milestone': dstr(j['Next milestone']) }));\nconst mem = $('Get Memory Row').first();\nlet yesterday = '';\nif (mem && mem.json) { yesterday = mem.json.Digest || mem.json.digest || ''; if (yesterday && typeof yesterday !== 'string') yesterday = String(yesterday); }\nif (!yesterday) yesterday = 'FIRST RUN - no prior standup';\nconst template = [\n  'You are a project status assistant. Today is {{TODAY}}.',\n  '',\n  'You receive two things:',\n  '1. YESTERDAYS STANDUP: the message you produced last run. It lists each project',\n  '   under a color heading (RED, YELLOW, GREEN). If it is empty or says \"FIRST',\n  '   RUN\", there is no prior data.',\n  '2. TODAYS PROJECTS: a JSON list of active projects, each with Project name,',\n  '   Update notes, Last update date, and Next milestone date.',\n  '',\n  'STEP 1 - Score each project today:',\n  '- Red: a milestone is due within 3 days and notes show it is not on track, OR',\n  '  notes describe a blocker, OR no update in more than 14 days.',\n  '- Yellow: no update in 7 to 14 days, OR a milestone is within 7 days and progress',\n  '  is unclear.',\n  '- Green: recent update and no near-term risk.',\n  '',\n  'STEP 2 - Compare to yesterday:',\n  '- For each project, find its color in YESTERDAYS STANDUP.',\n  '- If todays color differs from yesterdays, it is a CHANGE.',\n  '- If YESTERDAYS STANDUP is empty or says \"FIRST RUN\", there are no changes to',\n  '  report.',\n  '',\n  'STEP 3 - Write the standup as plain text, in exactly this shape:',\n  '',\n  'Morning standup - {{TODAY}}',\n  '',\n  'CHANGED OVERNIGHT',\n  '- <Project>: <old color> -> <new color> (<reason, max 10 words>)',\n  '',\n  'RED',\n  '- <Project>: <reason, max 12 words>',\n  '',\n  'YELLOW',\n  '- <Project>: <reason, max 12 words>',\n  '',\n  'GREEN (<count>): <comma-separated project names>',\n  '',\n  'Rules:',\n  '- In CHANGED OVERNIGHT use colored words (Red, Yellow, Green) for old -> new.',\n  '- If a section has no projects, write \"- none\".',\n  '- List reds first, then yellows. Summarize greens on one line by name only.',\n  '- Be specific and blunt in reasons (e.g. milestone in 2 days, notes stale).',\n  '- Do not invent projects or facts not present in the data.',\n  '- Output ONLY the standup text, nothing before or after.',\n  '',\n  'YESTERDAYS STANDUP:',\n  '{{YESTERDAY_DIGEST}}',\n  '',\n  'TODAYS PROJECTS:',\n  '{{PROJECTS_JSON}}'\n].join(NL);\nconst prompt = template.split('{{TODAY}}').join(today).split('{{YESTERDAY_DIGEST}}').join(yesterday).split('{{PROJECTS_JSON}}').join(JSON.stringify(projects, null, 2));\nreturn [{ json: { count: projects.length, standupDate: today, prompt: prompt } }];"
      },
      "typeVersion": 2
    },
    {
      "name": "If Projects Are Active",
      "type": "n8n-nodes-base.if",
      "position": [
        896,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "name": "Score With Groq",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1232,
        288
      ],
      "parameters": {
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "method": "POST",
        "jsonBody": "={ \"model\": \"llama-3.3-70b-versatile\", \"temperature\": 0.2, \"messages\": [ { \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} } ] }",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_GROQ_HEADER_AUTH_CREDENTIAL",
          "name": "Groq API (Header Auth)"
        }
      },
      "typeVersion": 4.4
    },
    {
      "name": "Extract Standup",
      "type": "n8n-nodes-base.set",
      "position": [
        1440,
        288
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "standup-1",
              "name": "standup",
              "type": "string",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "name": "Post Standup to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1728,
        288
      ],
      "parameters": {
        "text": "={{ $json.standup }}",
        "select": "channel",
        "resource": "message",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "operation": "post",
        "messageType": "text"
      },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "name": "Save Memory Row",
      "type": "n8n-nodes-base.notion",
      "position": [
        1936,
        288
      ],
      "parameters": {
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get Memory Row').first().json.id }}"
        },
        "simple": true,
        "resource": "databasePage",
        "operation": "update",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Digest|rich_text",
              "type": "rich_text",
              "richText": false,
              "textContent": "={{ $('Extract Standup').first().json.standup }}"
            },
            {
              "key": "Updated|date",
              "date": "={{ $now.toISO() }}",
              "type": "date"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL",
          "name": "Notion account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "name": "Post All Quiet to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        896,
        528
      ],
      "parameters": {
        "text": "=Morning standup - {{ $json.standupDate }}\n\nNo active projects today. All quiet.",
        "select": "channel",
        "resource": "message",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "operation": "post",
        "messageType": "text"
      },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.5
    },
    {
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -48
      ],
      "parameters": {
        "width": 480,
        "height": 768,
        "content": "## Project health roll-up to Slack\n\n### How it works\n\n1. A schedule trigger fires every morning and reads yesterday's standup from a single-row Notion memory database.\n2. It pulls every Active project from a Notion projects database.\n3. A code node builds a prompt from today's projects and yesterday's standup, and a guard posts an all-quiet note when nothing is active.\n4. Groq scores each project Red, Yellow, or Green and lists what changed overnight.\n5. The finished standup posts to Slack and is written back to the memory row for tomorrow's comparison.\n\n### Setup steps\n\n- [ ] Add a Notion credential and pick the Projects and Memory databases in the two Notion read nodes.\n- [ ] Create a Header Auth credential for Groq with Authorization set to Bearer your key.\n- [ ] Add a Slack credential and choose the channel in both Slack post nodes.\n- [ ] Point the memory write node at the same single-row Memory database.\n\n### Customization\n\nAdjust the trigger time, edit the Red, Yellow, and Green thresholds in the prompt, or swap Groq for any OpenAI-compatible chat endpoint."
      },
      "typeVersion": 1
    },
    {
      "name": "Read Group",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        112
      ],
      "parameters": {
        "color": 7,
        "width": 644,
        "height": 368,
        "content": "## Read projects and memory\n\nThe schedule fires each morning, reads yesterday's standup from the Memory row, and pulls all Active projects from Notion."
      },
      "typeVersion": 1
    },
    {
      "name": "Build Group",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        112
      ],
      "parameters": {
        "color": 7,
        "width": 450,
        "height": 584,
        "content": "## Build prompt and route\n\nAssemble Inputs builds the scoring prompt from today's projects and yesterday's standup. The guard posts the all-quiet note when no projects are active."
      },
      "typeVersion": 1
    },
    {
      "name": "Score Group",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        112
      ],
      "parameters": {
        "color": 7,
        "width": 464,
        "height": 344,
        "content": "## Score the active projects\n\nScore With Groq calls llama-3.3-70b-versatile over the OpenAI-compatible endpoint, and Extract Standup pulls the plain text message from the response."
      },
      "typeVersion": 1
    },
    {
      "name": "Deliver Group",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        96
      ],
      "parameters": {
        "color": 7,
        "width": 452,
        "height": 376,
        "content": "## Post standup and save memory\n\nPost Standup to Slack sends one message to your channel, then Save Memory Row writes today's standup back to Notion for tomorrow's comparison."
      },
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Get Memory Row": {
      "main": [
        [
          {
            "node": "Get Active Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Inputs": {
      "main": [
        [
          {
            "node": "If Projects Are Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Standup": {
      "main": [
        [
          {
            "node": "Post Standup to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score With Groq": {
      "main": [
        [
          {
            "node": "Extract Standup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Projects": {
      "main": [
        [
          {
            "node": "Assemble Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Standup to Slack": {
      "main": [
        [
          {
            "node": "Save Memory Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Projects Are Active": {
      "main": [
        [
          {
            "node": "Score With Groq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post All Quiet to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Morning at 7 30am": {
      "main": [
        [
          {
            "node": "Get Memory Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}
