automations/n8n/library/16998-track-rss-events-with-openai-gpt-41-mini-google-sheets-and-o.workflow.json
{
  "id": "JBLaOM3jqYvHvaps",
  "meta": {
    "instanceId": "9a8495ae3d31a0127dc03b5ef3e8d1ce79896abdd30d081d6b56848df068f6bd",
    "templateCredsSetupCompleted": true,
    "owner": "Swapnil Mandloi",
    "source": "n8n.io template library",
    "templateId": 16998
  },
  "name": "AI-Powered RSS Monitor & Notifier",
  "tags": [],
  "nodes": [
    {
      "id": "18a196ff-c894-4730-8c25-96f43232e022",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "position": [
        -128,
        -160
      ],
      "parameters": {
        "feedUrl": "6b0ba678210fc13118241764ef2e4db63151eb7478be5b2ef48011a812992b90",
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "23d0af91-386b-45aa-a322-2c9d77db7c86",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        384,
        -144
      ],
      "parameters": {
        "text": "=You are given an RSS feed item in JSON format. \nExtract and return the following fields in a structured way:\ncreator-{{ $json.creator }}\n- Title of the event{{ $json.title }}\n- Event date and time{{ $json.content }}\n- URL{{ $json.link }}\n- Content snippet- {{ $json.contentSnippet }}\n- Short description (if available)\n\nReturn the output as a JSON object with keys: \n\"title\", \"date_time\", \"url\", \"description\".\n",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "id": "c07980e4-1cc2-46e0-bb79-8faf33fde044",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        208,
        -48
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "ce8c5f8a-c291-4e86-9c07-e33e5a5dce28",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        96,
        -160
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "e3605f08-16ce-4d64-9750-369ce0e0660a",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        672,
        -144
      ],
      "parameters": {
        "jsCode": "// n8n Function Node\nreturn items.map(item => {\n  let raw = item.json.output || \"\";\n\n  // Remove code block markers if present\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  // Parse JSON\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = { error: \"Failed to parse\", raw };\n  }\n\n  return { json: parsed };\n});\n"
      },
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "id": "ac587294-b7b9-4760-888c-a77616795466",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        864,
        -144
      ],
      "parameters": {
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_time",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "date_time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KmtNlajFESip-Jg6TTssRU4JvN44kvGX125I3N_8epg/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1KmtNlajFESip-Jg6TTssRU4JvN44kvGX125I3N_8epg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KmtNlajFESip-Jg6TTssRU4JvN44kvGX125I3N_8epg/edit?usp=drivesdk",
          "cachedResultName": "Events info accumatica"
        }
      },
      "typeVersion": 4.7,
      "alwaysOutputData": true
    },
    {
      "id": "00093b1c-c0a4-41dc-a5b4-b8656ea8172d",
      "name": "Send a message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        1056,
        -144
      ],
      "webhookId": "005b6897-eddc-4b30-a71a-9880c12bee8b",
      "parameters": {
        "subject": "Alert Acumatica event",
        "bodyContent": "Hi Saroj,\n\nThis is an automated alert regarding the latest Acumatica event.\n\nThe system has identified an update or trigger related to Acumatica activity that requires your review.  \nPlease check the event details in the monitoring dashboard or the workflow logs for further information.\n\n\nIf any action is needed, kindly acknowledge or coordinate with the concerned team.\n\nBest regards,  \nSwapnil  \nYour Company  \n",
        "toRecipients": "user@example.com",
        "additionalFields": {}
      },
      "typeVersion": 2
    },
    {
      "id": "518d8607-8ac1-42ae-aae5-909752ad3ecd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -304
      ],
      "parameters": {
        "width": 528,
        "height": 528,
        "content": "# 📰 AI-Powered RSS Feed Tracker & Notifier\n\n**Objective:** Automatically monitor an RSS feed, use AI to extract key information into structured data, log it, and trigger email alerts.\n\n**How it works:**\n1. **Trigger:** Checks the RSS feed for new content on a set schedule.\n2. **AI Processing:** AI Agent extracts Title, Date/Time, URL, and Description into clean JSON format.\n3. **Storage & Alert:** Logs the structured data into a spreadsheet and sends an email notification to the team.\n\n**Setup Requirements:**\n- Target RSS Feed URL.\n- OpenAI (or equivalent) API Credentials.\n- Google Sheets & Microsoft Outlook OAuth connections."
      },
      "typeVersion": 1
    },
    {
      "id": "67ca2d0b-3952-41dd-9d7f-760baefb8e76",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        80
      ],
      "parameters": {
        "width": 384,
        "height": 480,
        "content": "## Phase 1 — Ingestion & AI Extraction\nFetches feed items, processes them one by one, and uses an AI model to extract specific data points.\n\n**Node Flow:**\n1. **RSS Feed Trigger:** Polls the target feed for new updates.\n2. **Loop Over Items:** Processes one RSS item at a time to prevent data overlap.\n3. **AI Agent (with LLM):** Reads raw text and structures it (title, date, url, description).\n4. **Code in JavaScript:** Sanitizes the AI output (strips markdown blocks) and parses the JSON object."
      },
      "typeVersion": 1
    },
    {
      "id": "e5abb1d3-409d-489f-866d-df79688f6ccc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        80
      ],
      "parameters": {
        "width": 512,
        "height": 400,
        "content": "## Phase 2 — Logging & Notifications\nTakes the parsed AI data, saves it to a database/spreadsheet, and notifies stakeholders.\n\n**Node Flow:**\n1. **Google Sheets:** Maps the parsed JSON keys and appends a new row to the tracking sheet.\n2. **Send a message (Outlook):** Dispatches an automated email alert containing the update details.\n3. **Loop Return:** Connects back to the \"Loop Over Items\" node to process the next item in the batch."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "0071b235-f487-464c-bbad-b64ac34e3db7",
  "nodeGroups": [],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
