automations/n8n/library/17004-calculate-shopify-variant-prices-from-google-sheets-with-sla.workflow.json
{
  "id": "TwQvJT9YEgzNU8ly",
  "meta": {
    "instanceId": "93f396852104089b8670e7494b0f3668b420464668ae4a8c1d6b4b5799f8e3ef",
    "templateCredsSetupCompleted": true,
    "owner": "iamvaar",
    "source": "n8n.io template library",
    "templateId": 17004
  },
  "name": "Automated Shopify Pricing & COGS Calculator with Slack Approval",
  "tags": [],
  "nodes": [
    {
      "id": "2a6b9622-0001-4eb7-8139-5c11adc51ea1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -240
      ],
      "parameters": {
        "width": 480,
        "height": 1072,
        "content": "## Automated Shopify Pricing & COGS Calculator with Slack Approval\n\n### How it works\n\n* A scheduled trigger initiates a periodic check of product dependencies and live prices via Google Sheets.\n* The workflow aggregates the data, calculates profit margins using JavaScript, and decides which products require pricing updates.\n* Eligible products have their prices updated on Shopify, followed by conditional Slack notifications confirming the status.\n* A secondary, independent flow listens for Slack commands to process manual product price overrides.\n* This secondary flow parses Slack threads for prices and variant IDs, updates Shopify via HTTP requests, and sends a final confirmation message.\n\n### Setup steps\n\n- [ ] Configure Google Sheets credentials and select the correct spreadsheets for dependencies and prices.\n- [ ] Connect Slack credentials for both triggering events and sending channel messages.\n- [ ] Authenticate the Shopify HTTP Request nodes with valid API keys or Bearer tokens.\n- [ ] Set up global configuration values such as hidden costs and profit margins in the Edit Fields node.\n\n### Customization\n\nAdjust the schedule trigger interval or the JavaScript calculation logic to reflect changes in how your profit margins are determined.\n\n@[youtube](_geRatkc1kU)"
      },
      "typeVersion": 1
    },
    {
      "id": "d1190e51-bd18-4249-ad1e-51a978b82154",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -16
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 304,
        "content": "## Trigger and Fetch Data\n\nSchedules the workflow and retrieves product dependencies alongside live prices from Google Sheets."
      },
      "typeVersion": 1
    },
    {
      "id": "4ebe3f67-1437-413a-8bae-a4fe95420404",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -16
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 304,
        "content": "## Aggregate and Calculate\n\nAggregates the retrieved data and uses JavaScript to process variables like hidden costs and margins."
      },
      "typeVersion": 1
    },
    {
      "id": "01aa8642-2685-45be-9323-f9b18ef3af54",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        -112
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 512,
        "content": "## Conditional Logic and Alerts\n\nEvaluates pricing conditions to determine if a product update is needed, sending status alerts to Slack."
      },
      "typeVersion": 1
    },
    {
      "id": "72dc591f-e6b7-4581-bff9-9826669cbdbe",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        -160
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 320,
        "content": "## Update Scheduled Prices\n\nExecutes HTTP requests to update product prices in Shopify and posts a success message to Slack."
      },
      "typeVersion": 1
    },
    {
      "id": "f7d4cd62-f09c-4ab3-befa-9f2cd3e15798",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 320,
        "content": "## Slack Command Trigger\n\nListens for specific Slack commands and fetches the corresponding conversation threads for manual overrides."
      },
      "typeVersion": 1
    },
    {
      "id": "1f6de5f8-33bf-4b21-bfd6-6d4862979d17",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 304,
        "content": "## Manual Price Updates\n\nExtracts variant IDs and prices from Slack messages to manually update Shopify items."
      },
      "typeVersion": 1
    },
    {
      "id": "ae2bd7bb-6243-4c65-8cbb-2541a4e9be71",
      "name": "Every Day Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        224,
        112
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "c024fd1c-7ab3-48e8-beb5-ca7dea5af0aa",
      "name": "Fetch Product Dependencies",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        448,
        112
      ],
      "parameters": {
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "mYRmmCMyWcLawmcE",
          "name": "Google Service Account account"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "67afaa05-a985-42b9-ba7d-33e4eb88fdc9",
      "name": "Fetch Supplier Prices",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        672,
        112
      ],
      "parameters": {
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupValue": "={{ $json.supplier_raw_sku }}",
              "lookupColumn": "sku_id"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k6aoPTwpT0kNlCzQ9IX4oSVZa_vvQ6aFJtfzC5ZAnwg/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "mYRmmCMyWcLawmcE",
          "name": "Google Service Account account"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "ae22baf8-2a57-409a-a790-752214a549fa",
      "name": "Merge Price Data",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        896,
        112
      ],
      "parameters": {
        "options": {},
        "aggregate": "aggregateAllItemData"
      },
      "typeVersion": 1
    },
    {
      "id": "1bd42e0b-9461-4535-993b-ae1d81b76fa0",
      "name": "Calculate New Prices",
      "type": "n8n-nodes-base.code",
      "position": [
        1344,
        112
      ],
      "parameters": {
        "jsCode": "// 1. Grab your global variables from the Edit Fields node! \n// (We divide by 100 to turn 35 into 0.35 for the math)\n// FIXED: Renamed to target the exact node name in your workflow\nconst prefs = $('Set Pricing Constants').first().json;\nconst hiddenCostPercent = prefs.hidden_cost_percentage / 100; \nconst targetMargin = prefs.profit_margin_percentage / 100;    \n\n// 2. Reach back to grab the original recipe (quantities and variant IDs)\n// This node name matches your workflow perfectly.\nconst dependencies = $('Fetch Product Dependencies').all().map(item => item.json);\n\n// 3. Grab the live prices from your Aggregate node\nconst livePrices = $('Merge Price Data').first().json.data;\n\n// 4. Clean up the supplier prices (remove \"/kg\" or \"/unit\")\nconst priceMap = {};\nfor (const item of livePrices) {\n    const rawNumber = parseFloat(item.todays_price.replace(/[^0-9.]/g, ''));\n    priceMap[item.sku_id] = rawNumber;\n}\n\n// 5. Calculate the Raw COGS (Cost of Goods Sold)\nlet variantCosts = {};\n\nfor (const dep of dependencies) {\n    const variantId = dep.shopify_variant_id;\n    const sku = dep.supplier_raw_sku;\n    const qty = dep.qty_required;\n\n    const currentUnitCost = priceMap[sku] || 0; \n    const ingredientCost = currentUnitCost * qty; \n\n    if (!variantCosts[variantId]) {\n        variantCosts[variantId] = 0;\n    }\n    variantCosts[variantId] += ingredientCost;\n}\n\n// 6. Apply Preferences and Calculate Final Price\nconst finalShopifyUpdates = [];\n\nfor (const [variantId, rawCogs] of Object.entries(variantCosts)) {\n    \n    // A. Calculate Hidden Costs & Landed COGS\n    const hiddenCosts = rawCogs * hiddenCostPercent;\n    const landedCogs = rawCogs + hiddenCosts;\n\n    // B. Calculate True Margin Final Price\n    // Formula: Final Price = Cost / (1 - Target Margin)\n    const finalRetailPrice = landedCogs / (1 - targetMargin);\n\n    // C. Package it for Shopify\n    finalShopifyUpdates.push({\n        json: {\n            variant_id: variantId,\n            raw_cogs: Math.round(rawCogs * 100) / 100,             \n            landed_cogs: Math.round(landedCogs * 100) / 100,       \n            new_price: Math.round(finalRetailPrice * 100) / 100    \n        }\n    });\n}\n\nreturn finalShopifyUpdates;"
      },
      "typeVersion": 2
    },
    {
      "id": "f3308a75-9c32-43c8-9a30-1acf1bb68477",
      "name": "Set Pricing Constants",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        112
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "240c2c72-784d-437c-a71e-7ec3d8709a36",
              "name": "hidden_cost_percentage",
              "type": "number",
              "value": 5
            },
            {
              "id": "5c9eb5dd-cdae-473f-9912-62928c2178ce",
              "name": "profit_margin_percentage",
              "type": "number",
              "value": 35
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "54fb1add-3d10-4965-8e8f-abe98581a5fd",
      "name": "Post Alert to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1808,
        224
      ],
      "webhookId": "b4833bcc-b017-4ada-b04f-bb9199e53a5d",
      "parameters": {
        "text": "=Needed a manual approval for the current price change\nVariant id: {{ $json.variant_id }}\nRaw COGS: {{ $json.raw_cogs }}\nLanded Cogs: {{ $json.landed_cogs }}\nNew Price: {{ $json.new_price }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B8VH1M5PX",
          "cachedResultName": "general"
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "uBs2LjzTiloElvwT",
          "name": "Slack account 2"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "207c8486-4e59-412a-b391-14c0f86ca486",
      "name": "When Slack Message Received",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        224,
        464
      ],
      "webhookId": "f44cb7c6-937f-4827-8e8c-e677fcbf8c51",
      "parameters": {
        "options": {},
        "trigger": [
          "reaction_added"
        ],
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B8VH1M5PX",
          "cachedResultName": "general"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "uBs2LjzTiloElvwT",
          "name": "Slack account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c0878b6c-dc12-4ba3-92c8-11c0006f5e59",
      "name": "Check Authorized User",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        464
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8929a7c0-ccfd-4c2e-a206-44c5977dc6e7",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.user }}",
              "rightValue": "enter-authorised-slack-user-id-here"
            },
            {
              "id": "6b50e325-0735-4b7e-adb8-6055859e10f3",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.reaction }}",
              "rightValue": "white_check_mark"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "d8e80a5c-2e13-42fb-8380-7911e5e985ea",
      "name": "Fetch Slack Thread Replies",
      "type": "n8n-nodes-base.slack",
      "position": [
        672,
        448
      ],
      "webhookId": "e61679a5-b79b-4003-8a58-8d3c5e58c8f2",
      "parameters": {
        "ts": "={{ $json.item.ts }}",
        "filters": {},
        "resource": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B8VH1M5PX",
          "cachedResultName": "general"
        },
        "operation": "replies"
      },
      "credentials": {
        "slackApi": {
          "id": "uBs2LjzTiloElvwT",
          "name": "Slack account 2"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "1f49b27e-c020-4604-92d7-2325f382311b",
      "name": "If Price Increased",
      "type": "n8n-nodes-base.if",
      "position": [
        1568,
        112
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c482db71-58c0-4063-859b-43e716e785f8",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.new_price }}",
              "rightValue": 500
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "20173308-8088-451a-b7ed-563fc273e1bc",
      "name": "Update Shopify Product Price",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2256,
        0
      ],
      "parameters": {
        "url": "=https://cq9d1z-a0.myshopify.com/admin/api/2024-04/variants/{{ $json.variant_id }}.json",
        "method": "PUT",
        "options": {},
        "jsonBody": "={\n  \"variant\": {\n    \"id\": {{ $json.variant_id }},\n    \"price\": \"{{ $json.new_price }}\"\n  }\n}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api"
      },
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "dV4nFmASaVFmgugT",
          "name": "Shopify Access Token account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "99a52fcb-2112-4f87-8e74-cf9036687522",
      "name": "Parse Price Data",
      "type": "n8n-nodes-base.code",
      "position": [
        896,
        448
      ],
      "parameters": {
        "jsCode": "// Loop over all input items\nfor (const item of $input.all()) {\n  // Get the text field (defaulting to empty string if missing)\n  const text = item.json.text || \"\";\n\n  // Use Regular Expressions to find the values\n  const variantIdMatch = text.match(/Variant id:\\s*(\\d+)/i);\n  const rawCogsMatch = text.match(/Raw COGS:\\s*([\\d.]+)/i);\n  const landedCogsMatch = text.match(/Landed Cogs:\\s*([\\d.]+)/i);\n  const newPriceMatch = text.match(/New Price:\\s*([\\d.]+)/i);\n\n  // Attach the extracted data to the item's JSON\n  item.json.extracted = {\n    variantId: variantIdMatch ? variantIdMatch[1] : null,\n    rawCogs: rawCogsMatch ? parseFloat(rawCogsMatch[1]) : null,\n    landedCogs: landedCogsMatch ? parseFloat(landedCogsMatch[1]) : null,\n    newPrice: newPriceMatch ? parseFloat(newPriceMatch[1]) : null\n  };\n}\n\n// Return the modified items\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "1c2b37c0-9e8c-4874-b9e1-443117cd0fc0",
      "name": "Update Variant Price in Shopify",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        448
      ],
      "parameters": {
        "url": "=https://cq9d1z-a0.myshopify.com/admin/api/2024-04/variants/{{ $json.extracted.variantId }}.json",
        "method": "PUT",
        "options": {},
        "jsonBody": "={\n  \"variant\": {\n    \"id\": {{ $json.extracted.variantId }},\n    \"price\": \"{{ $json.extracted.newPrice }}\"\n  }\n}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api"
      },
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "dV4nFmASaVFmgugT",
          "name": "Shopify Access Token account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "9468932d-cf73-4a4f-aece-213a3277a101",
      "name": "Post Update Status to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1344,
        448
      ],
      "webhookId": "4c1ce091-c5f6-4c01-a6a7-8fdfb90dbebf",
      "parameters": {
        "text": "=We have updated the price\nVariant id: {{ $json.variant.id }}\nProduct ID: {{ $json.variant.product_id }}\nRaw COGS: {{ $('Extract the prices and variant id\\'s').item.json.extracted.rawCogs }}\nLanded Cogs: {{ $('Extract the prices and variant id\\'s').item.json.extracted.landedCogs }}\nNew Price: {{ $('Extract the prices and variant id\\'s').item.json.extracted.newPrice }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B8VH1M5PX",
          "cachedResultName": "general"
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "uBs2LjzTiloElvwT",
          "name": "Slack account 2"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "2c222869-6c24-4cd6-8eca-26a9ca9ce5f8",
      "name": "Post Price Change to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2480,
        0
      ],
      "webhookId": "d714748f-97b6-4972-9c4c-c0115c3f788c",
      "parameters": {
        "text": "=We have updated the price\nVariant id: {{ $json.variant.id }}\nProduct ID: {{ $json.variant.product_id }}\nRaw Cogs: {{ $('If Price Increased').item.json.raw_cogs }}\nLanded Cogs: {{ $('If Price Increased').item.json.landed_cogs }}\nNew Price: {{ $('If Price Increased').item.json.new_price }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B8VH1M5PX",
          "cachedResultName": "general"
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "uBs2LjzTiloElvwT",
          "name": "Slack account 2"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "6ec81246-0c3d-481c-a660-83ba368453e0",
      "name": "If Price Decreased",
      "type": "n8n-nodes-base.if",
      "position": [
        1792,
        16
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f76c1a53-6343-4365-809a-68c69f293c5c",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "leftValue": "={{ $json.new_price }}",
              "rightValue": 1500
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "1e5bb11c-aa16-470d-a325-8b36168cf571",
      "name": "Post Reduction Alert to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2016,
        112
      ],
      "webhookId": "b4833bcc-b017-4ada-b04f-bb9199e53a5d",
      "parameters": {
        "text": "=Needed a manual approval for the current price change\nVariant id: {{ $json.variant_id }}\nRaw COGS: {{ $json.raw_cogs }}\nLanded Cogs: {{ $json.landed_cogs }}\nNew Price: {{ $json.new_price }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0B8VH1M5PX",
          "cachedResultName": "general"
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "uBs2LjzTiloElvwT",
          "name": "Slack account 2"
        }
      },
      "typeVersion": 2.5
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "b06113a7-7c72-4569-905e-8072f5a321ec",
  "nodeGroups": [],
  "connections": {
    "Merge Price Data": {
      "main": [
        [
          {
            "node": "Set Pricing Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Price Data": {
      "main": [
        [
          {
            "node": "Update Variant Price in Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Day Trigger": {
      "main": [
        [
          {
            "node": "Fetch Product Dependencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Price Decreased": {
      "main": [
        [
          {
            "node": "Update Shopify Product Price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Reduction Alert to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Price Increased": {
      "main": [
        [
          {
            "node": "If Price Decreased",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Alert to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Prices": {
      "main": [
        [
          {
            "node": "If Price Increased",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Authorized User": {
      "main": [
        [
          {
            "node": "Fetch Slack Thread Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Supplier Prices": {
      "main": [
        [
          {
            "node": "Merge Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pricing Constants": {
      "main": [
        [
          {
            "node": "Calculate New Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Dependencies": {
      "main": [
        [
          {
            "node": "Fetch Supplier Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Slack Thread Replies": {
      "main": [
        [
          {
            "node": "Parse Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Slack Message Received": {
      "main": [
        [
          {
            "node": "Check Authorized User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Shopify Product Price": {
      "main": [
        [
          {
            "node": "Post Price Change to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Variant Price in Shopify": {
      "main": [
        [
          {
            "node": "Post Update Status to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
