automations/n8n/library/17037-migrate-visible-product-categories-from-lightspeed-to-shopif.workflow.json
{
  "id": "wrDPL1TrvBlCGfr8",
  "meta": {
    "instanceId": "9f0d822a2b8284c4e68a4da99c499f96b4dbc2707cc16cefd46b51bbe8a1158b",
    "builderVariant": "mcp",
    "aiBuilderAssisted": true,
    "owner": "Nexus AI",
    "source": "n8n.io template library",
    "templateId": 17037
  },
  "name": "Migrate Categories from Lightspeed to Shopify",
  "tags": [
    {
      "id": "sOJOpxVvFIDlTnt0",
      "name": "Shopify",
      "createdAt": "2026-07-13T10:11:34.774Z",
      "updatedAt": "2026-07-13T10:11:34.774Z"
    },
    {
      "id": "0nv36pVb98riEvDQ",
      "name": "Lightspeed",
      "createdAt": "2026-07-13T10:11:34.829Z",
      "updatedAt": "2026-07-13T10:11:34.829Z"
    },
    {
      "id": "IZ0mdGWraQ20SWtq",
      "name": "e-commerce",
      "createdAt": "2026-07-13T10:11:34.834Z",
      "updatedAt": "2026-07-13T10:11:34.834Z"
    },
    {
      "id": "y8rE61S875q8kO8g",
      "name": "migration",
      "createdAt": "2026-07-13T10:11:34.838Z",
      "updatedAt": "2026-07-13T10:11:34.838Z"
    },
    {
      "id": "wILz3syZPbOhVJnj",
      "name": "GraphQL",
      "createdAt": "2026-07-13T10:11:34.841Z",
      "updatedAt": "2026-07-13T10:11:34.841Z"
    }
  ],
  "nodes": [
    {
      "id": "b0a22d79-2970-41dc-b2e4-1bd779a36100",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2848,
        32
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "8f3f20d6-0f37-437f-8a71-77ca3e5f81d4",
      "name": "Fetch Lightspeed categories",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2224,
        32
      ],
      "parameters": {
        "url": "={{ $('Configure store settings').item.json.lightspeed_api_url }}/categories.json?limit=250",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth"
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "4RTjOh2dZanaCzxq",
          "name": "Your Auth"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "03134145-f287-4692-8c84-b37651c15f92",
      "name": "Split categories into items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -2016,
        32
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "categories"
      },
      "typeVersion": 1
    },
    {
      "id": "0467fc78-313f-4ead-9df7-e18c8ccc0d5f",
      "name": "Filter visible categories",
      "type": "n8n-nodes-base.if",
      "position": [
        -1808,
        32
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "115e8de6-2fe3-4dc8-80e3-d02a6c6dbd3c",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isVisible }}",
              "rightValue": false
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "f7785d7a-f19e-404d-8592-2067b11398c7",
      "name": "Process each category",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1536,
        16
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "67928432-92f3-429d-9e64-3de765325763",
      "name": "Verify collection created",
      "type": "n8n-nodes-base.if",
      "position": [
        -1056,
        32
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "56cd0757-cd0a-4073-8103-6c46d8b2af89",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.collectionCreate.userErrors }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "8442316d-cf5d-4fcf-9370-a3d3be76d8c7",
      "name": "Error: Migration step failed",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -1056,
        272
      ],
      "parameters": {
        "errorMessage": "A Shopify API call returned userErrors. Check the output of the previous nodes (Verify collection created / Verify redirect created / Verify publish success) for details."
      },
      "typeVersion": 1
    },
    {
      "id": "6ee8c992-1658-46f3-b5a5-5a47f41322cf",
      "name": "Verify redirect created",
      "type": "n8n-nodes-base.if",
      "position": [
        -576,
        32
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2c3b6ba4-9d04-43a2-80af-005a02db867f",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.urlRedirectCreate.userErrors }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "7d12c51c-0a35-44ed-9830-17260de71c05",
      "name": "Verify publish success",
      "type": "n8n-nodes-base.if",
      "position": [
        -112,
        32
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "31ce24be-088e-4e51-9727-c0e38fa9711b",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.publishablePublish.userErrors }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "dd5eb74f-967b-48df-9ed5-3c2066d6d81f",
      "name": "Configure store settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -2656,
        32
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "shopify_url",
              "type": "string",
              "value": "https://your-store.myshopify.com"
            },
            {
              "id": "cfg-2",
              "name": "shopify_api_version",
              "type": "string",
              "value": "2026-01"
            },
            {
              "id": "cfg-3",
              "name": "lightspeed_api_url",
              "type": "string",
              "value": "https://api.webshopapp.com/nl"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "71c4371f-9912-42c3-b3da-799dbe2f2cbc",
      "name": "Fetch publication channels",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2416,
        32
      ],
      "parameters": {
        "url": "={{ $('Configure store settings').item.json.shopify_url }}/admin/api/{{ $('Configure store settings').item.json.shopify_api_version }}/graphql.json",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify({ query: `query { publications(first: 50) { edges { node { id name supportsFuturePublishing } } } }` }) }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "UgfmXIhsL44V0wwl",
          "name": "Your Header"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "371fdbe8-28d5-49df-8ae8-d90341d23539",
      "name": "Create Shopify collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1296,
        32
      ],
      "parameters": {
        "url": "={{ $('Configure store settings').item.json.shopify_url }}/admin/api/{{ $('Configure store settings').item.json.shopify_api_version }}/graphql.json",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify({ query: `mutation collectionCreate($input: CollectionInput!) { collectionCreate(input: $input) { collection { id title handle description } userErrors { field message } } }`, variables: (() => { const src = ($json.image?.src ?? '').trim(); const input = { title: $json.title ?? '', descriptionHtml: $json.content ?? '', handle: $json.url ?? '', seo: { title: $json.fulltitle ?? '', description: $json.description ?? '' } }; if (src) input.image = { src }; return { input }; })() }) }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "UgfmXIhsL44V0wwl",
          "name": "Your Header"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "d89e9e96-91fd-4ad1-a862-498b0e91598d",
      "name": "Create URL redirect",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -800,
        32
      ],
      "parameters": {
        "url": "={{ $('Configure store settings').item.json.shopify_url }}/admin/api/{{ $('Configure store settings').item.json.shopify_api_version }}/graphql.json",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify({query:'mutation urlRedirectCreate($urlRedirect: UrlRedirectInput!) { urlRedirectCreate(urlRedirect: $urlRedirect) { urlRedirect { id path target } userErrors { field message } } }',variables:{urlRedirect:{path:$('Process each category').item.json.url,target:'/collections/'+$json.data.collectionCreate.collection.handle}}}) }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "UgfmXIhsL44V0wwl",
          "name": "Your Header"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "95f8e218-7ec9-4202-8291-71eddc98e1a4",
      "name": "Publish collection to channels",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        32
      ],
      "parameters": {
        "url": "={{ $('Configure store settings').item.json.shopify_url }}/admin/api/{{ $('Configure store settings').item.json.shopify_api_version }}/graphql.json",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify({query:'mutation publishablePublish($id: ID!, $input: [PublicationInput!]!) { publishablePublish(id: $id, input: $input) { publishable { availablePublicationsCount { count } } userErrors { field message } } }',variables:{id:$('Create Shopify collection').item.json.data.collectionCreate.collection.id,input:$('Fetch publication channels').item.json.data.publications.edges.map(e => ({publicationId:e.node.id}))}}) }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "UgfmXIhsL44V0wwl",
          "name": "Your Header"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "311faeaf-0d05-4293-b175-8512dcb56669",
      "name": "Note: Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3600,
        -176
      ],
      "parameters": {
        "width": 660,
        "height": 600,
        "content": "## Migrate Categories: Lightspeed to Shopify\n\nAutomatically migrates all visible product categories from Lightspeed to Shopify:\n- Creates Shopify collections with title, description, SEO metadata, and images\n- Sets up URL redirects from old Lightspeed paths to new Shopify collection URLs\n- Publishes collections to all active sales channels\n\n**How it works**\n1. Fetches all publication channels from your Shopify store\n2. Retrieves categories from the Lightspeed API\n3. Filters out hidden/invisible categories\n4. For each visible category: creates a collection, sets up a redirect, and publishes it\n\n**Setup instructions**\n- [ ] Update the \"Configure store settings\" node with your Shopify store URL and Lightspeed API URL\n- [ ] Create a **Header Auth** credential with header name `X-Shopify-Access-Token` and your Shopify Admin API access token as value. Assign it to all four Shopify HTTP Request nodes.\n- [ ] Create a **Basic Auth** credential with your Lightspeed API key and secret. Assign it to the \"Fetch Lightspeed categories\" node.\n- [ ] Run the workflow manually."
      },
      "typeVersion": 1
    },
    {
      "id": "e661f246-2c55-4e5a-b8a2-e998eaadcd91",
      "name": "Note: Setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2896,
        -176
      ],
      "parameters": {
        "color": 7,
        "width": 436,
        "height": 432,
        "content": "### 1. Setup & Configuration\nConfigure your store URLs and API version here. Credentials are managed via n8n's credential system (Header Auth for Shopify, Basic Auth for Lightspeed)."
      },
      "typeVersion": 1
    },
    {
      "id": "95aa337f-c95d-47aa-a114-0a03bb28996f",
      "name": "Note: Fetch Data",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2432,
        -176
      ],
      "parameters": {
        "color": 7,
        "width": 804,
        "height": 432,
        "content": "### 2. Fetch Data\nRetrieves Shopify publication channels (for publishing later) and all Lightspeed categories. Only visible categories pass through to the migration loop."
      },
      "typeVersion": 1
    },
    {
      "id": "a55df075-7a6e-4fbc-82c7-a56de923d884",
      "name": "Note: Migration Loop",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -176
      ],
      "parameters": {
        "color": 7,
        "width": 1688,
        "height": 624,
        "content": "### 3. Migrate Each Category\nFor each visible Lightspeed category: creates a Shopify collection via GraphQL, sets up a URL redirect (old path to new /collections/ URL), and publishes the collection to all sales channels. Stops on any Shopify API error."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "availableInMCP": true,
    "executionOrder": "v1"
  },
  "versionId": "61b50d7b-3419-4eeb-b979-abd51113a0f3",
  "nodeGroups": [],
  "connections": {
    "Create URL redirect": {
      "main": [
        [
          {
            "node": "Verify redirect created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process each category": {
      "main": [
        null,
        [
          {
            "node": "Create Shopify collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify publish success": {
      "main": [
        [
          {
            "node": "Process each category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Migration step failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify redirect created": {
      "main": [
        [
          {
            "node": "Publish collection to channels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Migration step failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure store settings": {
      "main": [
        [
          {
            "node": "Fetch publication channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Shopify collection": {
      "main": [
        [
          {
            "node": "Verify collection created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter visible categories": {
      "main": [
        [
          {
            "node": "Process each category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify collection created": {
      "main": [
        [
          {
            "node": "Create URL redirect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Migration step failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch publication channels": {
      "main": [
        [
          {
            "node": "Fetch Lightspeed categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lightspeed categories": {
      "main": [
        [
          {
            "node": "Split categories into items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split categories into items": {
      "main": [
        [
          {
            "node": "Filter visible categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish collection to channels": {
      "main": [
        [
          {
            "node": "Verify publish success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
