automations/n8n/library/17083-answer-woocommerce-order-and-dhl-tracking-questions-with-gpt.workflow.json
{
  "id": "FpauF9jfmoRaFe8q",
  "meta": {
    "instanceId": "da05feb983b30b49bcdd25df061173c59cb578dc3f78e2b803c1d257793dee36",
    "templateCredsSetupCompleted": true,
    "owner": "Redowan Ahmed Farhan",
    "source": "n8n.io template library",
    "templateId": 17083
  },
  "name": "Zoom AI Meeting Assistant",
  "tags": [],
  "nodes": [
    {
      "id": "8b19b003-eb70-41b2-88a3-f9b1618634ef",
      "name": "Main Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5408,
        1024
      ],
      "parameters": {
        "color": 7,
        "width": 580,
        "height": 1720,
        "content": "## 📹 Zoom AI Meeting Assistant\n\nPulls the transcript and participants from your most recent Zoom meeting, emails a formatted summary to attendees, and runs a second AI agent that logs action items in ClickUp and books the follow-up call in Outlook.\n\n**Perfect for:** Founders, consultants, and small teams who want meeting minutes, to-dos, and follow-up scheduling handled automatically after every call.\n\n---\n\n## How it works\n\n1. **When clicking 'Test workflow'** — Manual trigger that starts the run.\n2. **Zoom: Get data of last meeting** — Fetches all scheduled Zoom meetings via OAuth2.\n3. **Filter: Last 24 hours** — Keeps only meetings that started within the last 24 hours.\n4. **Zoom: Get transcripts data** — Requests the recording files for the matched meeting.\n5. **No Recording/Transcript available** — *(error path)* Stops the workflow with an error if no transcript could be retrieved.\n6. **Filter transcript URL** — Extracts the transcript file's download URL from the recording files.\n7. **Filter: Only 1 item** — SplitInBatches loop that ensures only a single item is processed.\n8. **Zoom: Get transcript file** — Downloads the raw transcript file from Zoom.\n9. **Extract text from transcript file** — Converts the downloaded file into plain text.\n10. **Format transcript text** — Cleans the raw transcript into readable dialogue lines.\n11. **Zoom: Get participants data** — Fetches the participant list and emails for the meeting.\n12. **Create meeting summary** — OpenAI node that turns the transcript and participants into formal meeting minutes.\n13. **Sort for mail delivery** — Prepares the subject, recipient, and body for the summary email.\n14. **Format to html** — Converts the minutes into a styled HTML email body.\n15. **Send meeting summary** — Sends the formatted meeting minutes by email via SMTP.\n16. **Create tasks and follow-up call** — *(parallel branch)* AI agent that reads the same transcript to extract to-dos and follow-up meeting details.\n17. **OpenAI Chat Model** — LLM brain for the task and follow-up agent.\n18. **Create tasks** — Tool-workflow node the agent calls to create each ClickUp task.\n19. **Create follow-up call** — Outlook Calendar tool the agent calls to schedule the next meeting.\n20. **Execute Workflow Trigger** — *(disabled)* Entry point used when this workflow is invoked as the ClickUp task-creation tool.\n21. **Split Out** — Splits the incoming task array into individual items.\n22. **ClickUp** — Creates each task in the configured ClickUp list.\n\n---\n\n## Setup (~20 minutes)\n\n1. **Zoom** — Connect your OAuth2 credential in *Zoom: Get data of last meeting*, *Zoom: Get transcripts data*, *Zoom: Get transcript file*, and *Zoom: Get participants data*.\n2. **OpenAI** — Add your API key in *OpenAI Chat Model* and *Create meeting summary*.\n3. **SMTP** — Connect your email credential and sender address in *Send meeting summary*.\n4. **Microsoft Outlook** — Connect your credential and target calendar in *Create follow-up call*.\n5. **ClickUp** — Connect your credential in the *ClickUp* node and set your list, team, space, and folder IDs.\n> Enable the disabled *Execute Workflow Trigger* if you want this workflow to also act as its own ClickUp task-creation sub-flow, called by *Create tasks*."
      },
      "typeVersion": 1
    },
    {
      "id": "54704b3e-72e8-46d5-90df-9c43646dd841",
      "name": "Section - Zoom Retrieval & Transcript Processing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6592,
        1024
      ],
      "parameters": {
        "color": 5,
        "width": 1960,
        "height": 560,
        "content": "## 1️⃣ Zoom Retrieval & Transcript Processing\n\n**When clicking 'Test workflow'** starts the run and **Zoom: Get data of last meeting** lists scheduled meetings, narrowed by **Filter: Last 24 hours**. **Zoom: Get transcripts data** fetches the recording files (falling back to **No Recording/Transcript available** on error), **Filter transcript URL** and **Filter: Only 1 item** isolate the transcript, and **Zoom: Get transcript file**, **Extract text from transcript file**, **Format transcript text**, and **Zoom: Get participants data** turn it into clean text with participant details."
      },
      "typeVersion": 1
    },
    {
      "id": "4c25db4c-b530-48f7-94a9-db0d80a461e8",
      "name": "Section - Meeting Summary & Email",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8592,
        912
      ],
      "parameters": {
        "color": 3,
        "width": 1000,
        "height": 360,
        "content": "## 2️⃣ Meeting Summary & Email\n\n**Create meeting summary** turns the transcript and participant list into formal minutes. **Sort for mail delivery** prepares the subject, recipient, and body, **Format to html** builds the email markup, and **Send meeting summary** delivers it over SMTP."
      },
      "typeVersion": 1
    },
    {
      "id": "f644adde-b95a-47b4-90a2-3bde982b7f0b",
      "name": "Section - Task & Follow-up Agent",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8592,
        1296
      ],
      "parameters": {
        "color": 6,
        "width": 700,
        "height": 680,
        "content": "## 3️⃣ Task & Follow-up Agent\n\n**Create tasks and follow-up call** is an AI agent, powered by the **OpenAI Chat Model**, that reads the same transcript to extract action items and follow-up meeting details. It calls **Create tasks** to log to-dos in ClickUp and **Create follow-up call** to schedule the next meeting on Outlook Calendar."
      },
      "typeVersion": 1
    },
    {
      "id": "44e4aa92-8dae-4470-a0fe-95d6c7d719cd",
      "name": "Section - ClickUp Task Sub-Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7696,
        1648
      ],
      "parameters": {
        "color": 4,
        "width": 800,
        "height": 360,
        "content": "## 4️⃣ ClickUp Task Sub-Workflow\n\nThis disabled **Execute Workflow Trigger** is the entry point used when the workflow is called as the ClickUp tool. **Split Out** breaks the incoming task array into individual items, and **ClickUp** creates each one in the configured list."
      },
      "typeVersion": 1
    },
    {
      "id": "5419926c-2b5d-4d83-918d-2f885538ae53",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        8704,
        1776
      ],
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "11653ff2-2dab-4c9c-82e9-e09cab4d6985",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        6704,
        1184
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "57c8c2c0-2cc6-4c6f-85b7-5160d81a8754",
      "name": "No Recording/Transcript available",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        7424,
        1392
      ],
      "parameters": {
        "errorMessage": "={{ $json.error.cause.message }}"
      },
      "typeVersion": 1
    },
    {
      "id": "b0d32291-3cc7-4568-8780-0b4b06be00ad",
      "name": "Zoom: Get data of last meeting",
      "type": "n8n-nodes-base.zoom",
      "position": [
        6880,
        1184
      ],
      "parameters": {
        "filters": {
          "type": "scheduled"
        },
        "operation": "getAll",
        "returnAll": true,
        "authentication": "oAuth2"
      },
      "typeVersion": 1
    },
    {
      "id": "3d147bbb-0c2a-48d6-a5b4-143e514e0c26",
      "name": "Filter transcript URL",
      "type": "n8n-nodes-base.set",
      "onError": "continueRegularOutput",
      "position": [
        7424,
        1184
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "ef149af8-7f9d-4e5a-8ccf-4a5f1e09eecc",
              "name": "transcript_file",
              "type": "string",
              "value": "={{ $json.recording_files.find(f => f.file_type === 'TRANSCRIPT').download_url }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "c4cad613-5097-433d-ac4e-131d79bfa807",
      "name": "Filter: Only 1 item",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        7600,
        1184
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "b9fe8002-225e-43af-9bac-005f8f281bb0",
      "name": "Zoom: Get transcript file",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7776,
        1184
      ],
      "parameters": {
        "url": "={{ $json.transcript_file }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api"
      },
      "typeVersion": 4.2
    },
    {
      "id": "ab731432-4c2a-4b0c-8fd2-e08d1ed435cc",
      "name": "Extract text from transcript file",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        7952,
        1184
      ],
      "parameters": {
        "options": {},
        "operation": "text"
      },
      "typeVersion": 1
    },
    {
      "id": "2a36fe88-d7d6-468e-84c3-55eee45baf2f",
      "name": "Format transcript text",
      "type": "n8n-nodes-base.set",
      "position": [
        8144,
        1184
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7+1234567890ef-4b0a-a747-3ca5f46aeeaa",
              "name": "transcript",
              "type": "string",
              "value": "={{ $json.data.split('\\r\\n\\r\\n').slice(1).map(block => {\n const lines = block.split('\\r\\n');\n return lines.slice(2).join(' ');\n}).join('\\n') }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "9823ee89-7c92-4117-8ad7-120e1cf63fd6",
      "name": "Zoom: Get participants data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        8304,
        1184
      ],
      "parameters": {
        "url": "=https://api.zoom.us/v2/past_meetings/{{ $('Filter: Last 24 hours').item.json.id }}/participants",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api"
      },
      "typeVersion": 4.2
    },
    {
      "id": "efece76f-9262-45df-8fe5-44fd9ff6aa87",
      "name": "Create meeting summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        8704,
        1072
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=Create a formal meeting minutes document from the following transcript and meeting details.\n\nMeeting Date: {{ $('Zoom: Get data of last meeting').item.json.start_time }} // This needs to be formatted from the meeting details\nParticipants: {{ $json.participants.map(p => p.name + ' (' + p.user_email + ')').join(', ') }}\n\nTranscript:\n{{ $('Format transcript text').item.json.transcript }}\n\nPlease create the minutes in the following format:\n\nMeeting on [Date]\n\nParticipants:\n[List of participants with email addresses]\n\nSummary of the Meeting:\n[Brief and concise summary of the topics discussed]\n\nTasks:\n- [Task] (Responsible: [Name])\n- ...\n\nImportant Dates:\n- [Date] ([Context])\n- ...\n"
            }
          ]
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "f60e1261-8d26-484d-b7ac-ba582333d205",
      "name": "Sort for mail delivery",
      "type": "n8n-nodes-base.set",
      "position": [
        9024,
        1072
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "cc51b7e4-d5c2-4cd4-9488-4d181eaaa02e",
              "name": "subject",
              "type": "string",
              "value": "=Meeting summary: {{ $('Zoom: Get data of last meeting').item.json.topic }} on {{ $('Zoom: Get data of last meeting').item.json.start_time }}"
            },
            {
              "id": "f3940ea2-9084-4c25-828e-5ddaa428ec83",
              "name": "=to",
              "type": "string",
              "value": "={{ $('Zoom: Get participants data').item.json.participants[0].user_email }}"
            },
            {
              "id": "1211af5b-2240-44ce-9df7-63d93f57806e",
              "name": "body",
              "type": "string",
              "value": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "eccd1c08-5a0e-4876-a04a-d970b53e5d77",
      "name": "Format to html",
      "type": "n8n-nodes-base.code",
      "position": [
        9184,
        1072
      ],
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n const body = item.json.body;\n if (!body) continue;\n\n // Simple split approach\n const sections = body.split('\\n\\n');\n const title = sections[0].replace(/\\*\\*/g, '');\n const participants = sections[1].split('\\n').slice(1).join('\\n');\n const summary = sections[2].split('\\n').slice(1).join('\\n');\n const tasks = sections[3].split('\\n').slice(1).join('\\n');\n const dates = sections[4].split('\\n').slice(1).join('\\n');\n\n const html = `<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 800px; margin: 20px;\">\n<h1 style=\"color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px;\">${title}</h1>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Participants:</h2>\n<ul style=\"list-style-type: none; padding-left: 20px;\">\n${participants.split('\\n').map(p => `<li>${p.replace('- ', '')}</li>`).join('\\n')}\n</ul>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Meeting Summary:</h2>\n<p style=\"margin-left: 20px;\">${summary}</p>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Tasks:</h2>\n<ul style=\"margin-left: 20px;\">\n${tasks.split('\\n').map(t => `<li>${t.replace('- ', '')}</li>`).join('\\n')}\n</ul>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Important Dates:</h2>\n<ul style=\"margin-left: 20px;\">\n${dates.split('\\n').map(d => `<li>${d.replace('- ', '')}</li>`).join('\\n')}\n</ul>\n</body>\n</html>`;\n\n items.push({\n json: {\n html,\n to: item.json.to,\n subject: item.json.subject\n }\n });\n}\n\nreturn items;"
      },
      "typeVersion": 2
    },
    {
      "id": "6f9aee9a-e151-4388-bc88-7e7e1d1e8a64",
      "name": "Send meeting summary",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        9344,
        1072
      ],
      "webhookId": "2ea54425-1f64-44b3-b799-ca5183092883",
      "parameters": {
        "html": "={{ $json.html }}",
        "options": {},
        "subject": "={{ $json.subject }}",
        "toEmail": "={{ $json.to }}",
        "fromEmail": "user@example.com"
      },
      "typeVersion": 2.1
    },
    {
      "id": "22e65e55-ea1e-4049-9d36-438c2005d0e0",
      "name": "Create tasks",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        8880,
        1776
      ],
      "parameters": {
        "name": "create_task",
        "schemaType": "manual",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "zSKQLEObdU9RiThI",
          "cachedResultName": "create_task"
        },
        "description": "=Use this tool to create a task. \nFor task creation use only action items for me Friedemann, don't use action items for other participants.",
        "inputSchema": "{\n \"type\": \"object\",\n \"properties\": {\n \"items\": {\n \"type\": \"array\",\n \"description\": \"An array of tasks\",\n \"items\": {\n \"type\": \"object\",\n \"properties\": {\n \"name\": {\n \"type\": \"string\",\n \"description\": \"The name of the task\"\n },\n \"description\": {\n \"type\": \"string\",\n \"description\": \"A detailed description of the task\"\n },\n \"due_date\": {\n \"type\": \"string\",\n \"description\": \"Due Date\"\n },\n \"priority\": {\n \"type\": \"string\",\n \"description\": \"Priority. . Please capitalize first letter\"\n },\n \"project_name\": {\n \"type\": \"string\",\n \"description\": \"Name of the project. Word 'Project' shouldn't be included\"\n }\n },\n \"required\": [\n \"name\",\n \"description\",\n \"due_date\",\n \"priority\"\n ],\n \"additionalProperties\": false\n }\n }\n },\n \"required\": [\n \"items\"\n ],\n \"additionalProperties\": false\n}",
        "specifyInputSchema": true
      },
      "typeVersion": 1.3
    },
    {
      "id": "fd99b918-9873-41fc-abc4-9b9ef0f17d75",
      "name": "Create tasks and follow-up call",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        8784,
        1536
      ],
      "parameters": {
        "text": "=<system_prompt>\n\nTODAY IS: {{ $now }}\n\nYOU ARE A MEETING ASSISTANT FOR AUTOMATION IN N8N. YOUR TASK IS TO EFFICIENTLY AND PRECISELY PROCESS INFORMATION FROM ZOOM MEETINGS TO GENERATE TO-DOS AND SCHEDULE FOLLOW-UP MEETINGS. YOU HAVE ACCESS TO THE FOLLOWING DATA:\n\n### INPUTS ###\n- **MEETING TITLE**: {{ $('Zoom: Get data of last meeting').item.json.topic }}\n- **PARTICIPANTS**: {{ $('Zoom: Get participants data').item.json.participants[0].name }}\n- **TRANSCRIPT**: {{ $('Format transcript text').item.json.transcript }}\n\n### YOUR TASKS ###\n1. **CREATE TO-DOS**:\n - IDENTIFY TASKS AND TO-DOS IN THE TRANSCRIPT.\n - FORMULATE CLEAR, CONCRETE TASKS.\n - PASS THESE TASKS TO THE TOOL \"Create tasks\" TO SAVE THEM IN CLICKUP. \n - DATA STRUCTURE:\n - **TASK DESCRIPTION**: Brief description of the task.\n - **ASSIGNED PERSON**: First name from the participant list.\n - **DUE DATE**: Use any date mentioned in the transcript; otherwise, set to \"Not specified.\"\n\n2. **CREATE MEETING**:\n - ANALYZE THE TRANSCRIPT TO IDENTIFY INFORMATION ABOUT THE NEXT MEETING (DATE, TIME, AND TOPIC).\n - PASS THIS INFORMATION TO THE TOOL \"Create follow-up call.\"\n - DATA STRUCTURE:\n - **MEETING TITLE**: \"Follow-up: [Meeting Title]\"\n - **DATE AND TIME**: Determined from the transcript or set to \"Next Tuesday at 10:00 AM\" if no information is provided.\n - **PARTICIPANTS**: Add all participants from the list.\n\n### CHAIN OF THOUGHTS ###\n1. **UNDERSTAND**: Read and analyze the provided inputs (title, participants, transcript).\n2. **IDENTIFY**: Extract relevant information for the to-dos and the next meeting.\n3. **DIVIDE**: Split the task into two separate processes: creating to-dos and creating the meeting.\n4. **STRUCTURE**: Format the results in the required structure for the respective tools.\n5. **TRANSMIT**: Pass the data to the designated tools in n8n.\n6. **VERIFY**: Ensure the data is correct and complete.\n\n### WHAT YOU SHOULD NOT DO ###\n- **NEVER**: Create unclear or vague to-dos.\n- **NEVER**: Ignore missing data – use default values where uncertain.\n- **NEVER**: Overlook information from the inputs or make incorrect connections.\n- **NEVER**: Transmit tasks or meetings without proper formatting.\n\n### OUTPUT EXAMPLES ###\n1. **TO-DO**:\n - **TASK DESCRIPTION**: \"Prepare presentation for the next meeting.\"\n - **ASSIGNED PERSON**: \"John Doe.\"\n - **DUE DATE**: \"2025-01-25.\"\n\n2. **MEETING**:\n - **MEETING TITLE**: \"Follow-up: Project Discussion.\"\n - **DATE AND TIME**: \"2025-01-28 at 10:00 AM.\"\n - **PARTICIPANTS**: \"John Doe, Jane Example.\"\n\n### NOTES ###\n- EXECUTE YOUR TASKS WITH THE HIGHEST PRECISION AND CONTEXT SENSITIVITY.\n- RELY ON THE PROVIDED DATA AND DEFAULT VALUES WHERE NECESSARY.\n</system_prompt>\n",
        "agent": "openAiFunctionsAgent",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "a75f70f2-eaf9-4332-bd2d-ea433039744c",
      "name": "Create follow-up call",
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "position": [
        9040,
        1776
      ],
      "webhookId": "f2b82548-a5c6-412e-86e9-1548386ca98f",
      "parameters": {
        "subject": "={{ $fromAI(\"meeting_name\",\"Meeting name\",\"string\") }}",
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "mode": "list",
          "value": "AQMkADAwATNiZmYAZC1jYjE5LWExMzQtMDACLTAwCgBGAAAD1gD8iHcpKEiYQc0w4fCLUgcA-79r8r8ac0aInYGVxRUqCwAAAgEGAAAA-79r8r8ac0aInYGVxRUqCwAAAkH-AAAA",
          "cachedResultName": "Calendar"
        },
        "endDateTime": "={{ $fromAI(\"end_date_time\",\"Date and time of meeting end\",\"string\") }}",
        "startDateTime": "={{ $fromAI(\"start_date_time\",\"Date and time of meeting start\",\"string\") }}",
        "descriptionType": "manual",
        "toolDescription": "=Use tool to create Outlook Calendar Event. Use this tool only when transcript contains information that call should be scheduled.",
        "additionalFields": {
          "timeZone": "Europe/Berlin"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "0095e6e5-7ed0-4b61-ac95-794df97f4797",
      "name": "Filter: Last 24 hours",
      "type": "n8n-nodes-base.filter",
      "position": [
        7040,
        1184
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "de097a4f-1f3e-4dc0-9ab6-139311ff4676",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              },
              "leftValue": "={{ $json.start_time }}",
              "rightValue": "={{$now.minus({ hours: 24 }).toISO()}}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "05d06db3-553c-4c39-92da-08fccc649dba",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "disabled": true,
      "position": [
        7808,
        1808
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "dd972cbb-0e2c-4f5f-a428-38649239adf5",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        8016,
        1808
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "query.items"
      },
      "typeVersion": 1
    },
    {
      "id": "6be25e7a-ae6b-441e-a26b-1b390c2e7ed5",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "position": [
        8240,
        1808
      ],
      "parameters": {
        "list": "901207046581",
        "name": "={{ $json.name }}",
        "team": "9012366821",
        "space": "90122025710",
        "folder": "90123813376",
        "authentication": "oAuth2",
        "additionalFields": {
          "content": "={{ $json.description }}",
          "dueDate": "={{ $json.due_date }}"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e85d118d-997b-4b43-b933-3d5ea94f6840",
      "name": "Zoom: Get transcripts data",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueErrorOutput",
      "position": [
        7216,
        1184
      ],
      "parameters": {
        "url": "=https://api.zoom.us/v2/meetings/{{ $json.id }}/recordings",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api"
      },
      "typeVersion": 4.2
    }
  ],
  "active": false,
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": {
            "items": [
              {
                "name": "Partner abtelefonieren",
                "due_date": "2025-01-06",
                "priority": "High",
                "description": "Am 6. Januar alle Partner anrufen, um zu klären, ob Interesse an einer weiteren Kooperation besteht und wie diese dargestellt werden kann.",
                "project_name": "Partnerkooperationen"
              }
            ]
          }
        }
      }
    ]
  },
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "c86c74bd-3d0b-4b34-aef8-8b3f46d91664",
  "nodeGroups": [],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create tasks": {
      "ai_tool": [
        [
          {
            "node": "Create tasks and follow-up call",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format to html": {
      "main": [
        [
          {
            "node": "Send meeting summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create tasks and follow-up call",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Only 1 item": {
      "main": [
        [
          {
            "node": "Filter: Only 1 item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Zoom: Get transcript file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create follow-up call": {
      "ai_tool": [
        [
          {
            "node": "Create tasks and follow-up call",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter transcript URL": {
      "main": [
        [
          {
            "node": "Filter: Only 1 item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Last 24 hours": {
      "main": [
        [
          {
            "node": "Zoom: Get transcripts data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create meeting summary": {
      "main": [
        [
          {
            "node": "Sort for mail delivery",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create tasks and follow-up call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format transcript text": {
      "main": [
        [
          {
            "node": "Zoom: Get participants data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort for mail delivery": {
      "main": [
        [
          {
            "node": "Format to html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get transcript file": {
      "main": [
        [
          {
            "node": "Extract text from transcript file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get transcripts data": {
      "main": [
        [
          {
            "node": "Filter transcript URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Recording/Transcript available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get participants data": {
      "main": [
        [
          {
            "node": "Create meeting summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get data of last meeting": {
      "main": [
        [
          {
            "node": "Filter: Last 24 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from transcript file": {
      "main": [
        [
          {
            "node": "Format transcript text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Zoom: Get data of last meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
