automations/n8n/library/17092-clean-duplicate-and-dead-youtube-playlist-videos-with-slack-.workflow.json
{
  "meta": {
    "builderVariant": "mcp",
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": false,
    "owner": "Kevin Yu",
    "source": "n8n.io template library",
    "templateId": 17092
  },
  "name": "Clean duplicate and dead videos from a playlist using YouTube and Slack",
  "tags": [],
  "nodes": [
    {
      "id": "442d6aaf-a5ca-4825-9d40-7756b3e35018",
      "name": "Run Weekly Cleanup",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        16,
        304
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "a9de28c1-b751-4708-9ce5-83a384c33590",
      "name": "Set Playlist and Options",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        304
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "playlistId",
              "type": "string",
              "value": "YOUR_PLAYLIST_ID"
            },
            {
              "id": "c2",
              "name": "dryRun",
              "type": "boolean",
              "value": true
            },
            {
              "id": "c3",
              "name": "slackChannelId",
              "type": "string",
              "value": "YOUR_SLACK_CHANNEL_ID"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "814b1a4f-cd07-42ee-839d-e266fba3abbe",
      "name": "List Playlist Items",
      "type": "n8n-nodes-base.youTube",
      "position": [
        544,
        304
      ],
      "parameters": {
        "options": {},
        "resource": "playlistItem",
        "operation": "getAll",
        "returnAll": true,
        "playlistId": "={{ $json.playlistId }}"
      },
      "typeVersion": 1
    },
    {
      "id": "156fff3b-6f1a-4402-895a-033b6e3ed6e9",
      "name": "Check Video Status",
      "type": "n8n-nodes-base.youTube",
      "onError": "continueErrorOutput",
      "position": [
        768,
        304
      ],
      "parameters": {
        "part": [
          "snippet",
          "status"
        ],
        "options": {},
        "videoId": "={{ $json.contentDetails.videoId }}",
        "resource": "video",
        "operation": "get"
      },
      "typeVersion": 1
    },
    {
      "id": "9a8e930a-8285-4588-b5dd-ca7eed59e490",
      "name": "Mark Dead Videos",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        416
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "playlistItemId",
              "type": "string",
              "value": "={{ $('List Playlist Items').item.json.id }}"
            },
            {
              "id": "d2",
              "name": "videoId",
              "type": "string",
              "value": "={{ $('List Playlist Items').item.json.contentDetails.videoId }}"
            },
            {
              "id": "d3",
              "name": "title",
              "type": "string",
              "value": "={{ $('List Playlist Items').item.json.snippet.title }}"
            },
            {
              "id": "d4",
              "name": "position",
              "type": "number",
              "value": "={{ $('List Playlist Items').item.json.snippet.position }}"
            },
            {
              "id": "d5",
              "name": "privacyStatus",
              "type": "string",
              "value": "notFound"
            },
            {
              "id": "d6",
              "name": "videoFound",
              "type": "boolean",
              "value": false
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "f4de87a7-a6d5-4b6d-bf3b-68e8944dbe81",
      "name": "Combine Checked Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        1376,
        304
      ],
      "parameters": {},
      "typeVersion": 3.2
    },
    {
      "id": "f4c07bc6-b0b8-43c0-b48e-6ef0c16b7de2",
      "name": "Mark Live Videos",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        224
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "l1",
              "name": "playlistItemId",
              "type": "string",
              "value": "={{ $('List Playlist Items').item.json.id }}"
            },
            {
              "id": "l2",
              "name": "videoId",
              "type": "string",
              "value": "={{ $('List Playlist Items').item.json.contentDetails.videoId }}"
            },
            {
              "id": "l3",
              "name": "title",
              "type": "string",
              "value": "={{ $('List Playlist Items').item.json.snippet.title }}"
            },
            {
              "id": "l4",
              "name": "position",
              "type": "number",
              "value": "={{ $('List Playlist Items').item.json.snippet.position }}"
            },
            {
              "id": "l5",
              "name": "privacyStatus",
              "type": "string",
              "value": "={{ $json.status?.privacyStatus || 'unknown' }}"
            },
            {
              "id": "l6",
              "name": "videoFound",
              "type": "boolean",
              "value": "={{ !!$json.id }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "c030d71a-e645-475f-b981-820810d8fd9e",
      "name": "Flag Duplicates and Dead",
      "type": "n8n-nodes-base.code",
      "position": [
        1632,
        304
      ],
      "parameters": {
        "jsCode": "const cfg = $('Set Playlist and Options').first().json;\nconst dryRun = cfg.dryRun !== false;\nconst rows = $input.all().map(function (i) { return i.json; });\nrows.sort(function (a, b) { return (Number(a.position) || 0) - (Number(b.position) || 0); });\nconst seen = {};\nconst out = [];\nfor (const r of rows) {\n  const videoId = r.videoId || \"\";\n  const privacy = String(r.privacyStatus || \"\").toLowerCase();\n  const videoFound = r.videoFound === true || r.videoFound === \"true\";\n  const isDead = !videoFound || privacy === \"private\" || privacy === \"privacystatusunspecified\";\n  let isDuplicate = false;\n  if (videoId) {\n    if (seen[videoId]) isDuplicate = true;\n    else seen[videoId] = true;\n  }\n  const reasons = [];\n  if (isDead) reasons.push(videoFound ? \"Private video\" : \"Deleted or unavailable video\");\n  if (isDuplicate) reasons.push(\"Duplicate entry\");\n  const flagged = isDead || isDuplicate;\n  out.push({ json: {\n    playlistItemId: r.playlistItemId,\n    videoId: videoId,\n    title: r.title || \"(no title)\",\n    position: r.position,\n    privacyStatus: r.privacyStatus || \"\",\n    videoFound: videoFound,\n    isDead: isDead,\n    isDuplicate: isDuplicate,\n    flagged: flagged,\n    toDelete: flagged && !dryRun,\n    reason: reasons.join(\" and \") || \"Active\",\n    dryRun: dryRun,\n    liveRun: !dryRun\n  } });\n}\nreturn out;"
      },
      "typeVersion": 2
    },
    {
      "id": "6dd8e267-bde9-4965-8c26-186243076f23",
      "name": "Select Items to Delete",
      "type": "n8n-nodes-base.filter",
      "position": [
        1824,
        192
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f1",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.toDelete }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "237eac67-50f8-4f78-873c-8a111283d85e",
      "name": "Delete Playlist Item",
      "type": "n8n-nodes-base.youTube",
      "onError": "continueRegularOutput",
      "position": [
        2320,
        208
      ],
      "parameters": {
        "options": {},
        "resource": "playlistItem",
        "operation": "delete",
        "playlistItemId": "={{ $json.playlistItemId }}"
      },
      "typeVersion": 1
    },
    {
      "id": "d8d2f9a0-0194-4c0b-bddf-2a402ef23abe",
      "name": "Loop Items to Remove",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2064,
        192
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "19c2d91b-cd42-4853-8917-455b8931219e",
      "name": "Build Cleanup Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        624
      ],
      "parameters": {
        "jsCode": "const cfg = $('Set Playlist and Options').first().json;\nconst dryRun = cfg.dryRun !== false;\nconst rows = $input.all().map(function (i) { return i.json; });\nconst flagged = rows.filter(function (r) { return r.flagged; });\nconst dead = flagged.filter(function (r) { return r.isDead; });\nconst dupes = flagged.filter(function (r) { return r.isDuplicate && !r.isDead; });\nconst lines = flagged.map(function (r) {\n  return \"- \" + (r.title || \"(no title)\") + \" (\" + (r.videoId || \"no id\") + \") - \" + r.reason;\n}).join(\"\\n\");\nconst verb = dryRun ? \"would be removed\" : \"removed\";\nlet text;\nif (flagged.length === 0) {\n  text = \"Playlist Janitor: playlist is clean. Checked \" + rows.length + \" item(s), nothing to remove.\";\n} else {\n  const mode = dryRun ? \"DRY RUN (report only, nothing deleted)\" : \"LIVE RUN (items deleted)\";\n  text = \"Playlist Janitor - \" + mode + \"\\n\"\n    + \"Checked \" + rows.length + \" item(s). \" + flagged.length + \" \" + verb + \": \"\n    + dead.length + \" dead, \" + dupes.length + \" duplicate.\\n\\n\" + lines;\n}\nreturn [{ json: {\n  summary: text,\n  checked: rows.length,\n  flaggedCount: flagged.length,\n  deadCount: dead.length,\n  duplicateCount: dupes.length,\n  dryRun: dryRun\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "4aa4cac4-78cd-4c29-aefa-896452d85839",
      "name": "Post Cleanup Summary",
      "type": "n8n-nodes-base.slack",
      "position": [
        2096,
        624
      ],
      "webhookId": "dc0a1f1e-9132-4492-ac82-9ad2dfcdc3c7",
      "parameters": {
        "text": "={{ $json.summary }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set Playlist and Options').first().json.slackChannelId }}"
        },
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "executeOnce": true,
      "typeVersion": 2.5
    },
    {
      "id": "681ba7b4-4055-412a-ad03-dd52074d2b00",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -80
      ],
      "parameters": {
        "width": 592,
        "height": 688,
        "content": "## Clean duplicate and dead videos from a playlist using YouTube and Slack\n\n### How it works\n\n1. A schedule trigger runs the cleanup on a weekly cadence.\n2. The workflow lists every item in the target playlist and looks up each video.\n3. A code step flags duplicates (same video more than once, first kept) and dead entries (deleted, unavailable, or private).\n4. In dry run it only reports; with dry run off it deletes each flagged playlist item in a loop.\n5. Slack receives a summary of what was removed, or a note that the playlist is clean.\n\n### Setup steps\n\n- [ ] Connect a YouTube (Google) OAuth2 credential on the three YouTube nodes.\n- [ ] Set `playlistId` in the Set Playlist and Options node to your playlist ID.\n- [ ] Connect a Slack credential and set `slackChannelId` to your channel.\n- [ ] Keep `dryRun` set to true for the first run, then set it to false to delete for real.\n\n### Customization\n\nChange the schedule interval, or edit the flagging rules in the code node (for example, treat unlisted videos as dead too)."
      },
      "typeVersion": 1
    },
    {
      "id": "b4486b46-625a-493e-9e94-51d089f94278",
      "name": "Dry Run Warning",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -80
      ],
      "parameters": {
        "color": 3,
        "width": 584,
        "height": 214,
        "content": "## Safety: dry run is on by default\n\nThis workflow can permanently remove items from your playlist. It ships with `dryRun` set to true, so the first run only reports what it would remove and deletes nothing. Review the Slack summary, then set `dryRun` to false in the Set Playlist and Options node to enable real deletion."
      },
      "typeVersion": 1
    },
    {
      "id": "a4e53941-d715-44a2-aa62-23b307f0ecd7",
      "name": "Section Schedule",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 460,
        "height": 320,
        "content": "## Schedule and options"
      },
      "typeVersion": 1
    },
    {
      "id": "8aa7a8ea-e3f4-411c-b76d-c7f515831564",
      "name": "Section List Check",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 490,
        "height": 320,
        "content": "## List and check videos"
      },
      "typeVersion": 1
    },
    {
      "id": "378aab73-6ad9-46a5-ac0e-5289f6854234",
      "name": "Section Classify",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        112
      ],
      "parameters": {
        "color": 7,
        "width": 516,
        "height": 488,
        "content": "## Classify live and dead"
      },
      "typeVersion": 1
    },
    {
      "id": "5e0a057d-cbfc-4d93-be61-ef0b2583eafa",
      "name": "Section Flag Prune",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        112
      ],
      "parameters": {
        "color": 7,
        "width": 920,
        "height": 364,
        "content": "## Flag and prune items"
      },
      "typeVersion": 1
    },
    {
      "id": "fd513b95-d350-4817-b755-56616b3d0491",
      "name": "Section Report",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        544
      ],
      "parameters": {
        "color": 7,
        "width": 614,
        "height": 254,
        "content": "## Report to Slack"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": true,
    "executionOrder": "v1"
  },
  "connections": {
    "Mark Dead Videos": {
      "main": [
        [
          {
            "node": "Combine Checked Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mark Live Videos": {
      "main": [
        [
          {
            "node": "Combine Checked Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Mark Live Videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Dead Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Weekly Cleanup": {
      "main": [
        [
          {
            "node": "Set Playlist and Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Playlist Items": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Playlist Item": {
      "main": [
        [
          {
            "node": "Loop Items to Remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Items to Remove": {
      "main": [
        [],
        [
          {
            "node": "Delete Playlist Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cleanup Summary": {
      "main": [
        [
          {
            "node": "Post Cleanup Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Checked Items": {
      "main": [
        [
          {
            "node": "Flag Duplicates and Dead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Items to Delete": {
      "main": [
        [
          {
            "node": "Loop Items to Remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Duplicates and Dead": {
      "main": [
        [
          {
            "node": "Select Items to Delete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Cleanup Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Playlist and Options": {
      "main": [
        [
          {
            "node": "List Playlist Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
