automations/n8n/library/17094-send-calendly-meeting-prep-briefs-with-gmail-notion-openai-a.workflow.json
{
  "id": "QRSbvFHNPp2C7bw6",
  "meta": {
    "instanceId": "96ffc7274ceb3f5278009fd8ec868b4ee704bed4a7b202dd982fa939003b312d",
    "templateCredsSetupCompleted": true,
    "owner": "Marc Soummer",
    "source": "n8n.io template library",
    "templateId": 17094
  },
  "name": "Calendly Meeting Prep Brief Generator",
  "tags": [],
  "nodes": [
    {
      "id": "9d7a28b6-2f53-4059-9275-a072c6a011ae",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        2320
      ],
      "parameters": {
        "width": 480,
        "height": 896,
        "content": "## Calendly Meeting Prep Brief Generator\n\n### How it works\n\n1. The workflow triggers on a new Calendly email, filtering relevant events.\n2. Extracts event details with AI and parses them for further actions.\n3. Loads and matches building data from Google Sheets.\n4. Searches and merges Gmail history to assess existing relationships.\n5. Generates and formats brief emails based on available context and waits to send at scheduled times.\n\n### Setup steps\n\n- [ ] Configure Gmail API for the email trigger and sending nodes.\n- [ ] Set up Google Sheets integration to access STR registration data.\n- [ ] Obtain API keys for OpenAI to use its nodes.\n- [ ] Configure permissions for HTTP requests to external APIs.\n\n### Customization\n\nAdjust email templates in the formatting nodes to customize the content for specific users or situations."
      },
      "typeVersion": 1
    },
    {
      "id": "50687528-8b99-48b3-995a-7f509c6e0ccd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        2336
      ],
      "parameters": {
        "color": 7,
        "width": 384,
        "height": 336,
        "content": "## Email trigger setup\n\nInitiates workflow on new Calendly email events."
      },
      "typeVersion": 1
    },
    {
      "id": "8f861c40-8e0e-4e2c-8485-2ef747707bb5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        2336
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 336,
        "content": "## Event detail extraction\n\nUses AI to extract and parse event details."
      },
      "typeVersion": 1
    },
    {
      "id": "6a25ed6b-ade5-476e-a0fd-53bd807eab7e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3536,
        2336
      ],
      "parameters": {
        "color": 7,
        "width": 384,
        "height": 336,
        "content": "## CRM and lead detail search\n\nCalculates send time and finds lead details in CRM."
      },
      "typeVersion": 1
    },
    {
      "id": "aebccd0d-384c-4a29-9144-adad603c482c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        2688
      ],
      "parameters": {
        "color": 7,
        "width": 800,
        "height": 448,
        "content": "## STR and Gmail data match\n\nMatches building data to records and searches Gmail history."
      },
      "typeVersion": 1
    },
    {
      "id": "7b7ee3bb-7e1d-4021-8138-143fa9ba81d5",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3552,
        2688
      ],
      "parameters": {
        "color": 7,
        "width": 608,
        "height": 464,
        "content": "## Email history processing\n\nProcesses email history to determine relationships or context."
      },
      "typeVersion": 1
    },
    {
      "id": "e6ca16d3-950d-42bd-afac-0564fd2cee98",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4160,
        2672
      ],
      "parameters": {
        "color": 7,
        "width": 800,
        "height": 480,
        "content": "## Email relationship summarization\n\nSummarizes Gmail relationships with AI to build meeting briefs."
      },
      "typeVersion": 1
    },
    {
      "id": "a8a4ac08-56f9-4c4f-9039-fe49c6c8e139",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3712,
        3168
      ],
      "parameters": {
        "color": 7,
        "width": 672,
        "height": 528,
        "content": "## Generate brief without history\n\nGenerates and parses meeting briefs when no email history exists."
      },
      "typeVersion": 1
    },
    {
      "id": "3c87a897-8815-4905-aab0-e363bfa3ac5f",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4976,
        2832
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 304,
        "content": "## Timed meeting prep emails\n\nSends meeting preparation emails at the scheduled times."
      },
      "typeVersion": 1
    },
    {
      "id": "6f1c6671-165a-46a7-b077-beaeb83aaf2c",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4384,
        3168
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 384,
        "content": "## Research branch email handling\n\nHandles scheduling and sending of research-focused emails."
      },
      "typeVersion": 1
    },
    {
      "id": "e3b13e88-4ed5-4ecc-a3a7-64184dc9753a",
      "name": "Find CRM Lead by Email",
      "type": "n8n-nodes-base.notion",
      "position": [
        3744,
        2464
      ],
      "parameters": {
        "options": {},
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "filterJson": "={\n  \"property\": \"Email\",\n  \"email\": {\n    \"equals\": \"{{ $json.received.invitee_email }}\"\n  }\n}",
        "filterType": "json"
      },
      "credentials": {
        "notionApi": {
          "id": "credential-id",
          "name": "NOTION_REPLACE_ME"
        }
      },
      "typeVersion": 2.2,
      "alwaysOutputData": false
    },
    {
      "id": "99fb4747-e3a2-4df4-8b6d-f32c18e9bb49",
      "name": "Read STR Registration Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2816,
        2864
      ],
      "parameters": {
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "GOOGLE_SHEETS_REPLACE_ME"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "5323241d-df1f-4c7c-909e-69c6e74099c2",
      "name": "Retrieve Gmail History Account 1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3184,
        2800
      ],
      "webhookId": "286e1fdf-bffa-43a7-af05-b7599664fa25",
      "parameters": {
        "limit": 10,
        "filters": {
          "sender": "={{ $('Find CRM Lead by Email').item.json.property_email }}"
        },
        "operation": "getAll"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "GMAIL_REPLACE_ME"
        }
      },
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "id": "7664f668-9790-40cd-a893-067a0add7691",
      "name": "Retrieve Gmail History Account 2",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3184,
        2944
      ],
      "webhookId": "996e4a07-98bd-4b0e-814f-7cf341f531fe",
      "parameters": {
        "limit": 10,
        "filters": {
          "sender": "={{ $('Find CRM Lead by Email').item.json.property_email }}"
        },
        "operation": "getAll"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "GMAIL_REPLACE_ME"
        }
      },
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "id": "cd05da0f-7cac-40a4-96d3-e13aa358d38b",
      "name": "Combine Email Search Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        3376,
        2864
      ],
      "parameters": {},
      "typeVersion": 3.2
    },
    {
      "id": "ef857bf5-8c45-46c9-969d-deac61a7417a",
      "name": "Dispatch Research Meeting Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        4656,
        3312
      ],
      "webhookId": "8617200e-5916-4c16-a0cf-b82cf0a1947c",
      "parameters": {
        "sendTo": "user@example.com",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        },
        "subject": "=Meeting Prep for {{ $('Find CRM Lead by Email').item.json.property_property_manager || $('Find CRM Lead by Email').item.json.property_managed_property || 'Upcoming Meeting' }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "GMAIL_REPLACE_ME"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "058308ee-a3ad-4030-9c34-86995ba07562",
      "name": "Wait for Research Send Time",
      "type": "n8n-nodes-base.wait",
      "position": [
        4432,
        3328
      ],
      "webhookId": "b1bfd3c4-12e3-4f1d-bdd4-43144f6b3c2a",
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Compute Brief Send Deadline').item.json.send_at }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "cff16672-db13-4510-9164-dfe71fddd11f",
      "name": "Decode Brief JSON With History",
      "type": "n8n-nodes-base.code",
      "position": [
        4496,
        2976
      ],
      "parameters": {
        "jsCode": "let raw =\n  $json.text ||\n  $json.t ||\n  $json.output ||\n  $json.message ||\n  $json.response ||\n  $json.content ||\n  \"\";\n\nif (Array.isArray($json.output)) {\n  raw = $json.output[0]?.content?.[0]?.text || \"\";\n}\n\nif (Array.isArray($json.content)) {\n  raw = $json.content[0]?.text || \"\";\n}\n\nraw = String(raw)\n  .replace(/^t:/, \"\")\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  return [{\n    json: {\n      parse_error: true,\n      error_message: error.message,\n      raw_response: raw\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    quick_summary: parsed.quick_summary || \"\",\n    building: parsed.building || {},\n    relationship_status: parsed.relationship_status || \"\",\n    interest_level: parsed.interest_level || \"\",\n    top_pain_points: parsed.top_pain_points || [],\n    important_meeting_notes: parsed.important_meeting_notes || [],\n    best_talking_points: parsed.best_talking_points || [],\n    next_step: parsed.next_step || \"\"\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "f9caacef-9b7c-4748-b76d-5d6dda58c9a0",
      "name": "Decode Brief JSON No History",
      "type": "n8n-nodes-base.code",
      "position": [
        3760,
        3536
      ],
      "parameters": {
        "jsCode": "let raw =\n  $json.text ||\n  $json.t ||\n  $json.output ||\n  $json.message ||\n  $json.response ||\n  $json.content ||\n  \"\";\n\nif (Array.isArray($json.output)) {\n  raw = $json.output[0]?.content?.[0]?.text || \"\";\n}\n\nif (Array.isArray($json.content)) {\n  raw = $json.content[0]?.text || \"\";\n}\n\nraw = String(raw)\n  .replace(/^text:/, \"\")\n  .replace(/^t:/, \"\")\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  return [{\n    json: {\n      parse_error: true,\n      error_message: error.message,\n      raw_response: raw\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    relationship_summary: parsed.relationship_summary || \"No prior email history found.\",\n    interest_level: parsed.interest_level || \"Unknown\",\n    likely_pain_points: parsed.likely_pain_points || [],\n    meeting_prep_notes: parsed.meeting_prep_notes || [],\n    suggested_talking_points: parsed.suggested_talking_points || [],\n    building_research_summary: parsed.building_research_summary || \"\",\n    useful_building_facts: parsed.useful_building_facts || [],\n    possible_opportunities: parsed.possible_opportunities || [],\n    risk_flags: parsed.risk_flags || []\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "34b67e84-c154-45df-9e0a-6043ab1f54b1",
      "name": "Decode Event Details JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        3408,
        2464
      ],
      "parameters": {
        "jsCode": "let raw =\n  $json.text ||\n  $json.t ||\n  $json.output?.[0]?.content?.[0]?.text ||\n  \"\";\n\nraw = String(raw).trim();\n\n// If it starts with text:{...}\nraw = raw.replace(/^text:/, \"\").trim();\n\n// Remove markdown\nraw = raw.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// Grab only the JSON object\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{\n    json: {\n      parse_error: true,\n      raw_response: raw\n    }\n  }];\n}\n\nconst parsed = JSON.parse(match[0]);\n\nreturn [{\n  json: {\n    invitee_email: parsed.invitee_email || \"\",\n    event_date: parsed.event_date || \"\",\n    event_time: parsed.event_time || \"\"\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "6a86ab94-df2e-484f-8b8f-970a75ae23cc",
      "name": "Compute Brief Send Deadline",
      "type": "n8n-nodes-base.code",
      "position": [
        3584,
        2464
      ],
      "parameters": {
        "jsCode": "const eventDate = $json.event_date;\nconst eventTime = $json.event_time;\n\nif (!eventDate || !eventTime) {\n  return [{\n    json: {\n      error: \"Missing event_date or event_time\",\n      received: $json\n    }\n  }];\n}\n\nfunction convertTo24Hour(timeValue) {\n  const clean = String(timeValue)\n    .trim()\n    .replace(/\\s+/g, \" \")\n    .toUpperCase();\n\n  const match = clean.match(/^(\\d{1,2}):(\\d{2})\\s*(AM|PM)$/);\n\n  if (!match) {\n    return null;\n  }\n\n  let hours = Number(match[1]);\n  const minutes = match[2];\n  const period = match[3];\n\n  if (period === \"PM\" && hours !== 12) hours += 12;\n  if (period === \"AM\" && hours === 12) hours = 0;\n\n  return `${String(hours).padStart(2, \"0\")}:${minutes}`;\n}\n\nconst time24 = convertTo24Hour(eventTime);\n\nif (!time24) {\n  return [{\n    json: {\n      error: \"Invalid time format\",\n      event_time_received: eventTime,\n      full_input: $json\n    }\n  }];\n}\n\nconst meetingDateTime = new Date(`${eventDate}T${time24}:00-04:00`);\n\nif (isNaN(meetingDateTime.getTime())) {\n  return [{\n    json: {\n      error: \"Invalid date/time\",\n      eventDate,\n      eventTime,\n      time24\n    }\n  }];\n}\n\nmeetingDateTime.setMinutes(meetingDateTime.getMinutes() - 30);\n\nreturn [{\n  json: {\n    ...$json,\n    event_time_24h: time24,\n    send_at: meetingDateTime.toISOString()\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "8a0dd70d-57d4-432d-b71d-05547807218c",
      "name": "Craft Research Brief Email",
      "type": "n8n-nodes-base.code",
      "position": [
        4000,
        3536
      ],
      "parameters": {
        "jsCode": "const data = $json;\n\n// CHANGE NODE NAME if needed\nlet buildingRaw = $('Derive Building Details via AI').first().json.text;\n\nbuildingRaw = String(buildingRaw)\n  .replace(/^text:/, \"\")\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst buildingData = JSON.parse($('Derive Building Details via AI').first().json.output[0].content[0].text) ;\n\nconst bulletList = (arr) =>\n  (arr || []).map(item => `<li>${item}</li>`).join(\"\");\n\nconst htmlBody = `\n<h2>MEETING PREP</h2>\n\n<h3>QUICK SUMMARY</h3>\n<p>${data.building_research_summary}</p>\n\n<h3>BUILDING</h3>\n<ul>\n  <li><b>Address:</b> ${$('Find CRM Lead by Email').first().json.property_managed_property}</li>\n  <li><b>Units:</b> ${buildingData.units}</li>\n  <li><b>Stories:</b> ${buildingData.stories}</li>\n  <li><b>Year Built:</b> ${buildingData.year_built}</li>\n  <li><b>STR:</b> ${buildingData.is_str ? \"YES\" : \"NO\"}</li>\n  <li><b>STR Matches:</b> ${buildingData.str_match_count}</li>\n</ul>\n\n<h3>RELATIONSHIP STATUS</h3>\n<p>${data.relationship_summary}</p>\n\n<h3>INTEREST LEVEL</h3>\n<p>${data.interest_level}</p>\n\n<h3>TOP PAIN POINTS</h3>\n<ul>${bulletList(data.likely_pain_points)}</ul>\n\n<h3>IMPORTANT MEETING NOTES</h3>\n<ul>${bulletList(data.meeting_prep_notes)}</ul>\n\n<h3>BEST TALKING POINTS</h3>\n<ul>${bulletList(data.suggested_talking_points)}</ul>\n\n<h3>NEXT STEP</h3>\n<p>Confirm decision-maker, current access workflow, and openness to a pilot deployment.</p>\n`;\n\nreturn [{\n  json: {\n    subject: `Meeting Prep - ${buildingData.address}`,\n    body: htmlBody\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "c6977e34-d28d-4d15-94c1-e7490fff629b",
      "name": "Compose Meeting Brief Email",
      "type": "n8n-nodes-base.code",
      "position": [
        4720,
        2976
      ],
      "parameters": {
        "jsCode": "const data = $json;\n\nconst bulletList = (arr) =>\n  (arr || []).map(item => `<li>${item}</li>`).join(\"\");\n\nconst htmlBody = `\n<h2>MEETING PREP</h2>\n\n<h3>QUICK SUMMARY</h3>\n<p>${data.quick_summary}</p>\n\n<h3>BUILDING</h3>\n<ul>\n  <li><b>Address:</b> ${$('Find CRM Lead by Email').first().json.property_managed_property}</li>\n  <li><b>Units:</b> ${data.building.units}</li>\n  <li><b>Stories:</b> ${data.building.stories}</li>\n  <li><b>Year Built:</b> ${data.building.year_built}</li>\n  <li><b>STR:</b> ${data.building.is_str ? \"YES\" : \"NO\"}</li>\n  <li><b>STR Matches:</b> ${data.building.str_match_count}</li>\n</ul>\n\n<h3>RELATIONSHIP STATUS</h3>\n<p>${data.relationship_status}</p>\n\n<h3>INTEREST LEVEL</h3>\n<p>${data.interest_level}</p>\n\n<h3>TOP PAIN POINTS</h3>\n<ul>${bulletList(data.top_pain_points)}</ul>\n\n<h3>IMPORTANT MEETING NOTES</h3>\n<ul>${bulletList(data.important_meeting_notes)}</ul>\n\n<h3>BEST TALKING POINTS</h3>\n<ul>${bulletList(data.best_talking_points)}</ul>\n\n<h3>NEXT STEP</h3>\n<p>${data.next_step}</p>\n`;\n\nreturn [{\n  json: {\n    subject: `Meeting Prep - ${data.building.address}`,\n    body: htmlBody\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "157ba324-a859-48c8-ab66-f037e6dc3a5b",
      "name": "Retrieve Building Context",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3808,
        2880
      ],
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $('Find CRM Lead by Email').item.json.property_managed_property }} condo board management complaints built"
            },
            {
              "name": "api_key",
              "value": "REPLACE_WITH_SERPAPI_API_KEY"
            }
          ]
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "4a0e1134-66f9-4d53-9f34-15ac5659ac0f",
      "name": "Gather Building AI Overview",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4144,
        2464
      ],
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_ai_overview"
            },
            {
              "name": "page_token",
              "value": "={{ $json.related_questions?.[0]?.page_token || $json.ai_overview?.page_token || '' }}"
            },
            {
              "name": "api_key",
              "value": "REPLACE_WITH_SERPAPI_API_KEY"
            },
            {
              "name": "no_cache",
              "value": "true"
            }
          ]
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "2067e06c-fb3a-4fd6-b0c3-a57a4abbbeec",
      "name": "Fetch Building Facts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3968,
        2464
      ],
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $('Find CRM Lead by Email').item.json.property_managed_property }} turnover rate floors units year built"
            },
            {
              "name": "api_key",
              "value": "REPLACE_WITH_SERPAPI_API_KEY"
            }
          ]
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "3a2e628f-86fa-44d7-8b1c-0470282fc2a0",
      "name": "Derive Building Details via AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4288,
        2464
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "GPT-5-MINI"
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "=Extract:\n- stories\n- units\n- year built\n- turnover rate\n\nReturn ONLY valid JSON.\nfor turnover rate write it out with 7 words max\nText:\n{{ $json.ai_overview.text_blocks[0].snippet }}{{ $json.ai_overview.text_blocks[1].snippet }}"
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "OPENAI_CREDENTIAL_REPLACE_ME"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "653e05f7-55ea-4adc-bebb-4f89783d8fe8",
      "name": "Align Building with STR Records",
      "type": "n8n-nodes-base.code",
      "position": [
        2976,
        2864
      ],
      "parameters": {
        "jsCode": "const incomingAddress = $('Find CRM Lead by Email').first().json.property_managed_property; // CHANGE THIS ONLY\n\nfunction normalize(address) {\n  return String(address || \"\")\n    .toLowerCase()\n    .replace(/\\./g, \"\")\n    .replace(/,/g, \"\")\n    .replace(/#/g, \"\")\n    .replace(/\\bavenue\\b/g, \"ave\")\n    .replace(/\\bstreet\\b/g, \"st\")\n    .replace(/\\broad\\b/g, \"rd\")\n    .replace(/\\bdrive\\b/g, \"dr\")\n    .replace(/\\bboulevard\\b/g, \"blvd\")\n    .replace(/\\bplace\\b/g, \"pl\")\n    .replace(/\\bcourt\\b/g, \"ct\")\n    .replace(/\\bunit\\b/g, \"\")\n    .replace(/\\bsuite\\b/g, \"\")\n    .replace(/\\bapt\\b/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction addressKey(address) {\n  const cleaned = normalize(address);\n\n  const match = cleaned.match(/(\\d+)\\s+([a-z]+)/);\n\n  return match ? `${match[1]} ${match[2]}` : cleaned;\n}\n\nconst incomingKey = addressKey(incomingAddress);\n\nconst matches = $input.all().filter(item => {\n  const sheetAddress = item.json.address;\n  const sheetKey = addressKey(sheetAddress);\n\n  return sheetKey === incomingKey;\n});\n\nconst strIds = matches\n  .map(item => item.json.col_1)\n  .filter(value => String(value || \"\").startsWith(\"STR-\"));\n\nreturn [\n  {\n    json: {\n      incomingAddress,\n      incomingKey,\n      isSTR: matches.length > 0,\n      matchCount: matches.length,\n      strIds,\n      matches: matches.map(item => item.json)\n    }\n  }\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "15c5eaa6-dc69-451b-a70b-5cf5043a8d62",
      "name": "Create Email History Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        4208,
        2784
      ],
      "parameters": {
        "jsCode": "const emails = $input.all();\n\nconst messages = emails.map(item => item.json);\n\nconst incomingFromThem = messages.filter(m => {\n  const from = String(m.from || \"\").toLowerCase();\n  const leadEmail = String($('Find CRM Lead by Email').first().json.property_email || $('Find CRM Lead by Email').first().json.email || \"\").toLowerCase();\n\n  return from.includes(leadEmail);\n});\n\nreturn [{\n  json: {\n    hasEmailHistory: messages.length > 0,\n    totalEmailsFound: messages.length,\n    hasRepliedOrEmailedUs: incomingFromThem.length > 0,\n    emailsFromThemCount: incomingFromThem.length,\n    emailsToOrFromThem: messages\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "56d3e95e-c1b1-4272-9587-bcf5371c9933",
      "name": "Outline Email Relationship",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4368,
        2784
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "GPT-5-MINI"
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "=Prepare a meeting brief.\nOutput ONLY in valid JSON\nUse:\n\nEmail history:\n{{ JSON.stringify($json.emailsToOrFromThem) }}\n\nRETURN:\n{\n  \"relationship_summary\": \"\",\n  \"interest_level\": \"\",\n  \"likely_pain_points\": [],\n  \"meeting_prep_notes\": [],\n  \"suggested_talking_points\": []\n}\n\nOutput must be under 150 words"
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "OPENAI_CREDENTIAL_REPLACE_ME"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "dfc310e8-5d4f-43c7-b1b9-31e470167cb0",
      "name": "Produce Meeting Brief With History",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4656,
        2784
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "GPT-5-MINI"
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "=You are an AI sales meeting prep assistant.\n\nYour job is to create a SHORT, highly scannable meeting prep brief for a sales rep before a meeting.\n\nKeep responses concise and practical.\nDo NOT write long paragraphs.\nUse short sentences.\nPrioritize actionable information.\n\nIf information is missing, say \"Unknown\".\n\nGMAIL RELATIONSHIP SUMMARY:\n{{ $json.output[0].content[0].text }}\n\nBUILDING DATA:\n{{ $('Derive Building Details via AI').item.json.output[0].content[0].text }}\n\nSTR CHECK:\n{{ $('Align Building with STR Records').item.json.isSTR }}\n\nNUMBER OF STR MATCHES:\n{{ $('Align Building with STR Records').item.json.matchCount }}\n\nSTR CONTEXT:\nIf is_str = true or str_match_count > 0, treat this as a strong sales signal.\n\nWhy it matters:\n- STR buildings likely have more guest turnover\n- More key exchanges\n- More temporary access needs\n- More risk from physical lockboxes / shared keys\n- Better fit for digital access systems, key management, and audit trails\n\nWhen STR is true:\n- Mention STR/key-exchange opportunity in quick_summary\n- Include STR turnover/access as a pain point\n- Include STR-specific talking points\n- Make next_step focus on asking about guest/vendor/agent access workflows\n\nReturn ONLY valid JSON in this exact format:\n\n{\n  \"quick_summary\": \"\",\n  \"building\": {\n    \"address\": \"\",\n    \"units\": \"\",\n    \"stories\": \"\",\n    \"year_built\": \"\",\n    \"is_str\": false,\n    \"str_match_count\": 0\n  },\n  \"relationship_status\": \"\",\n  \"interest_level\": \"\",\n  \"top_pain_points\": [],\n  \"important_meeting_notes\": [],\n  \"best_talking_points\": [],\n  \"next_step\": \"\"\n}\n\nRules:\n- quick_summary = max 2 sentences\n- relationship_status = max 1 sentence\n- interest_level = one short phrase only\n- pain points = short bullet-style phrases\n- meeting notes = concise reminders only\n- talking points = short tactical points only\n- next_step = one sentence only\n- no fluff\n- no corporate wording\n- no long explanations"
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "OPENAI_CREDENTIAL_REPLACE_ME"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "a78f9c67-fe9a-429f-bef4-08f2b229e62f",
      "name": "Dispatch Meeting Prep Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        5264,
        2976
      ],
      "webhookId": "38e4b4dd-40bb-4a6f-95d7-96f8479f7a7d",
      "parameters": {
        "sendTo": "user@example.com",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        },
        "subject": "=Meeting Prep for {{ $('Find CRM Lead by Email').item.json.property_property_manager || $('Find CRM Lead by Email').item.json.property_managed_property || 'Upcoming Meeting' }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "GMAIL_REPLACE_ME"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "3e2d56b0-7a65-4405-bfa3-ff917262948b",
      "name": "Evaluate Email History Existence",
      "type": "n8n-nodes-base.if",
      "position": [
        3600,
        2800
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "371242a6-1efe-45e7-8bdd-0fd2d7b6acbc",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Retrieve Gmail History Account 1').item.json.id }}",
              "rightValue": ""
            },
            {
              "id": "604966de-d9ec-4585-8cde-a8d92cb14254",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Retrieve Gmail History Account 2').item.json.id }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "9646ba0e-04f4-4a10-adf0-5fad78a9ed3c",
      "name": "Create Brief Without Email History",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3760,
        3344
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "GPT-5-MINI"
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "=You are researching a company, property, or building before a sales meeting.\n\nUse the search results below to create useful meeting prep for selling an access/key-management solution.\nDo not invent building-specific facts.\nIf search results do not clearly mention something, say \"Unknown\".\nYou may infer possible sales opportunities, but label them as possible, not confirmed.\n\nReturn ONLY valid JSON:\n\n{\n  \"relationship_summary\": \"No prior email history found.\",\n  \"building\": {\n    \"address\": \"\",\n    \"units\": \"\",\n    \"stories\": \"\",\n    \"year_built\": \"\",\n    \"turnover_rate\": \"\",\n    \"is_str\": false,\n    \"str_match_count\": 0\n  },\n  \"interest_level\": \"Unknown\",\n  \"likely_pain_points\": [],\n  \"meeting_prep_notes\": [],\n  \"suggested_talking_points\": [],\n  \"building_research_summary\": \"\",\n  \"useful_building_facts\": [],\n  \"possible_opportunities\": [],\n  \"risk_flags\": []\n}\n\nRules:\n- Keep everything short and scannable.\n- Do not use long paragraphs.\n- Do not pretend there is email history.\n- useful_building_facts must only contain facts found in search results.\n- possible_opportunities can be sales assumptions based on building/property type.\n- risk_flags can include unknowns like decision-maker, existing vendor, privacy concerns, or board approval.\n- 250 words max.\n\nSEARCH RESULTS:\n{{ $json.ai_overview }}\n\nBUILDING DATA:\n{{ $('Derive Building Details via AI').item.json.output[0].content[0].text }}\n\nSTR CHECK:\n{{ $('Align Building with STR Records').item.json.isSTR }}\n\nNUMBER OF STR MATCHES:\n{{ $('Align Building with STR Records').item.json.matchCount }}"
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "OPENAI_CREDENTIAL_REPLACE_ME"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "cf30ffd0-3445-4987-ab4c-11f80c256771",
      "name": "Verify Calendly Event Input",
      "type": "n8n-nodes-base.if",
      "position": [
        2944,
        2480
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0b011597-4e41-43f5-ad3b-4313f821af91",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "New Event:"
            },
            {
              "id": "0a4c488c-9f48-40c7-96f8-d3a7c00be16b",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.From }}",
              "rightValue": "Calendly <user@example.com>"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "6362a487-f4c1-4e09-8870-75cd1d7b8d69",
      "name": "When Calendly Email Triggered",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        2784,
        2480
      ],
      "parameters": {
        "filters": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "GMAIL_REPLACE_ME"
        }
      },
      "typeVersion": 1.4
    },
    {
      "id": "48e6e845-250f-4c5b-8a5c-01be065bfe17",
      "name": "Derive Event Details using AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3136,
        2464
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "options": {},
        "responses": {
          "values": [
            {
              "content": "=Extract the following information from this Calendly email.\n\nReturn ONLY valid JSON.\n\nFields:\n- invitee_email\n- event_date\n- event_time\n\nRules:\n- event_date format = YYYY-MM-DD\n- event_time format = HH:MM PM/AM\n- timezone = short readable timezone\n- no markdown\n- no explanations\n\nEMAIL:\n\nSubject:\n{{ $json.Subject }}\n\nBody:\n{{ $('Verify Calendly Event Input').item.json.snippet }}"
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "OPENAI_CREDENTIAL_REPLACE_ME"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "e56564b2-f525-44ec-8c60-6be47c69728a",
      "name": "Pause Until 30 Min Before Meeting",
      "type": "n8n-nodes-base.wait",
      "position": [
        5040,
        2976
      ],
      "webhookId": "ac766da2-e683-4e03-a72c-98506f91c572",
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Compute Brief Send Deadline').item.json.send_at }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "2c66458c-daf9-4ab5-b921-f44885bc4389",
      "name": "Collect Context AI Overview",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3984,
        2928
      ],
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_ai_overview"
            },
            {
              "name": "page_token",
              "value": "={{ $json.ai_overview?.page_token || $json.related_questions?.[0]?.page_token || '' }}"
            },
            {
              "name": "api_key",
              "value": "REPLACE_WITH_SERPAPI_API_KEY"
            },
            {
              "name": "no_cache",
              "value": "true"
            }
          ]
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "9c5fa46d-ff55-4c78-b1aa-880a2020ac16",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3920,
        2336
      ],
      "parameters": {
        "color": 7,
        "width": 576,
        "height": 336,
        "content": "## Building data processing\n\nFetches and processes building information from APIs."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "bc8f3ad7-1ccf-4535-ac0d-137938233227",
  "nodeGroups": [],
  "connections": {
    "Fetch Building Facts": {
      "main": [
        [
          {
            "node": "Gather Building AI Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find CRM Lead by Email": {
      "main": [
        [
          {
            "node": "Fetch Building Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Event Details JSON": {
      "main": [
        [
          {
            "node": "Compute Brief Send Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Building Context": {
      "main": [
        [
          {
            "node": "Collect Context AI Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Craft Research Brief Email": {
      "main": [
        [
          {
            "node": "Wait for Research Send Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Email Relationship": {
      "main": [
        [
          {
            "node": "Produce Meeting Brief With History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Context AI Overview": {
      "main": [
        [
          {
            "node": "Create Brief Without Email History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Meeting Brief Email": {
      "main": [
        [
          {
            "node": "Pause Until 30 Min Before Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Brief Send Deadline": {
      "main": [
        [
          {
            "node": "Find CRM Lead by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Building AI Overview": {
      "main": [
        [
          {
            "node": "Derive Building Details via AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read STR Registration Sheet": {
      "main": [
        [
          {
            "node": "Align Building with STR Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Calendly Event Input": {
      "main": [
        [
          {
            "node": "Derive Event Details using AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Research Send Time": {
      "main": [
        [
          {
            "node": "Dispatch Research Meeting Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Email Search Results": {
      "main": [
        [
          {
            "node": "Evaluate Email History Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email History Summary": {
      "main": [
        [
          {
            "node": "Outline Email Relationship",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Brief JSON No History": {
      "main": [
        [
          {
            "node": "Craft Research Brief Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Derive Event Details using AI": {
      "main": [
        [
          {
            "node": "Decode Event Details JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Calendly Email Triggered": {
      "main": [
        [
          {
            "node": "Verify Calendly Event Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Brief JSON With History": {
      "main": [
        [
          {
            "node": "Compose Meeting Brief Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Derive Building Details via AI": {
      "main": [
        [
          {
            "node": "Read STR Registration Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Building with STR Records": {
      "main": [
        [
          {
            "node": "Retrieve Gmail History Account 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve Gmail History Account 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Email History Existence": {
      "main": [
        [
          {
            "node": "Create Email History Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retrieve Building Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Gmail History Account 1": {
      "main": [
        [
          {
            "node": "Combine Email Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Gmail History Account 2": {
      "main": [
        [
          {
            "node": "Combine Email Search Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pause Until 30 Min Before Meeting": {
      "main": [
        [
          {
            "node": "Dispatch Meeting Prep Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Brief Without Email History": {
      "main": [
        [
          {
            "node": "Decode Brief JSON No History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produce Meeting Brief With History": {
      "main": [
        [
          {
            "node": "Decode Brief JSON With History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
