automations/n8n/library/17101-create-shopify-product-videos-from-tagged-photos-with-dreema.workflow.json
{
  "id": "90aZyi0LFHxuO7S3",
  "meta": {
    "instanceId": "aa6fe4d697995e32c4fcd2cb6906df0526b9a5a97d15182decb9ccfd6ec828ce",
    "owner": "Kristian Jønsson",
    "source": "n8n.io template library",
    "templateId": 17101
  },
  "name": "Turn Shopify product photos into videos with Dreem.ai using a product tag",
  "tags": [],
  "nodes": [
    {
      "id": "ea4bb98c-9ef6-4929-ad6c-62da3390ad2a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "width": 480,
        "height": 896,
        "content": "## Turn Shopify product photos into videos with Dreem.ai using a product tag\n\n### How it works\n\nThis workflow watches Shopify product updates and only proceeds when a product has the configured video-generation tag. It swaps the tag to prevent repeated triggering, generates a product video with Dreem.ai, waits for render completion, and routes the result to Slack for review. If approved, it downloads the rendered video, uploads it through Shopify staged uploads, and attaches it to the product; if rendering times out, it posts a Slack alert.\n\n### Setup steps\n\n- Connect Shopify credentials for both the product update trigger and Admin API requests.\n- Connect Dreem.ai credentials and configure the generation node with the desired product image/video settings.\n- Connect Slack credentials and select the channels/users used for render delivery, approval, and timeout notifications.\n- Replace placeholder Shopify URLs such as `https://YOUR-STORE.myshopify.com` with your store domain and verify Admin API scopes for product media and staged uploads.\n- Confirm the trigger tag, loop-safety replacement tag, wait/timeout settings, and approval interaction logic match your operating process.\n\n### Customization\n\nYou can change the Shopify tag that starts video generation, adjust the Dreem.ai video prompt/settings, modify the wait interval or timeout behavior, and route approvals or timeout alerts to different Slack channels."
      },
      "typeVersion": 1
    },
    {
      "id": "b26ffb12-0214-48d2-b51e-bb7984225b5e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        272
      ],
      "parameters": {
        "color": 7,
        "width": 768,
        "height": 304,
        "content": "## Detect tagged products\n\nStarts when a Shopify product is updated, checks whether it has the `dreem-video` trigger tag, and swaps the tag so the workflow does not loop on its own product update."
      },
      "typeVersion": 1
    },
    {
      "id": "2fe140b0-95d1-4f60-a77b-8f5205f3498d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        272
      ],
      "parameters": {
        "color": 7,
        "width": 672,
        "height": 304,
        "content": "## Generate and monitor video\n\nSends the tagged product to Dreem.ai for video generation, waits for the render, and checks whether the render completed successfully or timed out."
      },
      "typeVersion": 1
    },
    {
      "id": "14eb9c84-01a3-4208-9915-72eeb720448e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2096,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 672,
        "height": 480,
        "content": "## Slack review approval\n\nPosts the rendered video into Slack, delivers it for review, and branches based on whether the reviewer approves the video for publishing."
      },
      "typeVersion": 1
    },
    {
      "id": "1ecd660a-ac1e-4637-8829-5f3ec9a90636",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2800,
        384
      ],
      "parameters": {
        "color": 7,
        "height": 368,
        "content": "## Render timeout alert\n\nHandles the incomplete-render path by notifying Slack that the Dreem.ai render timed out or did not finish in the expected window."
      },
      "typeVersion": 1
    },
    {
      "id": "4acbdfd6-716e-4def-8f5d-d3f92d7086da",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 816,
        "height": 304,
        "content": "## Prepare Shopify upload\n\nDownloads the approved video, creates a Shopify staged upload target, and merges the downloaded file with the upload target details."
      },
      "typeVersion": 1
    },
    {
      "id": "584f8776-298e-436d-bc43-d839911a2d2b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3680,
        96
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 320,
        "content": "## Publish video media\n\nUploads the video binary to the staged Shopify upload URL and then attaches the uploaded video as media on the original product."
      },
      "typeVersion": 1
    },
    {
      "id": "1f28cbad-a119-45d9-87f9-520496572635",
      "name": "Shopify Product Update Trigger",
      "type": "n8n-nodes-base.shopifyTrigger",
      "position": [
        608,
        448
      ],
      "webhookId": "e11aa878-96dd-48ee-86ea-762df42f76db",
      "parameters": {
        "topic": "products/update",
        "authentication": "accessToken"
      },
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "4nb8Egz7G9s48reI",
          "name": "Shopify Access Token account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "38c61b09-0eb4-4767-aa9d-9673eff3ca9c",
      "name": "Create Video with Dreem",
      "type": "n8n-nodes-dreem.dreem",
      "position": [
        1424,
        448
      ],
      "parameters": {
        "duration": "5s",
        "promptId": "e9e92395-4f54-417d-94a3-01a72d9ca90b",
        "operation": "generateVideo",
        "firstFrameUrl": "={{ $json.images[$json.images.length - 1].src }}",
        "authentication": "apiKey",
        "videoCallbackUrl": "={{ $execution.resumeUrl }}"
      },
      "credentials": {
        "dreemApi": {
          "id": "5GBktLrLSzrtFWWQ",
          "name": "Dreem - Kristian"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "f501a5d3-629e-431a-95ad-8a466dcb2f96",
      "name": "Wait for Video Render",
      "type": "n8n-nodes-base.wait",
      "position": [
        1664,
        448
      ],
      "webhookId": "0398437e-4cf4-4f90-8b5c-fe9b5ca92aba",
      "parameters": {
        "resume": "webhook",
        "options": {},
        "httpMethod": "POST",
        "resumeUnit": "minutes",
        "resumeAmount": 20,
        "limitWaitTime": true
      },
      "typeVersion": 1.1
    },
    {
      "id": "4d9c7b9c-ffa9-4e31-b515-d0abdacff9fe",
      "name": "Check Render Complete",
      "type": "n8n-nodes-base.if",
      "position": [
        1904,
        448
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body?.status ?? $json.status }}",
              "rightValue": "completed"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "90c58c80-7ece-494c-93c0-bde14df90e18",
      "name": "Send & Approve Video on Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2384,
        304
      ],
      "webhookId": "962fc1cb-0009-4a36-bfb6-e1483bcbbfd1",
      "parameters": {
        "select": "channel",
        "message": "=Approve this video for *{{ $('Shopify Product Update Trigger').item.json.title }}*? *Upload to Shopify* adds it to the product's media. *Skip* = nothing is published — the link above stays valid for ~12 hours.",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 12
            }
          }
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0BEBLUUHNZ"
        },
        "operation": "sendAndWait",
        "authentication": "oAuth2",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Upload to Shopify",
            "disapproveLabel": "Skip"
          }
        }
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "0v32Sr3K0opWEFOj",
          "name": "Slack OAuth2 API"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "7bf76044-ceac-4ad9-b6d8-217b889af2d3",
      "name": "Check Video Approval",
      "type": "n8n-nodes-base.if",
      "position": [
        2624,
        304
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b805f87f-cc98-4573-9dcf-9de666e8c386",
      "name": "Notify Slack on Timeout",
      "type": "n8n-nodes-base.slack",
      "position": [
        2848,
        688
      ],
      "webhookId": "aa73a865-f60b-4c6f-be13-317e5901cb2b",
      "parameters": {
        "text": "=Dreem video render timed out for *{{ $('Shopify Product Update Trigger').item.json.title }}*. Nothing was delivered. Check the Dreem dashboard and retry.",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0BEBLUUHNZ"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "0v32Sr3K0opWEFOj",
          "name": "Slack OAuth2 API"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "3013375d-5813-4dfa-befe-8aaddd36558a",
      "name": "Check Dreem-Video Tag",
      "type": "n8n-nodes-base.if",
      "position": [
        848,
        448
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ ($json.tags || '').split(',').map(t => t.trim()).includes('dreem-video') }}",
              "rightValue": ""
            },
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ ($json.images || []).length }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "702a4b9f-ff45-4b4e-b951-84a43cd61cf7",
      "name": "Modify Shopify Product Tag",
      "type": "n8n-nodes-base.shopify",
      "position": [
        1184,
        448
      ],
      "parameters": {
        "resource": "product",
        "operation": "update",
        "productId": "={{ $json.id }}",
        "updateFields": {
          "tags": "={{ $json.tags.split(',').map(t => t.trim()).filter(t => t !== 'dreem-video').concat('video-done').join(', ') }}"
        },
        "authentication": "accessToken"
      },
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "4nb8Egz7G9s48reI",
          "name": "Shopify Access Token account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ef12865d-2c0c-407b-ae23-af5cff338548",
      "name": "Fetch Rendered Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2880,
        176
      ],
      "parameters": {
        "url": "={{ $('Wait for Video Render').item.json.body?.outputs?.[0]?.files?.[0]?.url ?? $('Wait for Video Render').item.json.outputs?.[0]?.files?.[0]?.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "1e156926-f710-4461-aa8c-613cd6690007",
      "name": "Initiate Shopify Video Upload",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3168,
        176
      ],
      "parameters": {
        "url": "https://YOUR-STORE.myshopify.com/admin/api/2024-07/graphql.json",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify({ query: 'mutation stagedUploadsCreate($input: [StagedUploadInput!]!) { stagedUploadsCreate(input: $input) { stagedTargets { url resourceUrl parameters { name value } } userErrors { field message } } }', variables: { input: [{ filename: 'dreem-' + $('Shopify Product Update Trigger').item.json.id + '.mp4', mimeType: 'video/mp4', resource: 'VIDEO', fileSize: $json.headers['content-length'], httpMethod: 'POST' }] } }) }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyAccessTokenApi"
      },
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "4nb8Egz7G9s48reI",
          "name": "Shopify Access Token account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "b4c55b15-d9a4-4235-9483-5d90a9f85b77",
      "name": "Combine Video Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        3504,
        176
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.2
    },
    {
      "id": "87918429-dbf8-4593-ad43-740fb482d242",
      "name": "Upload Video to Shopify",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3728,
        304
      ],
      "parameters": {
        "url": "={{ $json.data.stagedUploadsCreate.stagedTargets[0].url }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "GoogleAccessId",
              "value": "={{ $json.data.stagedUploadsCreate.stagedTargets[0].parameters.find(p => p.name === 'GoogleAccessId').value }}"
            },
            {
              "name": "key",
              "value": "={{ $json.data.stagedUploadsCreate.stagedTargets[0].parameters.find(p => p.name === 'key').value }}"
            },
            {
              "name": "policy",
              "value": "={{ $json.data.stagedUploadsCreate.stagedTargets[0].parameters.find(p => p.name === 'policy').value }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.data.stagedUploadsCreate.stagedTargets[0].parameters.find(p => p.name === 'signature').value }}"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "01280328-3aab-4d80-ae23-4a0ded660f92",
      "name": "Link Video to Product",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3952,
        304
      ],
      "parameters": {
        "url": "https://YOUR-STORE.myshopify.com/admin/api/2024-07/graphql.json",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify({ query: 'mutation productCreateMedia($productId: ID!, $media: [CreateMediaInput!]!) { productCreateMedia(productId: $productId, media: $media) { media { id status } mediaUserErrors { field message } } }', variables: { productId: 'gid://shopify/Product/' + $('Shopify Product Update Trigger').item.json.id, media: [{ originalSource: $('Initiate Shopify Video Upload').item.json.data.stagedUploadsCreate.stagedTargets[0].resourceUrl, mediaContentType: 'VIDEO', alt: 'Dreem video — ' + $('Shopify Product Update Trigger').item.json.title }] } }) }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyAccessTokenApi"
      },
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "4nb8Egz7G9s48reI",
          "name": "Shopify Access Token account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "0cb76887-536a-4613-8e83-25f7e46b0b2a",
      "name": "Announce Video on Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2144,
        128
      ],
      "webhookId": "0c796c9f-e0c8-4378-b413-ae54d098144b",
      "parameters": {
        "text": "=*Dreem video ready* for *{{ $('Shopify Product Update Trigger').item.json.title }}*\n{{ $('Wait for Video Render').item.json.body?.outputs?.[0]?.files?.[0]?.url ?? $('Wait for Video Render').item.json.outputs?.[0]?.files?.[0]?.url }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0BEBLUUHNZ"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "0v32Sr3K0opWEFOj",
          "name": "Slack OAuth2 API"
        }
      },
      "typeVersion": 2.5
    }
  ],
  "active": false,
  "pinData": {
    "Shopify Product Update Trigger": [
      {
        "json": {
          "id": 8009086369875,
          "tags": "dreem-video, every-age-done",
          "image": {
            "id": 41800612937811,
            "alt": null,
            "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/light-blue-shirt.png?v=1782903702",
            "width": 852,
            "height": 1124,
            "position": 1,
            "created_at": "2026-07-01T07:01:41-04:00",
            "product_id": 8009086369875,
            "updated_at": "2026-07-01T07:02:04-04:00",
            "variant_ids": [],
            "admin_graphql_api_id": "gid://shopify/ProductImage/41800612937811"
          },
          "media": [
            {
              "id": 33085365321811,
              "alt": null,
              "status": "READY",
              "position": 1,
              "created_at": "2026-07-01T07:01:41-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-01T07:02:04-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/light-blue-shirt.png?v=1782903702",
                "width": 852,
                "height": 1124,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33085365321811"
            },
            {
              "id": 33091815112787,
              "alt": null,
              "status": "READY",
              "position": 2,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_389f5a7e.jpg?v=1782995916",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091815112787"
            },
            {
              "id": 33091815145555,
              "alt": null,
              "status": "READY",
              "position": 3,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_cc67e35b.jpg?v=1782995916",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091815145555"
            },
            {
              "id": 33091815178323,
              "alt": null,
              "status": "READY",
              "position": 4,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_c1ce159e.jpg?v=1782995916",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091815178323"
            },
            {
              "id": 33091815211091,
              "alt": null,
              "status": "READY",
              "position": 5,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_1619fc02.jpg?v=1782995916",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091815211091"
            },
            {
              "id": 33091815243859,
              "alt": null,
              "status": "READY",
              "position": 6,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_e9204fb8.jpg?v=1782995916",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091815243859"
            },
            {
              "id": 33091854598227,
              "alt": null,
              "status": "READY",
              "position": 7,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_c084edf4.jpg?v=1782996384",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091854598227"
            },
            {
              "id": 33091854630995,
              "alt": null,
              "status": "READY",
              "position": 8,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_183cb2ac.jpg?v=1782996384",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091854630995"
            },
            {
              "id": 33091854663763,
              "alt": null,
              "status": "READY",
              "position": 9,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_15b5e13c.jpg?v=1782996384",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091854663763"
            },
            {
              "id": 33091854696531,
              "alt": null,
              "status": "READY",
              "position": 10,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_84da857a.jpg?v=1782996384",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091854696531"
            },
            {
              "id": 33091854729299,
              "alt": null,
              "status": "READY",
              "position": 11,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "preview_image": {
                "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_36243868.jpg?v=1782996384",
                "width": 928,
                "height": 1152,
                "status": "READY"
              },
              "media_content_type": "IMAGE",
              "admin_graphql_api_id": "gid://shopify/MediaImage/33091854729299"
            }
          ],
          "title": "Blue Shirt",
          "handle": "blue-shirt",
          "images": [
            {
              "id": 41800612937811,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/light-blue-shirt.png?v=1782903702",
              "width": 852,
              "height": 1124,
              "position": 1,
              "created_at": "2026-07-01T07:01:41-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-01T07:02:04-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41800612937811"
            },
            {
              "id": 41807322218579,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_389f5a7e.jpg?v=1782995916",
              "width": 928,
              "height": 1152,
              "position": 2,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807322218579"
            },
            {
              "id": 41807322251347,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_cc67e35b.jpg?v=1782995916",
              "width": 928,
              "height": 1152,
              "position": 3,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807322251347"
            },
            {
              "id": 41807322284115,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_c1ce159e.jpg?v=1782995916",
              "width": 928,
              "height": 1152,
              "position": 4,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807322284115"
            },
            {
              "id": 41807322316883,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_1619fc02.jpg?v=1782995916",
              "width": 928,
              "height": 1152,
              "position": 5,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807322316883"
            },
            {
              "id": 41807322349651,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_e9204fb8.jpg?v=1782995916",
              "width": 928,
              "height": 1152,
              "position": 6,
              "created_at": "2026-07-02T08:38:36-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:38:36-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807322349651"
            },
            {
              "id": 41807361179731,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_c084edf4.jpg?v=1782996384",
              "width": 928,
              "height": 1152,
              "position": 7,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807361179731"
            },
            {
              "id": 41807361212499,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_183cb2ac.jpg?v=1782996384",
              "width": 928,
              "height": 1152,
              "position": 8,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807361212499"
            },
            {
              "id": 41807361245267,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_15b5e13c.jpg?v=1782996384",
              "width": 928,
              "height": 1152,
              "position": 9,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807361245267"
            },
            {
              "id": 41807361278035,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_84da857a.jpg?v=1782996384",
              "width": 928,
              "height": 1152,
              "position": 10,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807361278035"
            },
            {
              "id": 41807361310803,
              "alt": null,
              "src": "https://cdn.shopify.com/s/files/1/0715/0197/1539/files/virtual_model_36243868.jpg?v=1782996384",
              "width": 928,
              "height": 1152,
              "position": 11,
              "created_at": "2026-07-02T08:46:24-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-02T08:46:24-04:00",
              "variant_ids": [],
              "admin_graphql_api_id": "gid://shopify/ProductImage/41807361310803"
            }
          ],
          "status": "active",
          "vendor": "Nova Fashion",
          "options": [
            {
              "id": 10258790449235,
              "name": "Title",
              "values": [
                "Default Title"
              ],
              "position": 1,
              "product_id": 8009086369875
            }
          ],
          "category": {
            "name": "Shirts",
            "full_name": "Apparel & Accessories > Clothing > Clothing Tops > Shirts",
            "admin_graphql_api_id": "gid://shopify/TaxonomyCategory/aa-1-13-7"
          },
          "variants": [
            {
              "id": 45756373631059,
              "sku": null,
              "price": "0.00",
              "title": "Default Title",
              "barcode": null,
              "option1": "Default Title",
              "option2": null,
              "option3": null,
              "taxable": true,
              "image_id": null,
              "position": 1,
              "created_at": "2026-07-01T07:02:03-04:00",
              "product_id": 8009086369875,
              "updated_at": "2026-07-01T07:02:03-04:00",
              "compare_at_price": null,
              "inventory_policy": "deny",
              "inventory_item_id": 47880404107347,
              "inventory_quantity": 0,
              "admin_graphql_api_id": "gid://shopify/ProductVariant/45756373631059",
              "old_inventory_quantity": 0
            }
          ],
          "body_html": "",
          "created_at": "2026-07-01T07:02:03-04:00",
          "updated_at": "2026-07-02T08:56:08-04:00",
          "product_type": "",
          "published_at": "2026-07-01T07:02:04-04:00",
          "variant_gids": [
            {
              "updated_at": "2026-07-01T11:02:03.000Z",
              "admin_graphql_api_id": "gid://shopify/ProductVariant/45756373631059"
            }
          ],
          "published_scope": "global",
          "template_suffix": "",
          "admin_graphql_api_id": "gid://shopify/Product/8009086369875",
          "has_variants_that_requires_components": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "353ed224-4b6d-43d6-b173-087e9749694c",
  "nodeGroups": [],
  "connections": {
    "Combine Video Data": {
      "main": [
        [
          {
            "node": "Upload Video to Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Approval": {
      "main": [
        [
          {
            "node": "Fetch Rendered Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Rendered Video": {
      "main": [
        [
          {
            "node": "Initiate Shopify Video Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Video Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Dreem-Video Tag": {
      "main": [
        [
          {
            "node": "Modify Shopify Product Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Complete": {
      "main": [
        [
          {
            "node": "Announce Video on Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack on Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Render": {
      "main": [
        [
          {
            "node": "Check Render Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Announce Video on Slack": {
      "main": [
        [
          {
            "node": "Send & Approve Video on Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video with Dreem": {
      "main": [
        [
          {
            "node": "Wait for Video Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Shopify": {
      "main": [
        [
          {
            "node": "Link Video to Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Shopify Product Tag": {
      "main": [
        [
          {
            "node": "Create Video with Dreem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate Shopify Video Upload": {
      "main": [
        [
          {
            "node": "Combine Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send & Approve Video on Slack": {
      "main": [
        [
          {
            "node": "Check Video Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Product Update Trigger": {
      "main": [
        [
          {
            "node": "Check Dreem-Video Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
